@inject IJSRuntime JsRuntime
@using Aig.Farmacoterapia.Domain.Entities
@using Aig.Farmacoterapia.Domain.Entities.Enums
@inject IJSRuntime JS
<!-- Modal Creat/Edit -->
<div class="modal show fade" style="display:block;overflow-y:auto!important;" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@(ModelData.Id > 0? "Editar" : "Nuevo")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@Cancel">
                </button>
            </div>
            <div class="modal-body">

                <!--begin::Portlet-->
                <div class="kt-portlet" style="margin-bottom:0px !important;">

                    <EditForm Model="@ModelData" OnValidSubmit="SaveData" class="kt-form kt-form--label-right">
                        <DataAnnotationsValidator />

                            <div class="kt-portlet__body">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#" data-target="#kt_tabs_1_1">Información General</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_2">Monografía</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_3">Prospecto</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div>
                                                            <label>Presentación</label>
                                                            <InputText type="text" class="form-control" @bind-Value="ModelData.Code" />
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.Code) /></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div>
                                                            <label>Código</label>
                                                            <InputText type="text" class="form-control" @bind-Value="ModelData.Code"/>
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.Code)/></p>
                                                        </div>
                                                    </div>
                                                     <div class="col-lg-3">
                                                        <div>
                                                            <label>Marca</label>
                                                            <InputText type="text" class="form-control" @bind-Value="ModelData.Code"/>
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.Code)/></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div>
                                                            <label>Estado</label>
                                                            <InputSelect class="form-control" @bind-Value="ModelData.AuthorizationStatus">
                                                                @foreach (var gender in Enum.GetValues(typeof(TipoEstado))){
                                                                    <option value="@gender">@gender</option>
                                                                }
                                                            </InputSelect>
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.AuthorizationStatus) /></p>
                                                        </div>
                                                    </div>
                                                     <div class="col-lg-3">
                                                        <div>
                                                            <label>Num. Autorización</label>
                                                            <InputText type="text" class="form-control" @bind-Value="ModelData.AuthorizationNum"/>
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.AuthorizationNum)/></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div>
                                                            <label>Fec. Autorización</label>
                                                            <InputDate class="form-control" @bind-Value="ModelData.AuthorizationDate"/>
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.AuthorizationDate)/></p>
                                                        </div>
                                                    </div>
                                                     <div class="col-lg-3">
                                                        <div>
                                                            <label>Fabricante</label>
                                                            <InputText type="text" class="form-control" @bind-Value="ModelData.AuthorizationNum"/>
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.AuthorizationNum)/></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-lg-12">                                                   
                                                      <div class="kt-checkbox-inline">
														<label class="kt-checkbox">
															<InputCheckbox @bind-Value="ModelData.MedicalPrescription"/>Con receta
															<span></span>
														</label>
														<label class="kt-checkbox">
															<InputCheckbox @bind-Value="ModelData.AdditionalTracking"/>Seguimiento adicional
															<span></span>
														</label>
                                                        <label class="kt-checkbox">
															<InputCheckbox @bind-Value="ModelData.Orphan"/>Huérfano
															<span></span>
														</label>
                                                        <label class="kt-checkbox">
															<InputCheckbox @bind-Value="ModelData.Biosimilar"/>Biosimilar
															<span></span>
														</label>
														<label class="kt-checkbox">
															<InputCheckbox @bind-Value="ModelData.Marketed"/> Comercializado
															<span></span>
														</label>
                                                        <label class="kt-checkbox">
															<InputCheckbox @bind-Value="ModelData.ParallelImports"/>Imp. Paralelas
															<span></span>
														</label>
											    	 </div>
                                                   </div>
                                                 </div>
                                                 <hr />
                                                 <div class="row">
                                                    <div class="col-lg-12">
                                                        <div>
                                                            <label>Principios Activos</label>
                                                            <textarea rows="4" id="active_principles" class="form-control" @bind="ModelData.DataSheet.ActivePrinciples" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.DataSheet.ActivePrinciples) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                              <div class="row">
                                                    <div class="col-lg-12">
                                                        <div>
                                                            <label>Excipientes</label>
                                                             <textarea rows="4" id="excipientes" class="form-control" @bind="ModelData.DataSheet.Excipients" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.DataSheet.Excipients) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">

                                              <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Medicamento</label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.Name" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.DataSheet.Name) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Composición Cualitativa y Cuantitativa</label>
                                                             <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.Composition" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.DataSheet.Composition) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Forma Farmacéutica</label>
                                                             <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.PharmaceuticalForm" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.DataSheet.PharmaceuticalForm) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                               @* <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Principios Activos</label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.ActivePrinciples" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.DataSheet.ActivePrinciples) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                              <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Excipientes</label>
                                                             <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.Excipients" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() => ModelData.DataSheet.Excipients) /></p>
                                                        </div>
                                                    </div>
                                                </div>*@
                                                  <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Propiedades Framacológicas</label>
                                                             <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.PharmacologicalProperties" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.DataSheet.PharmacologicalProperties) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Propiedades Farmacodinámicas y Farmcocinéticas</label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.PharmacodynamicProperties" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.DataSheet.PharmacodynamicProperties) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Idicaciones Terapéuticas</label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.TherapeuticIndications" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.DataSheet.TherapeuticIndications) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Contraindicaciones</label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.Contraindications" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.DataSheet.Contraindications) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Efectos sobre la capacidad de conducir</label>
                                                             <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.EffectsOnDrive" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.DataSheet.EffectsOnDrive) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Interacciones</label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.Interaction" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.DataSheet.Interaction) /></p>
                                                        </div>
                                                    </div>
                                                </div>  
                                                  <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Reacciones Adversas</label>
                                                             <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.AdverseReactions" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.DataSheet.AdverseReactions) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Posología y Formas de Administración</label>
                                                             <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.Dosage" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.DataSheet.Dosage) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Sobredosificación</label>
                                                             <textarea rows="4" class="form-control" @bind="ModelData.DataSheet.OverDose" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.DataSheet.OverDose) /></p>
                                                        </div>
                                                    </div>
                                                </div>
    
                                    </div>
                                    <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                                         <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Descripción</label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.Prospectus.Description" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.Prospectus.Description) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>En que consiste medicamento</label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.Prospectus.WhatIsIt" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.Prospectus.WhatIsIt) /></p>
                                                        </div>
                                                    </div>
                                               </div>
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Qué necesita saber antes de empezar </label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.Prospectus.WhatDoYouNeed" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.Prospectus.WhatDoYouNeed) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Cómo tomarlo </label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.Prospectus.WayOfUse" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.Prospectus.WayOfUse) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Posibles efectos adversos </label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.Prospectus.AdverseEffects" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.Prospectus.AdverseEffects) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Conservación </label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.Prospectus.Conservation" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.Prospectus.AdverseEffects) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Contenido del envase</label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.Prospectus.Content" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.Prospectus.Content) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <div>
                                                            <label>Información adicional </label>
                                                            <textarea rows="4" class="form-control" @bind="ModelData.Prospectus.Content" @bind:event="oninput" />
                                                            <p class="invalid"><ValidationMessage For=@(() =>ModelData.Prospectus.Content) /></p>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>

                        <div class="kt-portlet__foot" style="padding:10px!important">
                            <div class="kt-form__actions text-right">

                                <button type="button" class="btn btn-secondary" @onclick="@Cancel">Cancel</button>

                                <button type="submit" class="btn btn-primary">Save</button>

                            </div>
                        </div>
                    </EditForm>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade show"></div>


@code {
    [Parameter] public EventCallback<long> OnClose { get; set; }
    [Parameter] public ProductObject ModelData { get; set; }
    protected async override Task OnInitializedAsync()
    {
        ModelData = new ProductObject() {
                DataSheet = new DataSheet(),
                DataSheetHtml = new DataSheet(),
                Prospectus = new Prospectus()};
        base.OnInitialized();
    }

    private Task Cancel()
    {
        return OnClose.InvokeAsync(0);
    }
    private Task Ok(long id)
    {
        return OnClose.InvokeAsync(id);
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {    
            await JS.InvokeVoidAsync("TextEditor", "#active_principles");
            await JS.InvokeVoidAsync("TextEditor", "#excipientes");
        }
    }

    protected async Task SaveData()
    {
        await JsRuntime.InvokeVoidAsync("ShowMessage", "Successfully");
        Ok(1);

        //var result = await MainService.Save(ModelData);
        //if (result != null)
        //{
        //    await JsRuntime.InvokeVoidAsync("ShowMessage", "Successfully");
        //   ModelData = await MainService.Get(ModelData.Id);
        //    Ok(result.Id);
        //}
        //else
        //    await JsRuntime.InvokeVoidAsync("ShowError", "Error");
    }
}

