<style>

    .mud-dialog .mud-dialog-content {
        padding: 0px !important;
    }

    .mud-dialog-content {
        padding: 0px !important;
    }

    .mud-container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
</style>
<MudDialog>
    <DialogContent>
        <MudContainer Style="max-height: 80vh; overflow-y: scroll!important">
            <EditForm Model="@User" OnValidSubmit="SaveData">
                <DataAnnotationsValidator />
                <MudCard Outlined="false" Elevation="0">
                    @*<MudCardHeader>
                    <CardHeaderContent>
                    <MudText>@(Currency.Id > 0 ? "New" : "Edit") Currency</MudText>
                    </CardHeaderContent>
                    </MudCardHeader>*@
                    <MudCardContent>
                        <MudText Typo="Typo.h6" Color="Color.Primary">Account Information</MudText>
                        <MudGrid>
                            <MudItem xs="12" md="6">
                                <MudTextField Margin="Margin.Dense" InputType="InputType.Password" @bind-Value="User.Password" Label="New Password" Variant="Variant.Outlined" For="@(() => User.Password)" />
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudTextField Margin="Margin.Dense" InputType="InputType.Password" @bind-Value="User.PasswordConfirm" Label="Confirm Password" Variant="Variant.Outlined" For="@(() => User.PasswordConfirm)" />
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                    <MudCardActions Class="pt-4 pl-4">
                        <div style="text-align:right;" class="ml-auto">
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Class="ma-1">Save</MudButton>
                            <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Error" Size="Size.Large" Class="ma-1" OnClick="Cancel">Cancel</MudButton>
                        </div>
                    </MudCardActions>
                </MudCard>
            </EditForm>

        </MudContainer>
    </DialogContent>
    @*<DialogActions>
    <MudButton OnClick="Cancel">Cancel</MudButton>
    <MudButton Color="@Color" Variant="Variant.Filled" OnClick="Submit">@ButtonText</MudButton>
    </DialogActions>*@
</MudDialog>