@using DataModel.Helper;

@if (Data != null)
{
    <div class="modal fade show" id="exampleModal" tabindex="-1" style="display: block;overflow-y: auto;" aria-modal="true" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">@(Data != null && Data.Id > 0 ? @languageContainerService.Keys["Edit"] : @languageContainerService.Keys["Nueva"]) @languageContainerService.Keys["FF"]</h5>
                    <button type="button" class="close" @onclick="(e)=>{Cancel();}"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <EditForm Model="@Data" OnValidSubmit="SaveData">
                        <DataAnnotationsValidator />
                        <ul class="nav nav-tabs  nav-tabs-line nav-tabs-line-2x nav-tabs-line-primary nav-tabs-bold" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#generalInfo" role="tab">@languageContainerService.Keys["GeneralInfo"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#products" role="tab">@languageContainerService.Keys["Fallas Reportadas"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#otrasEspecInfo" role="tab">@languageContainerService.Keys["Acciones y Resultados"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#observaInfo" role="tab">@languageContainerService.Keys["Estatus"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#attachments" role="tab">@languageContainerService.Keys["Attachments"]</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="generalInfo" role="tabpanel">
                                <h4>@languageContainerService.Keys["GeneralInfo"]</h4>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Código del CNFV"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.CodCNFV" />
                                                <ValidationMessage For=@(() => Data.CodCNFV) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Código Externo"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.CodExt" />
                                                <ValidationMessage For=@(() => Data.CodExt) />
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fecha de Recibido (CNFV)"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                                <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="Data.FechaRecibidoCNFV" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Data.FechaRecibidoCNFV) />
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fecha Entrega a Evaluador"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker Max="DateTime.Today" Min="Data.FechaRecibidoCNFV" TValue="DateTime?" @bind-Value="Data.FechaEntregaEva" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Data.FechaEntregaEva) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["Evaluator"]</label>
                                        <div class="form-group">
                                            <div class="form-line">                                              
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.EvaluadorId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@lEvaluators TextProperty="NombreCompleto" ValueProperty="Id"
                                                                Change=@(args => {OnEvaluatorChange((args!=null?(long)args:null));}) />

                                                <ValidationMessage For=@(() => Data.EvaluadorId) />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Fármaco Sospechoso (Comercial)"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.NombreComercial" />
                                                <ValidationMessage For=@(() => Data.NombreComercial) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Fármaco Sospechoso (DCI)"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.NombreDci" />
                                                <ValidationMessage For=@(() => Data.NombreDci) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Presentación"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.Presentacion" />
                                                <ValidationMessage For=@(() => Data.Presentacion) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["ATC"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                @*  <InputText class="form-control" @bind-Value="Data.Atc" />*@
                                                <input type="text" class="form-control" @bind-value="@Data.ATC" @bind-value:event="oninput" @onkeyup="() => OnAtcChanged()">
                                                <ValidationMessage For=@(() => Data.ATC) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Sub-Grupo Terapéutico"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText disabled="disabled" class="form-control" @bind-Value="Data.SubGrupoTerapeutico" />
                                                <ValidationMessage For=@(() => Data.SubGrupoTerapeutico) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Fabricante"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                @*<InputText class="form-control" @bind-Value="Data.Fabricante" />
                                                <ValidationMessage For=@(() => Data.Fabricante) />*@
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.FabricanteId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@Labs TextProperty="Nombre" ValueProperty="Id" />
                                                <ValidationMessage For=@(() => Data.FabricanteId) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Lotes"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="4" class="form-control" @bind-Value="Data.Lote" />
                                                <ValidationMessage For=@(() => Data.Lote) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Fecha Expiración"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="4" class="form-control" @bind-Value="Data.FechaExp" />
                                                <ValidationMessage For=@(() => Data.FechaExp) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Reg. Sanitario"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText rows="4" class="form-control" @bind-Value="Data.RegSanitario" />
                                                <ValidationMessage For=@(() => Data.RegSanitario) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Tipo de Notificador"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Data.TipoNotificacion" class="form-control">
                                                @foreach (enumFMV_RAMNotificationType dt in Enum.GetValues(typeof(enumFMV_RAMNotificationType)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Data.TipoNotificacion) />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Tipo de Organización"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">                                               
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.TipoInstitucionId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@lTipoInstitucion TextProperty="Nombre" ValueProperty="Id"
                                                                Change=@(args => {OnChangeTipoInstitucion((args!=null?(long)args:null));}) />
                                                <ValidationMessage For=@(() => Data.TipoInstitucionId) />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Provincia"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                @*<InputText class="form-control" @bind-Value="Data.ProvRegionOrigen" />*@
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.ProvinciaId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@lProvincias TextProperty="Nombre" ValueProperty="Id"
                                                                Change=@(args => {OnChangeProvincia((args!=null?(long)args:null));}) />
                                                <ValidationMessage For=@(() => Data.ProvinciaId) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Organización"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                @*<InputText class="form-control" @bind-Value="Data.NombreOrgInst" />*@
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.InstitucionId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@lInstitucionDestino TextProperty="Nombre" ValueProperty="Id" />
                                                <ValidationMessage For=@(() => Data.InstitucionId) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Nombre Notificador"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText rows="4" class="form-control" @bind-Value="Data.Notificador" />
                                                <ValidationMessage For=@(() => Data.Notificador) />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="products" role="tabpanel">
                                <h5>@languageContainerService.Keys["Fallas Reportadas"]</h5>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Olor"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.FallaReportada.Olor" class="form-control">
                                                    @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.FallaReportada.Olor) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Color"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.FallaReportada.Color" class="form-control">
                                                    @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.FallaReportada.Color) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Sabor"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.FallaReportada.Sabor" class="form-control">
                                                    @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.FallaReportada.Sabor) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Separación de Fases"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.FallaReportada.SepFases" class="form-control">
                                                    @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.FallaReportada.SepFases) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Partículas Extrañas"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.FallaReportada.ParExtrana" class="form-control">
                                                    @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.FallaReportada.ParExtrana) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Contaminación"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.FallaReportada.Contaminacion" class="form-control">
                                                    @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.FallaReportada.Contaminacion) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Problemas de Disolución"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.FallaReportada.ProDisolucion" class="form-control">
                                                    @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.FallaReportada.ProDisolucion) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Problemas de Desintegración"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.FallaReportada.ProDesintegracion" class="form-control">
                                                    @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.FallaReportada.ProDesintegracion) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Otros"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.FallaReportada.Otros" class="form-control">
                                                    @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.FallaReportada.Otros) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Detalle de Falla Reportada"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="8" class="form-control" @bind-Value="Data.FallaReportada.DetFallaReport" />
                                                <ValidationMessage For=@(() => Data.FallaReportada.DetFallaReport) />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="otrasEspecInfo" role="tabpanel">
                                <h5>@languageContainerService.Keys["Acciones y Resultados"]</h5>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Revisión de RS (Especificaciones, inserto, otro)"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.OtrasEspecificaciones.RevisionRs" class="form-control">
                                                    @foreach (enumFMV_FfAcciones dt in Enum.GetValues(typeof(enumFMV_FfAcciones)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.OtrasEspecificaciones.RevisionRs) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Monitoreo"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.OtrasEspecificaciones.Monitoreo" class="form-control">
                                                    @foreach (enumFMV_FfAcciones dt in Enum.GetValues(typeof(enumFMV_FfAcciones)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.OtrasEspecificaciones.Monitoreo) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Notificacion al RFV"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.OtrasEspecificaciones.NotificacionRFV" class="form-control">
                                                    @foreach (enumFMV_FfAcciones dt in Enum.GetValues(typeof(enumFMV_FfAcciones)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.OtrasEspecificaciones.NotificacionRFV) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Control de Calidad"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.OtrasEspecificaciones.ControlCalidad" class="form-control">
                                                    @foreach (enumFMV_FfAcciones dt in Enum.GetValues(typeof(enumFMV_FfAcciones)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.OtrasEspecificaciones.ControlCalidad) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Resultados de Control de Calidad"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.OtrasEspecificaciones.ResultControlCalidad" class="form-control">
                                                    @foreach (enumFMV_FfResultControlCal dt in Enum.GetValues(typeof(enumFMV_FfResultControlCal)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.OtrasEspecificaciones.ResultControlCalidad) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Investigación de Campo"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.OtrasEspecificaciones.InvestCampo" class="form-control">
                                                    @foreach (enumFMV_FfAcciones dt in Enum.GetValues(typeof(enumFMV_FfAcciones)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.OtrasEspecificaciones.InvestCampo) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Investigación al DAC"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.OtrasEspecificaciones.InvestDAC" class="form-control">
                                                    @foreach (enumFMV_FfAcciones dt in Enum.GetValues(typeof(enumFMV_FfAcciones)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.OtrasEspecificaciones.InvestDAC) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Acciones Regulatorias Recomendadas"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.OtrasEspecificaciones.AccRegRecomendada" class="form-control">
                                                    @foreach (enumFMV_FfRecomendAccRegulat dt in Enum.GetValues(typeof(enumFMV_FfRecomendAccRegulat)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.OtrasEspecificaciones.AccRegRecomendada) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Grado"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputNumber class="form-control" @bind-Value="Data.OtrasEspecificaciones.Grado" />
                                                <ValidationMessage For=@(() => Data.OtrasEspecificaciones.Grado) />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="observaInfo" role="tabpanel">
                                <h5>@languageContainerService.Keys["Estatus"]</h5>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Incidencia del Caso"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Data.IncidenciaCaso" class="form-control">
                                                @foreach (enumFMV_FfTipoIncidenciaCaso dt in Enum.GetValues(typeof(enumFMV_FfTipoIncidenciaCaso)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Data.IncidenciaCaso) />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fecha de Trámite"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="Data.FechaTramite" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Data.FechaTramite) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fecha de Evaluación"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="Data.FechaEvalua" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Data.FechaEvalua) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Estatus"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Data.Estatus" class="form-control">
                                                    @foreach (enumFMV_RAMStatus dt in Enum.GetValues(typeof(enumFMV_RAMStatus)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Data.Estatus) />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Resoluciones Emitidas"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="8" class="form-control" @bind-Value="Data.ResolEmitidas" />
                                                <ValidationMessage For=@(() => Data.ResolEmitidas) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Observaciones"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="8" class="form-control" @bind-Value="Data.Observaciones" />
                                                <ValidationMessage For=@(() => Data.Observaciones) />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="attachments" role="tabpanel">
                                <h5>@languageContainerService.Keys["Attachments"]</h5>
                                <div class="row clearfix">
                                    <div class="col-9" style="text-align:left;">
                                    </div>
                                    <div class="col-3" style="text-align:right;">
                                        <button type="button" @onclick="(e)=>{OpenAttachment();}"
                                                class="btn btn-sm btn-outline-primary waves-effect">
                                            @languageContainerService.Keys["Add"]
                                        </button>
                                    </div>
                                </div>
                                <!--begin::Section-->
                                <div class="kt-section">
                                    <div class="table-responsive">
                                        <table class="table rounded table-striped">
                                            <thead class=thead-light>
                                                <tr>
                                                    <th>@languageContainerService.Keys["Description"]</th>
                                                    <th>@languageContainerService.Keys["File"]</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Data != null && Data.Adjunto != null)
                                                {
                                                    @foreach (var dt in Data.Adjunto.LAttachments)
                                                    {
                                                        <tr>
                                                            <td scope="row">@dt.Description</td>
                                                            <td>
                                                                <NavLink href="@dt.Url" target="_blank">@languageContainerService.Keys["ViewAttachemnt"]</NavLink>
                                                            </td>
                                                            <td style="text-align:right">
                                                                <button type="button" class="btn btn-danger" @onclick="(e)=>{RemoveAttachment(dt);}">@languageContainerService.Keys["Delete"]</button>

                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <br>
                        <div class="modal-footer">

                            <button type="submit"
                                    class="btn btn-info waves-effect">
                                @languageContainerService.Keys["Save"]
                            </button>

                            <button type="button" class="btn btn-danger waves-effect"
                            @onclick="(e)=>{Cancel();}">
                                @languageContainerService.Keys["Cancel"]
                            </button>
                        </div>


                    </EditForm>

                </div>


            </div>
        </div>
    </div>


    @if (openAttachment)
    {
        <Aig.FarmacoVigilancia.Components.Attachments.AddEditAttachment attachment="@attachment"></Aig.FarmacoVigilancia.Components.Attachments.AddEditAttachment>
    }

}


<div class="modal-backdrop fade show"></div>
