@implements IDisposable


<MudDialog>
    <DialogContent>
        <MudContainer Style="max-height: 80vh; overflow-y: scroll!important">
            @if (Data != null)
            {
                <EditForm Model="@Data" OnValidSubmit="SaveData">
                    <DataAnnotationsValidator />
                    <MudCard Outlined="false" Elevation="0">
                        <MudCardContent>
                            <MudPaper Class="pa-2" Elevation="0">
                                <MudGrid>
                                    <MudItem xs="12">
                                        <MudTextField Margin="Margin.Dense" @bind-Value="Data.Nombre" For="@(() => Data.Nombre)" Label="Nombre del Producto" Variant="Variant.Outlined" />
                                    </MudItem>
                                    <MudItem xs="6">
                                        <MudTextField Margin="Margin.Dense" @bind-Value="Data.Fabricante" For="@(() => Data.Fabricante)" Label="Fabricante" Variant="Variant.Outlined" />
                                    </MudItem>
                                    <MudItem xs="6">
                                        <MudTextField Margin="Margin.Dense" @bind-Value="Data.Lote" For="@(() => Data.Lote)" Label="Lote" Variant="Variant.Outlined" />
                                    </MudItem>
                                    <MudItem xs="12" md="6">
                                        <MudDatePicker PickerVariant="PickerVariant.Dialog" Margin="Margin.Dense" @bind-Date="@(Data.FechaVencimiento)" For="@(() => Data.FechaVencimiento)" DateFormat="dd/MM/yyyy" Variant="Variant.Outlined" Label="Vencimiento" />
                                    </MudItem>
                                    <MudItem xs="6">
                                        <MudTextField Margin="Margin.Dense" @bind-Value="Data.Existencia" For="@(() => Data.Existencia)" Label="Inventario Realizado" Variant="Variant.Outlined" />
                                    </MudItem>
                                    <MudItem xs="6">
                                        <MudTextField Margin="Margin.Dense" @bind-Value="Data.RegistroSistema" For="@(() => Data.RegistroSistema)" Label="Cant. Registrada en Libro o Sistema" Variant="Variant.Outlined" />
                                    </MudItem>
                                    <MudItem xs="12">
                                        <MudTextField Margin="Margin.Dense" @bind-Value="Data.Motivos" For="@(() => Data.Motivos)" Label="Observaciones" Variant="Variant.Outlined" Lines="8"/>
                                    </MudItem>
                                </MudGrid>                               
                            </MudPaper>
                        </MudCardContent>
                        <MudCardActions Class="pt-4 pl-4">
                            <div style="text-align:right;" class="ml-auto">
                                <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium" Class="ma-1" OnClick="Cancel" StartIcon="@Icons.Material.Filled.Cancel">Cancelar</MudButton>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="ma-1" StartIcon="@Icons.Material.Filled.Save">Guardar</MudButton>
                            </div>
                        </MudCardActions>
                        <MudOverlay Visible="loading" DarkBackground="true" Absolute="true">
                            <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
                        </MudOverlay>
                    </MudCard>
                </EditForm>
            }
        </MudContainer>
    </DialogContent>
</MudDialog>
