@implements IDisposable


@switch (selectedChapter)
{
    case DataModel.Helper.enumSelectedChapter.None:
        {
            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            @(Inspeccion != null && Inspeccion.Id > 0 ? "ACTA: " + Inspeccion.NumActa : @languageContainerService.Keys["NewInspection"]) - @(DataModel.Helper.Helper.GetDescription(Inspeccion.TipoActa))
                                        </h3>                                       
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-actions">
                                            <button type="button" class="btn btn-danger btn-sm btn-bold"
                                        @onclick="(e)=>{Cancel();}">
                                                @languageContainerService.Keys["Cerrar"]
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="kt-section">
                                                <div class="table-responsive">
                                                    <table class="table rounded table-striped">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th colspan="2">
                                                                    <h5>
                                                                        @languageContainerService.Keys["Seleccione el Capítulo a Desarrollar"]
                                                                    </h5>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Información General"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{ SelectChapter(DataModel.Helper.enumSelectedChapter.Cap01);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Información del Representante Legal o Propietario"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap02);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Datos sobre el Regente Farmacéutico de la Empresa"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap03);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Funcionarios de la Empresa"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap04);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">
                                                                    @languageContainerService.Keys["Información General"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap05);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Capítulo 5"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap06);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Capítulo 6"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap07);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Capítulo 7"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap08);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Capítulo 8"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap09);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Capítulo 9"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap10);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Capítulo 10"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap11);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Capítulo 11"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap12);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Capítulo 12"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap13);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Capítulo 13"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap14);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Capítulo 14"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap15);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Capítulo 15"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap16);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Capítulo 16"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap17);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>                                                           <tr>
                                                                <td scope="row">@languageContainerService.Keys["Conclusiones"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap18);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">@languageContainerService.Keys["Firmas"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap19);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap01:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap01 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap01>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap02:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap02 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap02>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap03:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap03 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap03>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap04:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap04 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap04>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap05:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap05 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap05>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap06:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap06 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap06>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap07:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap07 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap07>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap08:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap08 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap08>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap09:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap09 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap09>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap10:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap10 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap10>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap11:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap11 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap11>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap12:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap12 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap12>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap13:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap13 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap13>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap14:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap14 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap14>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap15:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap15 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap15>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap16:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap16 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap16>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap17:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap17 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.Cap17>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap18:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.CapConclusion Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.CapConclusion>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap19:
        {
            <Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.CapFirmas Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._14_BpmFabNaturalesMed.CapFirmas>
            break;
        }
}

@if (showSelectEstablecimiento)
{
    <Aig.Auditoria.Components.Inspections.SeleccionarEstablecimiento Data="@Inspeccion.DatosEstablecimiento"></Aig.Auditoria.Components.Inspections.SeleccionarEstablecimiento>
}