@using DataModel.Helper;

<div class="modal fade show" id="exampleModal" tabindex="-1" style="display: block;overflow-y: auto;" aria-modal="true" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">@(Inspeccion != null && Inspeccion.Id > 0 ? "ACTA: " + Inspeccion.NumActa : @languageContainerService.Keys["NewInspection"]) - @(DataModel.Helper.Helper.GetDescription(Inspeccion.TipoActa))</h5>
                <button type="button" class="close" @onclick="(e)=>{Cancel();}"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <EditForm Model="@Inspeccion" OnValidSubmit="SaveData">
                    <DataAnnotationsValidator />
                    <ul class="nav nav-tabs  nav-tabs-line nav-tabs-line-2x nav-tabs-line-primary nav-tabs-bold" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#datosGenerales" role="tab">@languageContainerService.Keys["Datos Generales"]</a>
                        </li>                       
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#cap1" role="tab">@languageContainerService.Keys["Documentación"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#cap2" role="tab">@languageContainerService.Keys["Locales"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#cap3" role="tab">@languageContainerService.Keys["Área de Almacenamiento"]</a>
                        </li>                       
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#conclusionInfo" role="tab">@languageContainerService.Keys["ConclusionInfo"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#inspectorsApprovals" role="tab" @onclick="(e)=>{OnShowSignasure();}">@languageContainerService.Keys["Firmas"]</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="datosGenerales" role="tabpanel">
                            <h5>@languageContainerService.Keys["Datos Generales"]</h5>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["StartDate"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <RadzenDatePicker TValue="DateTime" @bind-Value="Inspeccion.FechaInicio" ShowTime="true" HourFormat="12" DateFormat="dd/MM/yyyy h:mm tt" />
                                            <ValidationMessage For=@(() => Inspeccion.FechaInicio) />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <label for="password">@languageContainerService.Keys["Status"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputSelect @bind-Value="Inspeccion.StatusInspecciones" class="form-control">
                                                @foreach (enum_StatusInspecciones dt in Enum.GetValues(typeof(enum_StatusInspecciones)))
                                                {
                                                    if (dt != enum_StatusInspecciones.None)
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Inspeccion.StatusInspecciones) />
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <h5>@languageContainerService.Keys["Participantes en la Inspección por DNFD"]</h5>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table rounded table-striped">
                                            <thead class=thead-light>
                                                <tr>
                                                    <th>@languageContainerService.Keys["FullName"]</th>
                                                    <th>@languageContainerService.Keys["IdentificationCard"]</th>
                                                    <th>@languageContainerService.Keys["RegisterNumber"]</th>
                                                    <th>@languageContainerService.Keys["Charge"]</th>
                                                    <th style="text-align:right;">
                                                        <button type="button" @onclick="(e)=>{OpenParticipant();}"
                                                                class="btn btn-sm btn-outline-primary waves-effect">
                                                            @languageContainerService.Keys["Add"]
                                                        </button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Inspeccion != null && Inspeccion.InspAperturaCosmetArtesanal.DatosConclusiones.LParticipantes != null)
                                                {
                                                    @foreach (var dt in Inspeccion.InspAperturaCosmetArtesanal.DatosConclusiones.LParticipantes)
                                                    {
                                                        <tr>
                                                            <td scope="row">@dt.NombreCompleto</td>
                                                            <td>@dt.CedulaIdentificacion</td>
                                                            <td>@dt.RegistroNumero</td>
                                                            <td>@dt.Cargo</td>
                                                            <td style="text-align:right">
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@languageContainerService.Keys["Actions"]</button>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item" href="javascript:void(0)" @onclick="(e)=>{OpenParticipant(dt);}" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>@languageContainerService.Keys["Edit"]</a>
                                                                        <a class="dropdown-item" href="javascript:void(0)" @onclick="(e)=>{RemoveParticipant(dt);}"><i class="fa fa-trash"></i>@languageContainerService.Keys["Delete"]</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <h5>@languageContainerService.Keys["Datos del Establecimiento"]</h5>
                            <div class="row clearfix">
                                <div class="col-sm-8">
                                    <label>@languageContainerService.Keys["Establishments"]</label>
                                    <div class="input-group">
                                        @*<input type="text" class="form-control" @bind="dataModel.Filter" name="Filter" />*@
                                        <InputText disbled class="form-control" @bind-Value="Inspeccion.NombreEstablecimiento" disabled=@(true) readonly="readonly" />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-secondary" @onclick="(e)=>{OpenSearchEstablishment();}"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                    <ValidationMessage For=@(() => Inspeccion.EstablecimientoId) />
                                </div>
                                @*<div class="col-sm-8">
                                    <label for="password">@languageContainerService.Keys["Establishments"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Inspeccion.EstablecimientoId
                                                            AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                            Data=@lEstablecimientos TextProperty="Nombre" ValueProperty="Id"
                                                            Change=@(args => {OnEstablishmentChange((args!=null?(long)args:null));}) />
                                            <ValidationMessage For=@(() => Inspeccion.EstablecimientoId) />
                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["Ciudad"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspAperturaCosmetArtesanal.GeneralesEmpresa.Ciudad" />
                                            <ValidationMessage For=@(() => Inspeccion.InspAperturaCosmetArtesanal.GeneralesEmpresa.Ciudad) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <label>@languageContainerService.Keys["Location"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.UbicacionEstablecimiento" />
                                            <ValidationMessage For=@(() => Inspeccion.UbicacionEstablecimiento) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["BusinessPhone"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.TelefonoEstablecimiento" />
                                            <ValidationMessage For=@(() => Inspeccion.TelefonoEstablecimiento) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["Correo"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspAperturaCosmetArtesanal.GeneralesEmpresa.Email" />
                                            <ValidationMessage For=@(() => Inspeccion.InspAperturaCosmetArtesanal.GeneralesEmpresa.Email) />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h5>@languageContainerService.Keys["Propietario Artesano"]</h5>
                            <div class="row clearfix">
                                <div class="col-sm-8">
                                    <label>@languageContainerService.Keys["FullName"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspAperturaCosmetArtesanal.Propietario.Nombre" />
                                            <ValidationMessage For=@(() => Inspeccion.InspAperturaCosmetArtesanal.Propietario.Nombre) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["IdentificationCard"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspAperturaCosmetArtesanal.Propietario.Cedula" />
                                            <ValidationMessage For=@(() => Inspeccion.InspAperturaCosmetArtesanal.Propietario.Cedula) />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="cap1" role="tabpanel">
                                                       
                            <h5>@languageContainerService.Keys["Documentación"]</h5>
                            <div class="row clearfix">
                                <!--begin::Section-->
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table rounded table-striped">
                                            <thead class=thead-light>
                                                <tr>
                                                    <th>@languageContainerService.Keys["Punto para evaluar"]</th>
                                                    <th>@languageContainerService.Keys["Cumplimiento"]</th>
                                                    <th>@languageContainerService.Keys["Observaciones"]</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Inspeccion != null && Inspeccion.InspAperturaCosmetArtesanal.Documentacion.LContenido != null)
                                                {
                                                    @foreach (var dt in Inspeccion.InspAperturaCosmetArtesanal.Documentacion.LContenido)
                                                    {                                                        
                                                        <tr>
                                                            <td scope="row">@dt.Titulo</td>
                                                            <td>
                                                                <InputSelect @bind-Value="dt.Evaluacion" class="form-control">
                                                                    @foreach (enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(enumAUD_TipoSeleccion)))
                                                                    {
                                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                    }
                                                                </InputSelect>
                                                            </td>
                                                            <td>
                                                                <InputText class="form-control" @bind-Value="dt.Observaciones" />
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="cap2" role="tabpanel">
                            <h5>@languageContainerService.Keys["Locales"]</h5>

                            <h5>@languageContainerService.Keys["Área para la elaboración de cosméticos artesanales"]</h5>
                            <div class="row clearfix">
                                <!--begin::Section-->
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table rounded table-striped">
                                            <thead class=thead-light>
                                                <tr>
                                                    <th>@languageContainerService.Keys["Punto para evaluar"]</th>
                                                    <th>@languageContainerService.Keys["Cumplimiento"]</th>
                                                    <th>@languageContainerService.Keys["Observaciones"]</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Inspeccion != null && Inspeccion.InspAperturaCosmetArtesanal.Locales.LContenido != null)
                                                {
                                                    @foreach (var dt in Inspeccion.InspAperturaCosmetArtesanal.Locales.LContenido)
                                                    {                                                        
                                                        <tr>
                                                            <td scope="row">@dt.Titulo</td>
                                                            <td>
                                                                <InputSelect @bind-Value="dt.Evaluacion" class="form-control">
                                                                    @foreach (enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(enumAUD_TipoSeleccion)))
                                                                    {
                                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                    }
                                                                </InputSelect>
                                                            </td>
                                                            <td>
                                                                <InputText class="form-control" @bind-Value="dt.Observaciones" />
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="cap3" role="tabpanel">
                            <h5>@languageContainerService.Keys["Área de Almacenamiento"]</h5>
                            <div class="row clearfix">
                                <!--begin::Section-->
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table rounded table-striped">
                                            <thead class=thead-light>
                                                <tr>
                                                    <th>@languageContainerService.Keys["Punto para evaluar"]</th>
                                                    <th colspan="3">@languageContainerService.Keys["Cumplimiento"]</th>
                                                    <th>@languageContainerService.Keys["Observaciones"]</th>
                                                </tr>
                                                <tr>
                                                    <td>@languageContainerService.Keys[""]</td>
                                                    <td colspan="3">@languageContainerService.Keys["Area para evaluar"]</td>
                                                    <td>@languageContainerService.Keys[""]</td>
                                                </tr>
                                                <tr>
                                                    <th>@languageContainerService.Keys[""]</th>
                                                    <th>@languageContainerService.Keys["Materia Prima"]</th>
                                                    <th>@languageContainerService.Keys["Material de Acondicio-namiento"]</th>
                                                    <th>@languageContainerService.Keys["Producto Terminado"]</th>
                                                    <th>@languageContainerService.Keys[""]</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Inspeccion != null && Inspeccion.InspAperturaCosmetArtesanal.AreaAlmacenamiento.LContenido != null)
                                                {
                                                    @foreach (var dt in Inspeccion.InspAperturaCosmetArtesanal.AreaAlmacenamiento.LContenido)
                                                    {
                                                        <tr>
                                                            <td scope="row">@dt.Titulo</td>
                                                            <td>
                                                                <InputSelect @bind-Value="dt.Evaluacion" class="form-control">
                                                                    @foreach (enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(enumAUD_TipoSeleccion)))
                                                                    {
                                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                    }
                                                                </InputSelect>
                                                            </td>
                                                            <td>
                                                                <InputSelect @bind-Value="dt.Evaluacion2" class="form-control">
                                                                    @foreach (enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(enumAUD_TipoSeleccion)))
                                                                    {
                                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                    }
                                                                </InputSelect>
                                                            </td>
                                                            <td>
                                                                <InputSelect @bind-Value="dt.Evaluacion3" class="form-control">
                                                                    @foreach (enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(enumAUD_TipoSeleccion)))
                                                                    {
                                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                    }
                                                                </InputSelect>
                                                            </td>
                                                            <td>
                                                                <InputText class="form-control" @bind-Value="dt.Observaciones" />
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                
                        <div class="tab-pane" id="conclusionInfo" role="tabpanel">
                            <h5>@languageContainerService.Keys["ConclusionInfo"]</h5>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <label for="password">@languageContainerService.Keys["El local cumple o no cumple con los requisitos mínimos para operar"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputSelect @bind-Value="Inspeccion.InspAperturaCosmetArtesanal.DatosConclusiones.CumpleRequisitosMinOperacion" class="form-control">
                                                <option value="false">No</option>
                                                <option value="true">Si</option>
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Inspeccion.InspAperturaCosmetArtesanal.DatosConclusiones.CumpleRequisitosMinOperacion) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["FinishedDate"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <RadzenDatePicker TValue="DateTime?" @bind-Value="Inspeccion.InspAperturaCosmetArtesanal.DatosConclusiones.FechaFinalizacion" ShowTime="true" HourFormat="12" DateFormat="dd/MM/yyyy h:mm tt" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label>@languageContainerService.Keys["Observaciones"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputTextArea rows="8" class="form-control" @bind-Value="Inspeccion.InspAperturaCosmetArtesanal.DatosConclusiones.ObservacionesFinales" />
                                            <ValidationMessage For=@(() => Inspeccion.InspAperturaCosmetArtesanal.DatosConclusiones.ObservacionesFinales) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label>@languageContainerService.Keys["Inconformidades o desviaciones detectadas:"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputTextArea rows="8" class="form-control" @bind-Value="Inspeccion.InspAperturaCosmetArtesanal.DatosConclusiones.Inconformidades" />
                                            <ValidationMessage For=@(() => Inspeccion.InspAperturaCosmetArtesanal.DatosConclusiones.Inconformidades) />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="inspectorsApprovals" role="tabpanel">
                            <h5>@languageContainerService.Keys["Firmas"]</h5>

                            @if (Inspeccion != null && Inspeccion.InspAperturaCosmetArtesanal.DatosConclusiones.LParticipantes.Count > 0 && showSignasure)
                            {
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <label for="password">@languageContainerService.Keys["Representante Legal de la Empresa"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <InputText class="form-control" @bind-Value="Inspeccion.InspAperturaCosmetArtesanal.Propietario.Nombre" />
                                                        <ValidationMessage For=@(() => Inspeccion.InspAperturaCosmetArtesanal.Propietario.Nombre) />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="password">@languageContainerService.Keys["IdentificationCard"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <InputText class="form-control" @bind-Value="Inspeccion.InspAperturaCosmetArtesanal.Propietario.Cedula" />
                                                        <ValidationMessage For=@(() => Inspeccion.InspAperturaCosmetArtesanal.Propietario.Cedula) />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label>@languageContainerService.Keys["Signature"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <SignaturePad @ref="signaturePad5" OnSignatureChange="OnSignatureChange5"
                                                                      MinHeight="150" MaxHeight="190" BackgroundColor="#FFFFFF">
                                                            <SignaturePadFooter>
                                                                <SignaturePadClear>
                                                                    <button type="button" class="btn btn-sm btn-outline-primary waves-effect" @onclick="RemoveSignatureImg5">@languageContainerService.Keys["Clear"]</button>
                                                                </SignaturePadClear>
                                                            </SignaturePadFooter>
                                                        </SignaturePad>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row clearfix">
                                        
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <h5>@languageContainerService.Keys["DNFDParticipants"]</h5>
                                    </div>
                                    @foreach (var dt in Inspeccion.InspAperturaCosmetArtesanal.DatosConclusiones.LParticipantes)
                                    {
                                        <div class="col-sm-6">
                                            <div class="row clearfix">
                                                <div class="col-sm-12">
                                                    <label for="password">@dt.NombreCompleto</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="password">@languageContainerService.Keys["RegisterNumber"]:@dt.RegistroNumero</label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="password">@languageContainerService.Keys["IdentificationCard"]:@dt.CedulaIdentificacion</label>
                                                </div>
                                                <div class="col-sm-12">
                                                    <label>@languageContainerService.Keys["Signature"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <SignaturePad @ref="signaturePad" OnSignatureChange="(e)=>{OnSignatureChange(dt);}"
                                                                          MinHeight="150" MaxHeight="190" BackgroundColor="#FFFFFF">
                                                                <SignaturePadFooter>
                                                                    <SignaturePadClear>
                                                                        <button type="button" class="btn btn-sm btn-outline-primary waves-effect" @onclick="(e)=>{RemoveSignatureImg(dt);}">@languageContainerService.Keys["Clear"]</button>
                                                                    </SignaturePadClear>
                                                                </SignaturePadFooter>
                                                            </SignaturePad>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>

                            }

                        </div>
                    </div>

                    <br><br>
                    <div class="modal-footer">

                        @if (StatusInspecciones == enum_StatusInspecciones.Pending)
                        {
                            <button type="submit"
                                    class="btn btn-info waves-effect">
                                @languageContainerService.Keys["Save"]
                            </button>
                        }

                        <button type="button" class="btn btn-danger waves-effect"
                        @onclick="(e)=>{Cancel();}">
                            @languageContainerService.Keys["Cancel"]
                        </button>
                    </div>


                </EditForm>

            </div>


        </div>
    </div>
</div>

@if (OpenHourModal)
{
    <Aig.Auditoria.Components.OpenHours.AddEditOpenHoursComponent HorarioApertura="@DatosHorario"></Aig.Auditoria.Components.OpenHours.AddEditOpenHoursComponent>
}
@if (showParticipant)
{
    <Aig.Auditoria.Components.Participants.AddEditParticipantComponent Participante="@participante"></Aig.Auditoria.Components.Participants.AddEditParticipantComponent>
}
@if (showPersona)
{
    <Aig.Auditoria.Components.DatosPersona.DatosPersonaComponent DatosPersona="@datosPersona"></Aig.Auditoria.Components.DatosPersona.DatosPersonaComponent>
}
@if (showSearchEstablishment)
{
    <Aig.Auditoria.Components.Establishments.SearchComponent></Aig.Auditoria.Components.Establishments.SearchComponent>
}

<div class="modal-backdrop fade show"></div>
