@using DataModel.Helper;

<!-- Modal Creat/Edit -->
@if (Inspeccion != null && OpenDialog)
{
    <div class="modal fade show" id="exampleModal" tabindex="-1" style="display: block;overflow-y: auto;" aria-modal="true" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="formModal">@(Inspeccion != null && Inspeccion.Id > 0 ? @languageContainerService.Keys["EditInspection"] : @languageContainerService.Keys["NewInspection"])</h5>
                                <button type="button" class="close" @onclick="(e)=>{Cancel();}"
                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <EditForm Model="@Inspeccion" OnValidSubmit="SaveData">
                                    <DataAnnotationsValidator />
                                    <h3>@languageContainerService.Keys["GeneralInfo"]</h3>
                                    <div class="row clearfix">
                                        <div class="col-sm-4">
                                            <label>@languageContainerService.Keys["StartDate"]</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <InputDate class="form-control" @bind-Value="Inspeccion.FechaInicio" />
                                                    <ValidationMessage For=@(() => Inspeccion.FechaInicio) />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <label for="password">@languageContainerService.Keys["Establishments"]</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <InputSelect @bind-Value="Inspeccion.EstablecimientoId" class="form-control">
                                                        <option value="null">@languageContainerService.Keys["None"]</option>
                                                        @if (lEstablecimientos != null)
                                                        {
                                                            foreach (var dt in lEstablecimientos)
                                                            {
                                                                <option value="@dt.Id">@dt.Nombre</option>
                                                            }
                                                        }
                                                    </InputSelect>
                                                    <ValidationMessage For=@(() => Inspeccion.Establecimiento) />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-4">
                                            <label>@languageContainerService.Keys["Section"]</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.SeccionOficinaRegional" />
                                                    <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.SeccionOficinaRegional) />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <label>@languageContainerService.Keys["OperLicenseNumber"]</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.LicenseNumber" />
                                                    <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.LicenseNumber) />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h3>@languageContainerService.Keys["Products"]</h3>

                                    <!--begin::Section-->
                                    <div class="kt-section">
                                        <div class="table-responsive">
                                            <table class="table rounded table-striped">
                                                <thead class=thead-light>
                                                    <tr>
                                                        <th>@languageContainerService.Keys["Name"]</th>
                                                        <th>@languageContainerService.Keys["CommercialPresentation"]</th>
                                                        <th>@languageContainerService.Keys["Fabricante"]</th>
                                                        <th>@languageContainerService.Keys["Pais"]</th>
                                                        <th>@languageContainerService.Keys["Lot"]</th>
                                                        <th>@languageContainerService.Keys["ExpDate"]</th>
                                                        <th>@languageContainerService.Keys["AmountWithheld"]</th>
                                                        <th>@languageContainerService.Keys["AmountWithdrawal"]</th>
                                                        <th>@languageContainerService.Keys["ProductDestiny"]</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Inspeccion != null && Inspeccion.InspRetiroRetencion.LProductos != null)
                                                    {
                                                        @foreach (var dt in Inspeccion.InspRetiroRetencion.LProductos)
                                                        {
                                                            <tr>
                                                                <td scope="row">@dt.Nombre</td>
                                                                <td>@dt.PresentacionComercial</td>
                                                                <td>@dt.Fabricante</td>
                                                                <td>@dt.Pais</td>
                                                                <td>@dt.Lote</td>
                                                                <td>@(dt.FechaExp?.ToString("dd/MM/yyyy") ?? "")</td>
                                                                <td>@dt.CantidadRetenida</td>
                                                                <td>@dt.CantidadRetenida</td>
                                                                <td>@dt.Destino</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-danger" @onclick="(e)=>{RemoveProduct(dt);}">@languageContainerService.Keys["Delete"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--end::Section-->
                                    @* <!--begin::Accordion-->
                    <div class="accordion accordion-light  accordion-svg-icon" id="accordionEx1">
                    <div class="card">
                    <div class="card-header" id="headingOne1">
                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                    </g>
                    </svg> @languageContainerService.Keys["GeneralInfo"]
                    </div>
                    </div>
                    <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordionEx1">
                    <div class="card-body">


                    </div>
                    </div>
                    </div>
                    <div class="card">
                    <div class="card-header" id="headingTwo1">
                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                    <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                    </g>
                    </svg> @languageContainerService.Keys["Products"]
                    </div>
                    </div>
                    <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionEx1">
                    <div class="card-body">

                    </div>
                    </div>
                    </div>
                    </div>
                    <!--end::Accordion-->*@



                                    <br>
                                    <div class="modal-footer">
                                        <button type="button" @onclick="(e)=>{OpenProduct();}"
                                class="btn btn-primary waves-effect">
                                            @languageContainerService.Keys["AddProduct"]
                                        </button>
                                        <button type="submit"
                                class="btn btn-info waves-effect">
                                            @languageContainerService.Keys["Save"]
                                        </button>
                                        <button type="button" class="btn btn-danger waves-effect"
                                @onclick="(e)=>{Cancel();}">
                                            @languageContainerService.Keys["Cancel"]
                                        </button>
                                    </div>


                                </EditForm>

                            </div>


                        </div>
                    </div>
                </div>


    <Aig.Auditoria.Components.RetiredProduct.AddEditProductComponent></Aig.Auditoria.Components.RetiredProduct.AddEditProductComponent>

    <div class="modal-backdrop fade show"></div>
}
