@using DataModel.Helper;

<div class="modal fade show" id="exampleModal" tabindex="-1" style="display: block;overflow-y: auto;" aria-modal="true" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">@(Inspeccion != null && Inspeccion.Id > 0 ? "ACTA: " + Inspeccion.NumActa : @languageContainerService.Keys["NewInspection"]) - @(DataModel.Helper.Helper.GetDescription(Inspeccion.TipoActa))</h5>
                <button type="button" class="close" @onclick="(e)=>{Cancel();}"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <EditForm Model="@Inspeccion" OnValidSubmit="SaveData">
                    <DataAnnotationsValidator />
                    <ul class="nav nav-tabs  nav-tabs-line nav-tabs-line-2x nav-tabs-line-primary nav-tabs-bold" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#generalInfo" role="tab">@languageContainerService.Keys["GeneralInfo"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#products" role="tab">@languageContainerService.Keys["Products"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#attachments" role="tab">@languageContainerService.Keys["Attachments"]</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="generalInfo" role="tabpanel">
                            <h4>@languageContainerService.Keys["GeneralInfo"]</h4>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["StartDate"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputDate class="form-control" @bind-Value="Inspeccion.FechaInicio" />
                                            <ValidationMessage For=@(() => Inspeccion.FechaInicio) />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <label for="password">@languageContainerService.Keys["Status"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputSelect @bind-Value="Inspeccion.StatusInspecciones" class="form-control">
                                                @foreach (enum_StatusInspecciones dt in Enum.GetValues(typeof(enum_StatusInspecciones)))
                                                {
                                                    if (dt!= enum_StatusInspecciones.None)
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Inspeccion.StatusInspecciones) />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <label for="password">@languageContainerService.Keys["InspectionType"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputSelect @bind-Value="Inspeccion.InspRetiroRetencion.RetiroRetencionType" class="form-control">
                                                @foreach (enum_InspRetiroRetencionType dt in Enum.GetValues(typeof(enum_InspRetiroRetencionType)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.RetiroRetencionType) />
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-sm-4">
                                <label for="password">@languageContainerService.Keys["InspectionType"]</label>
                                <div class="form-group">
                                <div class="kt-radio-inline">
                                <InputRadioGroup @bind-Value="Inspeccion.InspRetiroRetencion.RetiroRetencionType">
                                @foreach (enum_InspRetiroRetencionType dt in Enum.GetValues(typeof(enum_InspRetiroRetencionType)))
                                {
                                <label class="kt-radio">
                                <InputRadio Value="@dt"></InputRadio>@(DataModel.Helper.Helper.GetDescription(dt))<br />
                                <span></span>
                                </label>
                                }
                                </InputRadioGroup>
                                <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.RetiroRetencionType) />
                                </div>
                                </div>
                                </div>*@

                            </div>
                            <div class="row clearfix">

                                <div class="col-sm-4">
                                    <label for="password">@languageContainerService.Keys["Establishments"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputSelect class="form-control"
                                                         ValueExpression="@(() => Inspeccion.EstablecimientoId)"
                                                         Value="@Inspeccion.EstablecimientoId"
                                                         ValueChanged="@((long? value) => OnEstablishmentChange(value))">
                                                @if (lEstablecimientos != null)
                                                {
                                                    foreach (var dt in lEstablecimientos)
                                                    {
                                                        <option value="@dt.Id">@dt.Nombre</option>
                                                    }
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Inspeccion.EstablecimientoId) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <label>@languageContainerService.Keys["Location"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.UbicacionEstablecimiento" />
                                            <ValidationMessage For=@(() => Inspeccion.UbicacionEstablecimiento) />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["Section"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.SeccionOficinaRegional" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.SeccionOficinaRegional) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["NoticeOperation"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.AvisoOperación" />
                                            <ValidationMessage For=@(() => Inspeccion.AvisoOperación) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["OperLicenseNumber"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.LicenseNumber" />
                                            <ValidationMessage For=@(() => Inspeccion.LicenseNumber) />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-8">
                                    <label>@languageContainerService.Keys["LegalRepresentation"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.RepreLegal" />
                                            <ValidationMessage For=@(() => Inspeccion.RepreLegal) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["Identification"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.RepreLegalIdentificacion" />
                                            <ValidationMessage For=@(() => Inspeccion.RepreLegalIdentificacion) />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <label>@languageContainerService.Keys["DNFDParticipants"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.ParticipantesDNFD" />
                                            <ValidationMessage For=@(() => Inspeccion.ParticipantesDNFD) />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <label>@languageContainerService.Keys["WeWereServedBy"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.ParticEstablecimiento" />
                                            <ValidationMessage For=@(() => Inspeccion.ParticEstablecimiento) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>@languageContainerService.Keys["Position"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.ParticEstablecimientoCargo" />
                                            <ValidationMessage For=@(() => Inspeccion.ParticEstablecimientoCargo) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>@languageContainerService.Keys["CIP"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.ParticEstablecimientoCIP" />
                                            <ValidationMessage For=@(() => Inspeccion.ParticEstablecimientoCIP) />
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <label>@languageContainerService.Keys["Email"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.ParticEstablecimientoEmail" />
                                            <ValidationMessage For=@(() => Inspeccion.ParticEstablecimientoEmail) />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <label>@languageContainerService.Keys["SignatureBytheMinistryofHealth"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <SignaturePad @ref="signaturePadDNFD"
                                                          OnSignatureChange="OnSignatureDNFDChange"
                                                 MinHeight="200" MaxHeight="200" BackgroundColor="#FFFFFF">
                                                <SignaturePadFooter>
                                                    <SignaturePadClear>
                                                        <button type="button" class="btn btn-sm btn-outline-primary waves-effect" @onclick="RemoveSignatureDNFDImg">@languageContainerService.Keys["Clear"]</button>
                                                    </SignaturePadClear>
                                                </SignaturePadFooter>
                                            </SignaturePad>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label>@languageContainerService.Keys["SignatureBytheEstablishment"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <SignaturePad @ref="signaturePadESTAB"
                                                          OnSignatureChange="OnSignatureESTABChange"
                                                          MinHeight="200" MaxHeight="200" BackgroundColor="#FFFFFF">
                                                <SignaturePadFooter>
                                                    <SignaturePadClear>
                                                        <button type="button" class="btn btn-sm btn-outline-primary waves-effect" @onclick="RemoveSignatureESTABImg">@languageContainerService.Keys["Clear"]</button>
                                                    </SignaturePadClear>
                                                </SignaturePadFooter>
                                            </SignaturePad>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["RegNum"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.NumRegDNFD1" />
                                            <ValidationMessage For=@(() => Inspeccion.NumRegDNFD1) />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="products" role="tabpanel">
                            <h4>@languageContainerService.Keys["Products"]</h4>
                            <div class="row clearfix">
                                <div class="col-9" style="text-align:left;">
                                </div>
                                <div class="col-3" style="text-align:right;">
                                    @if(Inspeccion?.StatusInspecciones == enum_StatusInspecciones.Pending){
                                    <button type="button" @onclick="(e)=>{OpenProduct();}"
                                            class="btn btn-sm btn-outline-primary waves-effect">
                                        @languageContainerService.Keys["Add"]
                                    </button>
                                    }                                    
                                </div>
                            </div>
                            <!--begin::Section-->
                            <div class="kt-section">
                                <div class="table-responsive">
                                    <table class="table rounded table-striped">
                                        <thead class=thead-light>
                                            <tr>
                                                <th>@languageContainerService.Keys["ProductName"]</th>
                                                <th>@languageContainerService.Keys["CommercialPresentation"]</th>
                                                <th>@languageContainerService.Keys["Manufacturer"]</th>
                                                <th>@languageContainerService.Keys["CountryOfManufacture"]</th>
                                                <th>@languageContainerService.Keys["Lot"]</th>
                                                <th>@languageContainerService.Keys["ExpDate"]</th>
                                                <th>@languageContainerService.Keys["AmountWithheld"]</th>
                                                <th>@languageContainerService.Keys["AmountWithdrawal"]</th>
                                                <th>@languageContainerService.Keys["ProductDestiny"]</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Inspeccion != null && Inspeccion.InspRetiroRetencion.LProductos != null)
                                            {
                                                @foreach (var dt in Inspeccion.InspRetiroRetencion.LProductos)
                                                {
                                                    <tr>
                                                        <td scope="row">@dt.Nombre</td>
                                                        <td>@dt.PresentacionComercial</td>
                                                        <td>@dt.Fabricante</td>
                                                        <td>@dt.Pais</td>
                                                        <td>@dt.Lote</td>
                                                        <td>@(dt.FechaExp?.ToString("dd/MM/yyyy") ?? "")</td>
                                                        <td>@dt.CantidadRetenida</td>
                                                        <td>@dt.CantidadRetirada</td>
                                                        <td>@dt.Destino</td>
                                                        <td style="text-align:right">
                                                            @if(Inspeccion?.StatusInspecciones == enum_StatusInspecciones.Pending){
                                                            <button type="button" class="btn btn-danger" @onclick="(e)=>{RemoveProduct(dt);}">@languageContainerService.Keys["Delete"]</button>

                                                            }
                                                            <!-- /btn-group -->
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="attachments" role="tabpanel">
                            <h4>@languageContainerService.Keys["Attachments"]</h4>
                            <div class="row clearfix">
                                <div class="col-9" style="text-align:left;">
                                </div>
                                <div class="col-3" style="text-align:right;">
                                    @if(Inspeccion?.StatusInspecciones == enum_StatusInspecciones.Pending){
                                    <button type="button" @onclick="(e)=>{OpenAttachment();}"
                                            class="btn btn-sm btn-outline-primary waves-effect">
                                        @languageContainerService.Keys["Add"]
                                    </button>
                                    }                                    
                                </div>
                            </div>
                            <!--begin::Section-->
                            <div class="kt-section">
                                <div class="table-responsive">
                                    <table class="table rounded table-striped">
                                        <thead class=thead-light>
                                            <tr>
                                                <th>@languageContainerService.Keys["Description"]</th>
                                                <th>@languageContainerService.Keys["File"]</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Inspeccion != null && Inspeccion.LAttachments != null)
                                            {
                                                @foreach (var dt in Inspeccion.LAttachments)
                                                {
                                                    <tr>
                                                        <td scope="row">@dt.Description</td>
                                                        <td>
                                                            <NavLink href="@dt.Url" target="_blank">@languageContainerService.Keys["ViewAttachemnt"]</NavLink>
                                                        </td>
                                                        <td style="text-align:right">
                                                            @if(Inspeccion?.StatusInspecciones == enum_StatusInspecciones.Pending){
                                                            <button type="button" class="btn btn-danger" @onclick="(e)=>{RemoveAttachment(dt);}">@languageContainerService.Keys["Delete"]</button>

                                                            }
                                                            <!-- /btn-group -->
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>
                    <div class="modal-footer">

                        @if(Inspeccion?.StatusInspecciones == enum_StatusInspecciones.Pending){
                        <button type="submit"
                                class="btn btn-info waves-effect">
                            @languageContainerService.Keys["Save"]
                        </button>
                        }
                        
                        <button type="button" class="btn btn-danger waves-effect"
                                @onclick="(e)=>{Cancel();}">
                            @languageContainerService.Keys["Cancel"]
                        </button>
                    </div>


                </EditForm>

            </div>


        </div>
    </div>
</div>


<Aig.Auditoria.Components.RetiredProduct.AddEditProductComponent></Aig.Auditoria.Components.RetiredProduct.AddEditProductComponent>

<Aig.Auditoria.Components.Attachments.AddEditAttachment></Aig.Auditoria.Components.Attachments.AddEditAttachment>

<div class="modal-backdrop fade show"></div>
