@using DataModel.Helper;

<div class="modal fade show" id="exampleModal" tabindex="-1" style="display: block;overflow-y: auto;" aria-modal="true" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">@(Inspeccion != null && Inspeccion.Id > 0 ? "ACTA: " + Inspeccion.NumActa : @languageContainerService.Keys["NewInspection"]) - @(DataModel.Helper.Helper.GetDescription(Inspeccion.TipoActa))</h5>
                <button type="button" class="close" @onclick="(e)=>{Cancel();}"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <EditForm Model="@Inspeccion" OnValidSubmit="SaveData">
                    <DataAnnotationsValidator />
                    <ul class="nav nav-tabs  nav-tabs-line nav-tabs-line-2x nav-tabs-line-primary nav-tabs-bold" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#generalInfo" role="tab">@languageContainerService.Keys["GeneralInfo"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#products" role="tab">@languageContainerService.Keys["Products"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#attachments" role="tab">@languageContainerService.Keys["Attachments"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#signature" role="tab" @onclick="(e)=>{OnShowSignasure();}">@languageContainerService.Keys["Concluciones y Firmas"]</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="generalInfo" role="tabpanel">
                            <h5>@languageContainerService.Keys["GeneralInfo"]</h5>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["StartDate"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <RadzenDatePicker TValue="DateTime" @bind-Value="Inspeccion.FechaInicio" ShowTime="true" HourFormat="12" DateFormat="dd/MM/yyyy h:mm tt" />
                                            @*<InputDate class="form-control" @bind-Value="Inspeccion.InspAperCambUbicFarm.DatosConclusiones.FechaFinalizacion" />
                                            <ValidationMessage For=@(() => Inspeccion.InspAperCambUbicFarm.DatosConclusiones.FechaFinalizacion) />*@
                                        </div>
                                    </div>                                    
                                </div>

                                <div class="col-sm-4">
                                    <label for="password">@languageContainerService.Keys["Status"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputSelect @bind-Value="Inspeccion.StatusInspecciones" class="form-control">
                                                @foreach (enum_StatusInspecciones dt in Enum.GetValues(typeof(enum_StatusInspecciones)))
                                                {
                                                    if (dt!= enum_StatusInspecciones.None)
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Inspeccion.StatusInspecciones) />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <label for="password">@languageContainerService.Keys["InspectionType"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputSelect @bind-Value="Inspeccion.InspRetiroRetencion.RetiroRetencionType" class="form-control">
                                                @foreach (enum_InspRetiroRetencionType dt in Enum.GetValues(typeof(enum_InspRetiroRetencionType)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.RetiroRetencionType) />
                                        </div>
                                    </div>
                                </div>                               

                            </div>
                            <div class="row clearfix">

                                <div class="col-sm-4">
                                    <label for="password">@languageContainerService.Keys["Establishments"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Inspeccion.EstablecimientoId
                                                            AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                            Data=@lEstablecimientos TextProperty="Nombre" ValueProperty="Id"
                                                            Change=@(args => {OnEstablishmentChange((args!=null?(long)args:null));}) />
                                            @*<InputSelect class="form-control"
                                                         ValueExpression="@(() => Inspeccion.EstablecimientoId)"
                                                         Value="@Inspeccion.EstablecimientoId"
                                                         ValueChanged="@((long? value) => OnEstablishmentChange(value))">
                                                @if (lEstablecimientos != null)
                                                {
                                                    foreach (var dt in lEstablecimientos)
                                                    {
                                                        <option value="@dt.Id">@dt.Nombre</option>
                                                    }
                                                }
                                            </InputSelect>*@
                                            <ValidationMessage For=@(() => Inspeccion.EstablecimientoId) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <label>@languageContainerService.Keys["Location"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.UbicacionEstablecimiento" />
                                            <ValidationMessage For=@(() => Inspeccion.UbicacionEstablecimiento) />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["Section"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.SeccionOficinaRegional" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.SeccionOficinaRegional) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["NoticeOperation"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.AvisoOperación" />
                                            <ValidationMessage For=@(() => Inspeccion.AvisoOperación) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["OperLicenseNumber"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.LicenseNumber" />
                                            <ValidationMessage For=@(() => Inspeccion.LicenseNumber) />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>@languageContainerService.Keys["Representante Legal"]</h5>                            
                            <div class="row clearfix">
                                <div class="col-sm-8">
                                    <label>@languageContainerService.Keys["FullName"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosRepresentLegal.Nombre" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosRepresentLegal.Nombre) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["Identification"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosRepresentLegal.Cedula" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosRepresentLegal.Cedula) />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>@languageContainerService.Keys["Por el Establecimiento"]</h5>                            
                            <div class="row clearfix">
                                <div class="col-sm-8">
                                    <label>@languageContainerService.Keys["FullName"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Nombre" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Nombre) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["CIP"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Cedula" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Cedula) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["Position"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Cargo" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Cargo) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["Email"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Email" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Email) />
                                        </div>
                                    </div>
                                </div>
                            </div>                                                       
                            <h5>@languageContainerService.Keys["Regente Farmaceutico"]</h5>
                            <div class="row clearfix">
                                <div class="col-sm-8">
                                    <label>@languageContainerService.Keys["FullName"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosRegente.Nombre" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosRegente.Nombre) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["IdentificationCard"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosRegente.Cedula" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosRegente.Cedula) />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["No. Registro"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosRegente.NumRegistro" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosRegente.NumRegistro) />
                                        </div>
                                    </div>
                                </div>                                
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["Charge"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosRegente.Cargo" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosRegente.Cargo) />
                                        </div>
                                    </div>
                                </div>
                               <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["Email"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosRegente.Email" />
                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosRegente.Email) />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h5>@languageContainerService.Keys["DNFDParticipants"]</h5>
                            <div class="row clearfix">
                               <!--begin::Section-->
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table rounded table-striped">
                                            <thead class=thead-light>
                                                <tr>
                                                    <th>@languageContainerService.Keys["FullName"]</th>
                                                    <th>@languageContainerService.Keys["IdentificationCard"]</th>
                                                    <th>@languageContainerService.Keys["RegisterNumber"]</th>
                                                    <th>@languageContainerService.Keys["Charge"]</th>
                                                    <th style="text-align:right;">
                                                        <button type="button" @onclick="(e)=>{OpenParticipant();}"
                                                                class="btn btn-sm btn-outline-primary waves-effect">
                                                            @languageContainerService.Keys["Add"]
                                                        </button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Inspeccion != null && Inspeccion.InspRetiroRetencion.DatosConclusiones.LParticipantes != null)
                                                {
                                                    @foreach (var dt in Inspeccion.InspRetiroRetencion.DatosConclusiones.LParticipantes)
                                                    {
                                                        <tr>
                                                            <td scope="row">@dt.NombreCompleto</td>
                                                            <td>@dt.CedulaIdentificacion</td>
                                                            <td>@dt.RegistroNumero</td>
                                                            <td>@dt.Cargo</td>
                                                            <td style="text-align:right">
                                                                @if (StatusInspecciones == enum_StatusInspecciones.Pending)
                                                                {
                                                                    <div class="btn-group">
                                                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@languageContainerService.Keys["Actions"]</button>
                                                                        <div class="dropdown-menu">
                                                                            <a class="dropdown-item" href="javascript:void(0)" @onclick="(e)=>{OpenParticipant(dt);}" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>@languageContainerService.Keys["Edit"]</a>
                                                                            <a class="dropdown-item" href="javascript:void(0)" @onclick="(e)=>{RemoveParticipant(dt);}"><i class="fa fa-trash"></i>@languageContainerService.Keys["Delete"]</a>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                <!-- /btn-group -->
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="products" role="tabpanel">
                            <h5>@languageContainerService.Keys["Products"]</h5>
                            <div class="row clearfix">
                                <div class="col-9" style="text-align:left;">
                                </div>
                                <div class="col-3" style="text-align:right;">
                                    @if (StatusInspecciones == enum_StatusInspecciones.Pending)
                                    {
                                    <button type="button" @onclick="(e)=>{OpenProduct();}"
                                            class="btn btn-sm btn-outline-primary waves-effect">
                                        @languageContainerService.Keys["Add"]
                                    </button>
                                    }                                    
                                </div>
                            </div>
                            <!--begin::Section-->
                            <div class="kt-section">
                                <div class="table-responsive">
                                    <table class="table rounded table-striped">
                                        <thead class=thead-light>
                                            <tr>
                                                <th>@languageContainerService.Keys["ProductName"]</th>
                                                <th>@languageContainerService.Keys["CommercialPresentation"]</th>
                                                <th>@languageContainerService.Keys["Manufacturer"]</th>
                                                <th>@languageContainerService.Keys["CountryOfManufacture"]</th>
                                                <th>@languageContainerService.Keys["Lot"]</th>
                                                <th>@languageContainerService.Keys["ExpDate"]</th>
                                                <th>@languageContainerService.Keys["AmountWithheld"]</th>
                                                <th>@languageContainerService.Keys["AmountWithdrawal"]</th>
                                                <th>@languageContainerService.Keys["ProductDestiny"]</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Inspeccion != null && Inspeccion.InspRetiroRetencion.LProductos != null)
                                            {
                                                @foreach (var dt in Inspeccion.InspRetiroRetencion.LProductos)
                                                {
                                                    <tr>
                                                        <td scope="row">@dt.Nombre</td>
                                                        <td>@dt.PresentacionComercial</td>
                                                        <td>@dt.Fabricante</td>
                                                        <td>@dt.Pais</td>
                                                        <td>@dt.Lote</td>
                                                        <td>@(dt.FechaExp?.ToString("dd/MM/yyyy") ?? "")</td>
                                                        <td>@dt.CantidadRetenida</td>
                                                        <td>@dt.CantidadRetirada</td>
                                                        <td>@dt.Destino</td>
                                                        <td style="text-align:right">
                                                            @if (StatusInspecciones == enum_StatusInspecciones.Pending){
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@languageContainerService.Keys["Actions"]</button>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item" href="javascript:void(0)" @onclick="(e)=>{OpenProduct(dt);}" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>@languageContainerService.Keys["Edit"]</a>
                                                                        <a class="dropdown-item" href="javascript:void(0)" @onclick="(e)=>{RemoveProduct(dt);}"><i class="fa fa-trash"></i>@languageContainerService.Keys["Delete"]</a>
                                                                    </div>
                                                                </div>
                                                            }
                                                            <!-- /btn-group -->
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="attachments" role="tabpanel">
                            <h5>@languageContainerService.Keys["Attachments"]</h5>
                            <div class="row clearfix">
                                <div class="col-9" style="text-align:left;">
                                </div>
                                <div class="col-3" style="text-align:right;">
                                    @if (StatusInspecciones == enum_StatusInspecciones.Pending){
                                    <button type="button" @onclick="(e)=>{OpenAttachment();}"
                                            class="btn btn-sm btn-outline-primary waves-effect">
                                        @languageContainerService.Keys["Add"]
                                    </button>
                                    }                                    
                                </div>
                            </div>
                            <!--begin::Section-->
                            <div class="kt-section">
                                <div class="table-responsive">
                                    <table class="table rounded table-striped">
                                        <thead class=thead-light>
                                            <tr>
                                                <th>@languageContainerService.Keys["Description"]</th>
                                                <th>@languageContainerService.Keys["File"]</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Inspeccion != null && Inspeccion.LAttachments != null)
                                            {
                                                @foreach (var dt in Inspeccion.LAttachments)
                                                {
                                                    <tr>
                                                        <td scope="row">@dt.Description</td>
                                                        <td>
                                                            <NavLink href="@dt.Url" target="_blank">@languageContainerService.Keys["ViewAttachemnt"]</NavLink>
                                                        </td>
                                                        <td style="text-align:right">
                                                            @if (StatusInspecciones == enum_StatusInspecciones.Pending){
                                                            <button type="button" class="btn btn-danger" @onclick="(e)=>{RemoveAttachment(dt);}">@languageContainerService.Keys["Delete"]</button>

                                                            }
                                                            <!-- /btn-group -->
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="signature" role="tabpanel">
                            <h5>@languageContainerService.Keys["Concluciones y Firmas"]</h5>
                            <div class="row clearfix">
                                <div class="col-sm-4">
                                    <label>@languageContainerService.Keys["Fecha de Finalización"]</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <RadzenDatePicker TValue="DateTime?" @bind-Value="Inspeccion.InspRetiroRetencion.DatosConclusiones.FechaFinalizacion" ShowTime="true" HourFormat="12" DateFormat="dd/MM/yyyy h:mm tt" />
                                            @*<InputDate class="form-control" @bind-Value="Inspeccion.InspAperCambUbicFarm.DatosConclusiones.FechaFinalizacion" />
                                            <ValidationMessage For=@(() => Inspeccion.InspAperCambUbicFarm.DatosConclusiones.FechaFinalizacion) />*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (Inspeccion != null && Inspeccion.InspRetiroRetencion.DatosConclusiones.LParticipantes.Count > 0 && showSignasure)
                            {                               
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <h5>@languageContainerService.Keys["Por el Establecimiento"]</h5>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <label for="password">@languageContainerService.Keys["FullName"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Nombre" />
                                                        <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Nombre) />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="password">@languageContainerService.Keys["Charge"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Cargo" />
                                                        <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Cargo) />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="password">@languageContainerService.Keys["IdentificationCard"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Cedula" />
                                                        <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosAtendidosPor.Cedula) />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label>@languageContainerService.Keys["Signature"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <SignaturePad @ref="signaturePad9" OnSignatureChange="OnSignatureChange9"
                                                                  MinHeight="150" MaxHeight="190" BackgroundColor="#FFFFFF">
                                                            <SignaturePadFooter>
                                                                <SignaturePadClear>
                                                                    <button type="button" class="btn btn-sm btn-outline-primary waves-effect" @onclick="RemoveSignatureImg9">@languageContainerService.Keys["Clear"]</button>
                                                                </SignaturePadClear>
                                                            </SignaturePadFooter>
                                                        </SignaturePad>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <h5>@languageContainerService.Keys["Regente Farmaceutico"]</h5>
                                        <div class="row clearfix">
                                            <div class="col-sm-8">
                                                <label for="password">@languageContainerService.Keys["FullName"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosRegente.Nombre" />
                                                        <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosRegente.Nombre) />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="password">@languageContainerService.Keys["RegisterNumber"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosRegente.NumRegistro" />
                                                        <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosRegente.NumRegistro) />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="password">@languageContainerService.Keys["Charge"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosRegente.Cargo" />
                                                        <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosRegente.Cargo) />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="password">@languageContainerService.Keys["IdentificationCard"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <InputText class="form-control" @bind-Value="Inspeccion.InspRetiroRetencion.DatosRegente.Cedula" />
                                                        <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.DatosRegente.Cedula) />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <label>@languageContainerService.Keys["Signature"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <SignaturePad @ref="signaturePad10" OnSignatureChange="OnSignatureChange10"
                                                                  MinHeight="150" MaxHeight="190" BackgroundColor="#FFFFFF">
                                                            <SignaturePadFooter>
                                                                <SignaturePadClear>
                                                                    <button type="button" class="btn btn-sm btn-outline-primary waves-effect" @onclick="RemoveSignatureImg10">@languageContainerService.Keys["Clear"]</button>
                                                                </SignaturePadClear>
                                                            </SignaturePadFooter>
                                                        </SignaturePad>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-12">
                                        <h5>@languageContainerService.Keys["DNFDParticipants"]</h5>
                                    </div>
                                        @foreach (var dt in Inspeccion.InspRetiroRetencion.DatosConclusiones.LParticipantes)
                                    {
                                        
                                        <div class="col-sm-6">
                                                <div class="row clearfix">
                                                    <div class="col-sm-12">
                                                        <label for="password">@dt.NombreCompleto</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label for="password">@languageContainerService.Keys["RegisterNumber"]:@dt.RegistroNumero</label>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label for="password">@languageContainerService.Keys["IdentificationCard"]:@dt.CedulaIdentificacion</label>                                                        
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <label>@languageContainerService.Keys["Signature"]</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                            <SignaturePad @ref="signaturePad" OnSignatureChange="(e)=>{OnSignatureChange(dt);}"
                                                                  MinHeight="150" MaxHeight="190" BackgroundColor="#FFFFFF">
                                                                    <SignaturePadFooter>
                                                                        <SignaturePadClear>
                                                                            <button type="button" class="btn btn-sm btn-outline-primary waves-effect" @onclick="(e)=>{RemoveSignatureImg(dt);}">@languageContainerService.Keys["Clear"]</button>
                                                                        </SignaturePadClear>
                                                                    </SignaturePadFooter>
                                                                </SignaturePad>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    
                                </div>

                            }
                            
                        </div>
                    </div>

                    <br><br>
                    <div class="modal-footer">

                        @if (StatusInspecciones == enum_StatusInspecciones.Pending){
                        <button type="submit"
                                class="btn btn-info waves-effect">
                            @languageContainerService.Keys["Save"]
                        </button>
                        }
                        
                        <button type="button" class="btn btn-danger waves-effect"
                                @onclick="(e)=>{Cancel();}">
                            @languageContainerService.Keys["Cancel"]
                        </button>
                    </div>


                </EditForm>

            </div>


        </div>
    </div>
</div>

@if (showParticipant)
{
    <Aig.Auditoria.Components.Participants.AddEditParticipantComponent Participante="@participante"></Aig.Auditoria.Components.Participants.AddEditParticipantComponent>
}

<Aig.Auditoria.Components.RetiredProduct.AddEditProductComponent></Aig.Auditoria.Components.RetiredProduct.AddEditProductComponent>

<Aig.Auditoria.Components.Attachments.AddEditAttachment></Aig.Auditoria.Components.Attachments.AddEditAttachment>

<div class="modal-backdrop fade show"></div>
