@using DataModel.Helper;


 <!-- Modal Creat/Edit -->
@if (Product != null && OpenDialog)
{
    <div class="modal fade show" id="exampleModal" tabindex="-1" style="display: block;overflow-y: auto;" aria-modal="true" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">@(Product != null && Product.Id > 0 ? @languageContainerService.Keys["EditProduct"] : @languageContainerService.Keys["NewProduct"])</h5>
                    <button type="button" class="close" @onclick="(e)=>{Cancel();}"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

           <div class="modal-body">
                    <EditForm Model="@Product" OnValidSubmit="SaveData">
                        <DataAnnotationsValidator />

                                  <div class="row clearfix">
                                            <div class="col-sm-4">
                                                            <label>@languageContainerService.Keys["ProductName"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                        <InputText class="form-control" @bind-Value="Product.Nombre" />
                                        <ValidationMessage For=@(() => Product.Nombre) />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                            <label for="password">@languageContainerService.Keys["CommercialPresentation"]</label>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                                    <InputText class="form-control" @bind-Value="Product.PresentacionComercial" />
                                        <ValidationMessage For=@(() => Product.PresentacionComercial) />
                                                    </div>
                                                </div>
                                            </div>                                           
                                        </div>
                                        <div class="row clearfix">

                            <div class="col-sm-4">
                                <label>@languageContainerService.Keys["NumberOfHealthRegister"]</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <InputText class="form-control" @bind-Value="Product.RegSanitario" />
                                        <ValidationMessage For=@(() => Product.RegSanitario) />
                                    </div>
                                </div>
                            </div>
                                           
                            <div class="col-sm-4">
                                <label>@languageContainerService.Keys["Manufacturer"]</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <InputText class="form-control" @bind-Value="Product.Fabricante" />
                                        <ValidationMessage For=@(() => Product.Fabricante) />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label for="password">@languageContainerService.Keys["CountryOfManufacture"]</label>
                            <div class="form-group">
                                <div class="form-line">
                                        <InputSelect @bind-Value="Product.Pais" class="form-control">                                        
                                        @if (lPaises != null)
                                        {
                                                foreach (var dt in lPaises)
                                            {
                                                <option value="@dt.Nombre">@dt.Nombre</option>
                                            }
                                        }
                                    </InputSelect>
                                        <ValidationMessage For=@(() => Product.Pais) />
                                </div>
                            </div>
                        </div>
                           
                                        </div>
                                
                        <div class="row clearfix">

                             <div class="col-sm-4">
                                <label>@languageContainerService.Keys["Lot"]</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <InputText class="form-control" @bind-Value="Product.Lote" />
                                        <ValidationMessage For=@(() => Product.Lote) />
                                    </div>
                                </div>
                            </div>

                                            <div class="col-sm-4">
                                <label>@languageContainerService.Keys["AmountWithheld"]</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <InputText class="form-control" @bind-Value="Product.CantidadRetenida" />
                                        <ValidationMessage For=@(() => Product.CantidadRetenida) />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>@languageContainerService.Keys["AmountWithdrawal"]</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <InputText class="form-control" @bind-Value="Product.CantidadRetirada" />
                                        <ValidationMessage For=@(() => Product.CantidadRetirada) />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">

                            <div class="col-sm-4">
                                <label>@languageContainerService.Keys["ExpDate"]</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <RadzenDatePicker TValue="DateTime?" @bind-Value="Product.FechaExp" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                        <ValidationMessage For=@(() => Product.FechaExp) />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-8">
                                <label>@languageContainerService.Keys["ProductDestiny"]</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <InputText class="form-control" @bind-Value="Product.Destino" />
                                        <ValidationMessage For=@(() => Product.Destino) />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <label>@languageContainerService.Keys["RetentionReason"]</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <InputTextArea class="form-control" @bind-Value="Product.Motivo" rows="4" />
                                        <ValidationMessage For=@(() => Product.Motivo) />
                                    </div>
                                </div>
                            </div>                           
                        </div>
                                                  
                    <br>
                    <div class="modal-footer">
                        <button type="submit"
                            class="btn btn-info waves-effect">
                                            @languageContainerService.Keys["Save"]
                        </button>
                        <button type="button" class="btn btn-danger waves-effect"
                            @onclick="(e)=>{Cancel();}">
                                            @languageContainerService.Keys["Cancel"]
                        </button>
                    </div>


                </EditForm>

                </div>


            </div>
        </div>
    </div>

   
}
       
