@page "/details/{product:int?}"
@*@layout MainLayout*@
@using System.Linq
@using Aig.Farmacoterapia.Application.Dashboard.Event
@using Aig.Farmacoterapia.Application.Dashboard.Model
@using System.Globalization
@using Aig.Farmacoterapia.Application.Medicament.Model
@using Aig.Farmacoterapia.Domain.Common
@using Aig.Farmacoterapia.Domain.Entities
@using Aig.Farmacoterapia.Domain.Entities.Products;
@using Aig.Farmacoterapia.Domain.Interfaces
@using Aig.Farmacoterapia.Infrastructure.Configuration
@using Aig.Farmacoterapia.Public.Extensions
@using BlazorComponentBus
@using Microsoft.Extensions.Options
@inject ISystemLogger _systemLogger;
@inject IUnitOfWork _unitOfWork;
@inject IOptions<AppConfiguration> _config;
@inject HttpClient _client;
@inject NavigationManager _navigation;
<style>
    .product-details-wrapper {
        padding-left: 0px !important;
    }

    .product-details-img {
        border: none !important;
        padding: 20px !important;
        box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    }

    .product-02-list ul li {
        padding: 0 !important;
    }

    .product-details-wrapper .product-text h4 {
        font-size: 20px !important;
    }

    .mud-dialog {
        max-height: calc(107vh - var(--mud-appbar-height));
        overflow-y: auto;
    }

    p {
        margin: 0px !important;
    }
</style>

@if (loading)
{
    <MudOverlay Visible="loading" LightBackground="true" Absolute="true">
        <MudProgressCircular Size="Size.Large" Color="Color.Default" Indeterminate="true" />
    </MudOverlay>
}
else
{
    <div class="container" style="border: 1px solid #e4e4e4 !important; padding: 20px">

        <div class="col-xl-12 col-lg-12">
            <div class="pro-ful-tab">

                <div class="row">
                    <div class="col-xl-4 col-lg-4">

                        <div class="product-details-img">
                            <div class="tab-content" id="myTabContent2">
                                <div class="tab-pane fade show active" id="home" role="tabpanel">
                                    <div class="product-large-img">

                                        @if (!string.IsNullOrEmpty(@item?.PictureData))
                                        {

                                            <img src="@item?.PictureData" Width="350" Height="300" Elevation="25" Class="rounded-lg" />
                                        }
                                        else
                                        {
                                            <img src="assets/img/products/no-image.png" Width="350" Height="300" Elevation="25" Class="rounded-lg" />
                                        }

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 col-lg-8">
                        <div class="product-details-wrapper">
                            <div class="product-text">

                                <div class="container">
                                    <div class="row">


                                        <div class="col-12">
                                            <div class="f-right">

                                                @if (!string.IsNullOrEmpty(item?.DataSheetURL))
                                                {

                                                    <a style="padding: 10px;font-size: 16px;" target="_blank" title="Monografía" href="@($"{_config.Value?.BaseUrl}api/medicament/datasheet/{item.DataSheetURL}")">
                                                        <i style="color: #4e97fd !important;font-size: 25px !important;" class="fa fa-file-pdf"></i>
                                                        Monografía
                                                    </a>

                                                }
                                                @if (!string.IsNullOrEmpty(item?.ProspectusURL))
                                                {
                                                    <a style="padding: 10px;font-size: 16px;" target="_blank" title="Prospecto" href="@($"{_config.Value?.BaseUrl}api/medicament/prospectus/{item.ProspectusURL}")">
                                                        <i style="color: #4e97fd !important;font-size: 25px !important;" class="fa fa-file-powerpoint"></i>
                                                        Prospecto
                                                    </a>
                                                }

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-12">
                                            <div class="pro-02-list-info f-left">
                                                @if (!string.IsNullOrEmpty(item?.Numero))
                                                {
                                                    <h5 style="color: #e4573d !important;">
                                                        @($"Reg. {item.Numero}")
                                                    </h5>
                                                }
                                                <h4>
                                                @item?.Producto?.Nombre
                                                </h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="container">

                                <div class="row">
                                    @if (!string.IsNullOrEmpty(item.Producto?.PrincipioActivo))
                                    {
                                        <div class="col-12">
                                            <div class="pro-02-list-info f-left">
                                                <span>Principio Activo</span>
                                                <p>
                                                    @item.Producto?.PrincipioActivo
                                                </p>

                                            </div>
                                        </div>
                                    }

                                </div>

                            </div>

                            <hr style="margin: 0 0 1rem 0 !important;" />

                            <div class="product-02-list">

                                <div class="container">
                                    <div class="row">

                                        @if (!string.IsNullOrEmpty(item.Producto.ViaAdministracion))
                                        {
                                            <div class="col-6">
                                                <div class="pro-02-list-info f-left">
                                                    <span>Vía de administración</span>
                                                    <p>
                                                        @item.Producto.ViaAdministracion
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <hr style="margin: 0 0 1rem 0 !important;" />

                                <div class="container">
                                    <div class="row">

                                        <div class="col-4">
                                            <div class="pro-02-list-info f-left">
                                                <span>Condición de Venta</span>
                                                <p>
                                                    @item?.Producto.CondicionVenta
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </div>


                                @if (@item?.Fabricante != null)
                                {
                                    <hr style="margin: 0 0 1rem 0 !important;" />
                                }

                                <div class="container">
                                    <div class="row">
                                        @if (@item?.Fabricante != null)
                                        {
                                            <div class="col-4">
                                                <div class="pro-02-list-info f-left">
                                                    <span>Fabricante</span>
                                                    <p>
                                                        @(!string.IsNullOrEmpty(item.Fabricante.Correo) ? $"{item.Fabricante.Nombre} ({item.Fabricante.Correo})" : item.Fabricante.Nombre)
                                                    </p>
                                                </div>
                                            </div>
                                        }


                                    </div>
                                    <div class="row">

                                        @if (!string.IsNullOrEmpty(@item?.Fabricante?.Pais))
                                        {
                                            <div class="col-3">
                                                <div class="pro-02-list-info f-left">
                                                    <span>País</span>
                                                    <p>
                                                        @item.Fabricante.Pais
                                                    </p>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>



                                @if (!string.IsNullOrEmpty(@item?.Producto?.DescripcionEnvase) || item.Presentaciones?.Count > 0 || item.Excipientes?.Count > 0)
                                {
                                    <hr style="margin: 0 0 1rem 0 !important;" />
                                }

                                <div class="container">

                                    <div class="row">
                                        @if (!string.IsNullOrEmpty(@item?.Producto?.DescripcionEnvase))
                                        {
                                            <div class="col-12">
                                                <div class="pro-02-list-info f-left">
                                                    <span>Descripción del Envase</span>
                                                    <p>
                                                        @item?.Producto?.DescripcionEnvase
                                                    </p>

                                                </div>
                                            </div>
                                        }

                                    </div>

                                    <div class="row">
                                        @if (item.Presentaciones?.Count > 0)
                                        {
                                            <div class="col-12">
                                                <div class="pro-02-list-info f-left">
                                                    <span>Presentación</span>
                                                    <ul class="footer-link">
                                                        @foreach (var pre in item.Presentaciones)
                                                        {
                                                            <li>
                                                                 <p>
                                                                    @($"{pre.Presentacion}({pre.Tipo})")
                                                                  </p>
                                                            </li>
                                                        }
                                                    </ul>

                                                </div>
                                            </div>
                                        }

                                    </div>

                                    <div class="row">
                                        @if (item.Excipientes?.Count > 0)
                                        {
                                            <div class="col-12" style="margin-top: 10px;">
                                                <div class="pro-02-list-info f-left">
                                                    <span>Excipientes</span>
                                                    <ul class="footer-link">
                                                        @foreach (var ex in item.Excipientes)
                                                        {
                                                            <li>
                                                                <p> @($"{ex.Descripcion}({ex.Concentracion})") </p>
                                                            </li>
                                                        }
                                                    </ul>

                                                </div>
                                            </div>
                                        }

                                    </div>

                                </div>


                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public int product { get; set; } = 0;
    protected bool loading { get; set; } = true;
    private MudPagination _mudPagination;
    private AigRecord item;
    private string DataSheetURL = string.Empty;
    private string ProspectusURL = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        item = await DoFetchData();
        if (item == null)
        {
            item = new AigRecord();
            _navigation.NavigateTo("./NotFound");
        }
        base.OnInitialized();
    }

    private async Task<AigRecord> DoFetchData()
    {
        loading = true;
        //var result = await _unitOfWork.Repository<AigMedicamento>().GetByIdAsync(product);
        var result = await _client.GetDetailsAsync(product, _config.Value);
        loading = false;
        return result.Data;
    }

    private string GetSaleCondition(string value)
    {
        return value switch
        {
            "SP" => "Sin prescripción médica",
            "CP" => "Con prescripción médica",
            "UH" => "Uso hospitalario exclusivo",
            "VP" => "Venta popular",
            _ => string.Empty
        };
    }
    private string GetEquivalence(string value)
    {
        return value switch
        {
            "I" => "Medicamento de Referencia",
            "R" => "Medicamento Intercambiable",
            "G" => "Medicamento Genérico",
            "M" => "Medicamento de Marca",
            _ => string.Empty
        };
    }

    private string GetMedicationType(string value)
    {
        return value switch
        {
            "OT" => "Intercambiablea",
            "SI" => "Síntesis Química",
            "RA" => "Radiofármacos",
            "HU" => "Huérfanos",
            "HO" => "Homeopáticos",
            "FF" => "Fitofármacos",
            "BT" => "Biotecnológicos",
            "BI" => "Biológicos",
            _ => string.Empty
        };
    }

}