@page "/"
@*@layout MainLayout*@
@using System.Linq
@using Aig.Farmacoterapia.Application.Dashboard.Event
@using Aig.Farmacoterapia.Application.Dashboard.Model
@using System.Globalization
@using Aig.Farmacoterapia.Application.Medicament.Model
@using Aig.Farmacoterapia.Domain.Common
@using Aig.Farmacoterapia.Domain.Entities
@using Aig.Farmacoterapia.Domain.Interfaces
@using Aig.Farmacoterapia.Infrastructure.Configuration
@using Aig.Farmacoterapia.Public.Converter
@using BlazorComponentBus
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Options
@inject ISystemLogger _systemLogger;
@inject IMedicamentRepository _repository;
@inject IOptions<AppConfiguration> _config;
@inject NavigationManager _navigation;
@inject IJSRuntime jsRuntime;

@if (loading)
{
    <MudOverlay Visible="loading" LightBackground="true" Absolute="true">
        <MudProgressCircular Size="Size.Large" Color="Color.Info" Indeterminate="true" />
    </MudOverlay>
}
else
{
      <div class="col-xl-3 col-lg-3">
                    <div class="category-sidebar cat-side mb-30">

                        <div class="panel panel-default funkyradio divshadow">
                            <div>
                                <div class="panel-body" id="menuleft">

                                    <span style="margin-left: 3px;text-align:center;font-size:12pt;font-weight:bold;color:#9b9b9b;">Filtros</span>
                                    <button type="button" title="Borrar filtros" @onclick="() => OnClean()" class="action-btn f-right" href="#"><i class="fa fa-trash"></i></button>
                                    <button  type="button" title="Aplicar filtros" @onclick="() => OnSearch()" class="action-btn f-right" href="#"><i class="fa fa-filter"></i></button>
                                    
                                    <MudCheckBox  style="margin-top: 5px;" @bind-Checked="@search.Or" Color="Color.Warning" Converter="@(new CustomStringToBoolConverter())">@(@search.Or)</MudCheckBox>
                                   
                                    <hr style=" margin: 0px 0 10px 0!important;border-bottom: 1px solid #adcdec;"/>
                                       
                                     <div style="display:flex">
                                        <div>
                                            <MudCheckBox  TriState="true" @bind-Checked="@search.MedicalPrescription" Color="Color.Info">  Prescripción Médica </MudCheckBox>
                                        </div>
                                       
                                    </div>

                                    <div style="display:flex">
                                        <div>
                                            <MudCheckBox TriState="true" @bind-Checked="@search.HospitalUse" Color="Color.Info">Uso Hospitalario </MudCheckBox>
                                        </div>
                                       
                                    </div>

                                    <div style="display:flex">
                                        <div>
                                            <MudCheckBox TriState="true" @bind-Checked="@search.PopularSale" Color="Color.Info">Venta Popular</MudCheckBox>
                                        </div>
                                        
                                       
                                    </div>

                                    <div style="margin-top:2px;border-top:1px solid #adcdec;margin-bottom:10px"></div>

                                    <div style="display:flex">
                                        <div>
                                            <MudCheckBox TriState="true" @bind-Checked="@search.ChemicalSynthesis" Color="Color.Info">Síntesis Química </MudCheckBox>
                                        </div>
                                       
                                       
                                    </div>

                                    <div style="display:flex">
                                        <div>
                                            <MudCheckBox TriState="true" @bind-Checked="@search.Orphans" Color="Color.Info">Huérfanos</MudCheckBox>
                                        </div>
                                        
                                        

                                    </div>

                                    <div style="display:flex">
                                        <div>
                                            <MudCheckBox TriState="true" @bind-Checked="@search.Homeopathic" Color="Color.Info">Homeopáticos</MudCheckBox>
                                        </div>
                                       
                                       
                                    </div>

                                    <div style="display:flex">
                                        <div>
                                            <MudCheckBox  TriState="true" @bind-Checked="@search.Phytopharmaceuticals" Color="Color.Info">Fitofármacos</MudCheckBox>
                                        </div>
                                       
                                    </div>

                                    <div style="display:flex">
                                        <div>
                                            <MudCheckBox TriState="true" @bind-Checked="@search.Biotechnological" Color="Color.Info">Biotecnológicos</MudCheckBox>
                                        </div>
                                       
                                    </div>

                                    <div style="display:flex">
                                        <div>
                                            <MudCheckBox TriState="true" @bind-Checked="@search.Biological" Color="Color.Info">Biológicos</MudCheckBox>
                                        </div>
                                       
                                       

                                    </div>
                                    <div style="margin-top:2px;border-top:1px solid #adcdec;margin-bottom:10px"></div>

                                   

                                    <div style="display:flex">
                                        <div>
                                            <MudCheckBox TriState="true" @bind-Checked="@search.Reference" Color="Color.Info">Referencia</MudCheckBox>
                                        </div>
                                        
                                       
                                    </div>

                                    <div style="display:flex">
                                        <div>
                                            <MudCheckBox TriState="true" @bind-Checked="@search.Interchangeable" Color="Color.Info">Medicamento Intercambiable</MudCheckBox>
                                        </div>
                                       
                                    </div>

                                     <div style="display:flex">
                                        <div>
                                            <MudCheckBox TriState="true" @bind-Checked="@search.Generic" Color="Color.Info">Medicamento Genérico</MudCheckBox>
                                        </div>
                                    
                                    </div>

                                      <div style="display:flex">
                                        <div>
                                            <MudCheckBox TriState="true" @bind-Checked="@search.Mark" Color="Color.Info">Medicamento de Marca</MudCheckBox>
                                        </div>
                                       
                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>
                </div>

    <div class="col-xl-9 col-lg-9">
        <div class="pro-ful-tab">
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-3">
                    <div class="product-02-tab" style="margin-bottom: 15px;">
                        <ul class="nav justify-content-start product-nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">
                                    <i class="fas fa-th-large"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">
                                    <i class="fas fa-bars"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="product-tab-content">
                <div class="tab-content" id="myTabContent">

                    @if (paginatedResult == null || paginatedResult.Data.Count == 0)
                    {
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 offset-lg-3 offset-xl-3">
                                <div class="section-title text-center mb-65">
                                    <h2>No se encontraron resultados</h2>
                                    <p>Intente cambiar los parámetros de búsqueda </p>
                                </div>
                            </div>
                        </div>
                    }

                    @if (paginatedResult != null && paginatedResult.Data.Count > 0)
                    {
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                @foreach (var context in paginatedResult.Data)
                                {

                                    <div class="col-xl-3 cl-lg-3 col-md-6">
                                        <div class="product-03-wrapper grey-2-bg pos-rel text-center mb-30">
                                            <div class="product-02-img pos-rel">

                                                @if (!string.IsNullOrEmpty(@context.PictureData))
                                                {
                                                    <a target="_blank" href="/details/@context.Id">
                                                        <img src="@context.PictureData" Width="350" Height="250" Elevation="25" Class="rounded-lg" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="/details/@context.Id">
                                                        <img src="assets/img/products/no-image.png" Width="350" Height="250" alt="">
                                                    </a>
                                                }

                                            </div>
                                            <div class="product-text">

                                                <h4><a href="/details/@context.Id">@context.Nombre</a></h4>
                                                <h5>@context.Principio</h5>
                                                <span>
                                                    @(!string.IsNullOrEmpty(@context.FormaFarmaceutica?.Nombre) ? @context.FormaFarmaceutica?.Nombre : "-")
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                  
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                         @foreach (var context in paginatedResult.Data)
                         {
                             <div class="row">
                                    <div class="col-2">
                                        <div class="product">
                                            <div class="product-img">
                                               
                                                @if (!string.IsNullOrEmpty(@context.PictureData))
                                                {
                                                    <a target="_blank" href="/details/@context.Id">
                                                        <img src="@context.PictureData" Width="250" Height="200" Elevation="25" Class="rounded-lg" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="/details/@context.Id">
                                                        <img src="assets/img/products/no-image.png" Width="250" Height="200" alt="">
                                                    </a>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="product-list-content">
                                            <div class="product-text">
                                                <h4><a href="/details/@context.Id">@context.Nombre</a></h4>
                                                <h5>@context.Principio</h5>
                                                <span>
                                                    @(!string.IsNullOrEmpty(@context.FormaFarmaceutica?.Nombre) ? @context.FormaFarmaceutica?.Nombre : "-") /
                                                    @(!string.IsNullOrEmpty(@context.ViaAdministracion?.Nombre) ? @context.ViaAdministracion?.Nombre : "-")
                                                </span>
                                               
                                              
                                            </div>
                                            
                                            <p>
                                              @context.Envase
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>
                                 <hr style="margin: 0 0 1rem 0 !important;" />
                        }
                       
                    </div>

                  }

                </div>
            </div>

            <div class="d-flex flex-column align-center" style="margin-bottom: 10px;">
                <MudPagination Size="Size.Large" Selected="@paginatedResult.CurrentPage" SelectedChanged="PageChanged" Color="Color.Info" Count="@paginatedResult.TotalPages" />
            </div>

            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <span style="text-align:center; color: #6c757d !important;font-size: 16px;"> @($"{paginatedResult.StartIndex+1} al {paginatedResult.EndIndex+1} de {paginatedResult.TotalCount }")</span>
                </div>
            </div>

        </div>
    </div>
}
@code {

    private HomeFilter search { get; set; }=new HomeFilter();
    protected bool loading { get; set; } = true;
    private MudPagination _mudPagination;
    private PaginatedResult<AigMedicamento> paginatedResult;
    public string customstr { get; set; } = "OR";
    protected async override Task OnInitializedAsync()
    { 
        //search = new HomeFilter();
        paginatedResult = new PaginatedResult<AigMedicamento>(){PageSize=20};
        Bus.Subscribe<SearchChangeEvent>(SearchChangeEventHandler);
        var uri = _navigation.ToAbsoluteUri(_navigation.Uri);
       if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("term", out var _term)){
            await jsRuntime.InvokeVoidAsync("window.history.replaceState", null, "", "/");
            Bus.Publish(new SearchTermEvent { Term = _term });
        }
        else await DoFetchData();
        base.OnInitialized();
    }

    private async Task RefresView()
    {
        await this.InvokeAsync(StateHasChanged);
    }
    private void SearchChangeEventHandler(MessageArgs args)
    {
        var message = args.GetMessage<SearchChangeEvent>();
        if (message is SearchChangeEvent)
        {
            search = message.Filter;
            DoFetchData();
        }
  
    }

    private async Task DoFetchData()
    {
        loading = true;
        var sorting =new List<SortingOption>(){ new SortingOption { Field = "name", Direction = SortingDirection.ASC } };
        var filters = new List<FilteringOption>();
        if (search != null)
        {
            if (!string.IsNullOrEmpty(search.Term))
                filters.Add(new FilteringOption { Field = "term", Operator = FilteringOperator.Contains, Value = search.Term });
            if (search.MedicalPrescription!=null)
                filters.Add(new FilteringOption { Field = "MedicalPrescription", Operator = FilteringOperator.Equal, Value =search.MedicalPrescription.Value?"CP":"SP" });
            if (search.HospitalUse!=null)
                filters.Add(new FilteringOption { Field = "HospitalUse", Operator = search.HospitalUse.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="UH" });
            if (search.PopularSale!=null)
                filters.Add(new FilteringOption { Field = "PopularSale", Operator = search.PopularSale.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="VP" });

            if (search.ChemicalSynthesis!=null)
                filters.Add(new FilteringOption { Field = "ChemicalSynthesis", Operator = search.ChemicalSynthesis.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="SI" });
            if (search.Radiopharmaceuticals!=null)
                filters.Add(new FilteringOption { Field = "Radiopharmaceuticals", Operator = search.Radiopharmaceuticals.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="RA" });
            if (search.Orphans!=null)
                filters.Add(new FilteringOption { Field = "Orphans", Operator = search.Orphans.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="HU" });
            if (search.Homeopathic!=null)
                filters.Add(new FilteringOption { Field = "Homeopathic", Operator = search.Homeopathic.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="HO" });
            if (search.Phytopharmaceuticals!=null)
                filters.Add(new FilteringOption { Field = "Phytopharmaceuticals", Operator = search.Phytopharmaceuticals.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="FF" });
            if (search.Biotechnological!=null)
                filters.Add(new FilteringOption { Field = "Biotechnological", Operator = search.Biotechnological.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="BT" });
            if (search.Biological!=null)
                filters.Add(new FilteringOption { Field = "Biological", Operator = search.Biological.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="BI" });

            if (search.Interchangeable!=null)
                filters.Add(new FilteringOption { Field = "Interchangeable", Operator = search.Interchangeable.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="I" });
            if (search.Reference!=null)
                filters.Add(new FilteringOption { Field = "Referencia", Operator = search.Reference.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="R" });
            if (search.Generic!=null)
                filters.Add(new FilteringOption { Field = "Generic", Operator = search.Generic.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="G" });
            if (search.Mark!=null)
                filters.Add(new FilteringOption { Field = "Mark", Operator = search.Mark.Value? FilteringOperator.Equal:FilteringOperator.NotEqual, Value ="M" });
        }
        var args = new PageSearchArgs() {
                PageIndex = paginatedResult.CurrentPage,
                PageSize = paginatedResult.PageSize,
                SortingOptions = sorting,
                FilteringOptions = filters
            };
        paginatedResult = await _repository.ListAsync(args,search.Or=="Algunos"?LogicalOperator.Or:LogicalOperator.And);
        loading = false;
        await RefresView();
    }
    private  async Task PageChanged(int i){
        paginatedResult.CurrentPage = i;
        await DoFetchData();
    }
     private async Task OnClean()
    {    
         search = new HomeFilter();
         await DoFetchData();
    }
     private async Task OnSearch()
    {  
         await DoFetchData();
    }

}