@using DataModel.Helper;

@if (Rfv != null)
{
    <div class="modal fade show" id="exampleModal" tabindex="-1" style="display: block;overflow-y: auto;" aria-modal="true" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">@(Rfv != null && Rfv.Id > 0 ? @languageContainerService.Keys["Edit"] : @languageContainerService.Keys["New"]) @languageContainerService.Keys["RFV"]</h5>
                    <button type="button" class="close" @onclick="(e)=>{Cancel();}"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <EditForm Model="@Rfv" OnValidSubmit="SaveData">
                        <DataAnnotationsValidator />
                        <ul class="nav nav-tabs  nav-tabs-line nav-tabs-line-2x nav-tabs-line-primary nav-tabs-bold" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#generalInfo" role="tab">@languageContainerService.Keys["GeneralInfo"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#attachments" role="tab">@languageContainerService.Keys["Attachments"]</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="generalInfo" role="tabpanel">
                                <h4>@languageContainerService.Keys["GeneralInfo"]</h4>
                                <div class="row clearfix">
                                    <div class="col-sm-9">
                                        <label>@languageContainerService.Keys["FullName"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Rfv.NombreCompleto" />
                                                <ValidationMessage For=@(() => Rfv.NombreCompleto) />
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-3">
                                <label for="password">@languageContainerService.Keys["Charge"]</label>
                                <div class="form-group">
                                <div class="form-line">
                                <InputText class="form-control" @bind-Value="Rfv.Cargo" />
                                <ValidationMessage For=@(() => Rfv.Cargo) />
                                </div>
                                </div>
                                </div>*@
                                    <div class="col-sm-3">
                                        <label for="password">@languageContainerService.Keys["Charge"]</label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Rfv.TipoCargo" class="form-control">
                                                <option value=""></option>
                                                @foreach (enum_Cargos dt in Enum.GetValues(typeof(enum_Cargos)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Rfv.TipoCargo) />
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-3">
                                        <label for="password">@languageContainerService.Keys["Type"]</label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Rfv.TipoUbicacion" class="form-control">
                                                <option value=""></option>
                                                @foreach (enum_UbicationType dt in Enum.GetValues(typeof(enum_UbicationType)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Rfv.TipoUbicacion) />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["Business"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                @*<InputSelect class="form-control" @bind-Value="Rfv.LaboratorioId">
                                            <option value=""></option>
                                            @if (Labs != null)
                                            {
                                            foreach (var dt in Labs)
                                            {
                                            <option value="@dt.Id">@dt.Nombre</option>
                                            }
                                            }
                                            </InputSelect>*@
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Rfv.LaboratorioId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@Labs TextProperty="Nombre" ValueProperty="Id" />

                                                <ValidationMessage For=@(() => Rfv.LaboratorioId) />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="password">@languageContainerService.Keys["NotificationDate"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="Rfv.FechaNotificacion" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Rfv.FechaNotificacion) />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row clearfix">

                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Address"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Rfv.DireccionFisica" />
                                                <ValidationMessage For=@(() => Rfv.DireccionFisica) />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">

                                    <div class="col-sm-6">
                                        <label>@languageContainerService.Keys["Phones"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Rfv.Telefonos" />
                                                <ValidationMessage For=@(() => Rfv.Telefonos) />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label>@languageContainerService.Keys["Emails"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Rfv.Correos" />
                                                <ValidationMessage For=@(() => Rfv.Correos) />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Observatios"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="8" class="form-control" @bind-Value="Rfv.Observaciones" />
                                                <ValidationMessage For=@(() => Rfv.Observaciones) />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="attachments" role="tabpanel">
                                <h5>@languageContainerService.Keys["Attachments"]</h5>
                                <div class="row clearfix">
                                    <div class="col-9" style="text-align:left;">
                                    </div>
                                    <div class="col-3" style="text-align:right;">
                                        <button type="button" @onclick="(e)=>{OpenAttachment();}"
                                                class="btn btn-sm btn-outline-primary waves-effect">
                                            @languageContainerService.Keys["Add"]
                                        </button>
                                    </div>
                                </div>
                                <!--begin::Section-->
                                <div class="kt-section">
                                    <div class="table-responsive">
                                        <table class="table rounded table-striped">
                                            <thead class=thead-light>
                                                <tr>
                                                    <th>@languageContainerService.Keys["Description"]</th>
                                                    <th>@languageContainerService.Keys["File"]</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Rfv != null && Rfv.Adjunto != null)
                                                {
                                                    @foreach (var dt in Rfv.Adjunto.LAttachments)
                                                    {
                                                        <tr>
                                                            <td scope="row">@dt.Description</td>
                                                            <td>
                                                                <NavLink href="@dt.PictureData" target="_blank">@languageContainerService.Keys["ViewAttachemnt"]</NavLink>
                                                            </td>
                                                            <td style="text-align:right">
                                                                <button type="button" class="btn btn-danger" @onclick="(e)=>{OnDeleteAttachment(dt);}">@languageContainerService.Keys["Delete"]</button>

                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <br>
                        <div class="modal-footer">

                            <button type="submit"
                                class="btn btn-info waves-effect">
                                @languageContainerService.Keys["Save"]
                            </button>

                            <button type="button" class="btn btn-danger waves-effect"
                                @onclick="(e)=>{Cancel();}">
                                @languageContainerService.Keys["Cancel"]
                            </button>
                        </div>


                    </EditForm>

                </div>


            </div>
        </div>
    </div>

    @if (openAttachment)
    {
        <Aig.FarmacoVigilancia.Components.Attachments.AddEditAttachment attachment="@attachment"></Aig.FarmacoVigilancia.Components.Attachments.AddEditAttachment>
    }

    @if (DeleteDialog)
    {
        <Aig.FarmacoVigilancia.Components.DeleteConfirmDialog2></Aig.FarmacoVigilancia.Components.DeleteConfirmDialog2>
    }
}

<div class="modal-backdrop fade show"></div>
