@using DataModel.Helper;

@if (Data != null)
{    
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    @(Data != null && Data.Id > 0 ? @languageContainerService.Keys["Edit"] : @languageContainerService.Keys["Nueva"]) @languageContainerService.Keys["Notificación"]
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-actions">
                                    <button type="button" class="btn btn-danger btn-sm btn-bold"
                                    @onclick="(e)=>{Cancel();}">
                                        @languageContainerService.Keys["Cancel"]
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit">
                            <div class="row">
                                <div class="col-12">
                                    <div class="kt-portlet__body">
                                        <EditForm Model="@Data" OnValidSubmit="SaveData">
                                            <DataAnnotationsValidator />
                                            <ul class="nav nav-tabs  nav-tabs-line nav-tabs-line-2x nav-tabs-line-primary nav-tabs-bold" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#generalInfo" role="tab">@languageContainerService.Keys["GeneralInfo"]</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#patient" role="tab">@languageContainerService.Keys["Paciente"]</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#farmacos" role="tab">@languageContainerService.Keys["Vacunas Sospechosas"]</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#concominantes" role="tab">@languageContainerService.Keys["Fármacos Concomitantes"]</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#rams" role="tab">@languageContainerService.Keys["ESAVI "]</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#labs" role="tab">@languageContainerService.Keys["Datos de Laboratorio"]</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#evaluac" role="tab">@languageContainerService.Keys["Evaluación de la Causalidad"]</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#procNotifica" role="tab">@languageContainerService.Keys["Estatus"]</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#attachments" role="tab">@languageContainerService.Keys["Attachments"]</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="generalInfo" role="tabpanel">
                                                    <h5>@languageContainerService.Keys["GeneralInfo"]</h5>
                                                    <div class="row clearfix">
                                                        <div class="col-sm-4">
                                                            <label for="password">
                                                                @languageContainerService.Keys["Origen de la Notificación"]
                                                            </label>
                                                            <div class="form-group">
                                                                <InputSelect @bind-Value="Data.OrigenNotificacion" class="form-control">
                                                                    @foreach (enumFMV_RAMOrigenType dt in Enum.GetValues(typeof(enumFMV_RAMOrigenType)))
                                                                    {
                                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                    }
                                                                </InputSelect>
                                                                <ValidationMessage For=@(() => Data.OrigenNotificacion) />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>@languageContainerService.Keys["Código de Notifacedra"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputText class="form-control" @bind-Value="Data.CodigoNotiFacedra" />
                                                                    <ValidationMessage For=@(() => Data.CodigoNotiFacedra) />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>@languageContainerService.Keys["ID de Facedra"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputText class="form-control" @bind-Value="Data.IdFacedra" />
                                                                    <ValidationMessage For=@(() => Data.IdFacedra) />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>@languageContainerService.Keys["Código Externo"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputText class="form-control" @bind-Value="Data.CodExt" />
                                                                    <ValidationMessage For=@(() => Data.CodExt) />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>@languageContainerService.Keys["Código del CNFV"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputText class="form-control" @bind-Value="Data.CodCNFV" />
                                                                    <ValidationMessage For=@(() => Data.CodCNFV) />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>
                                                                @languageContainerService.Keys["Fecha de Recibido (CNFV)"]
                                                            </label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="Data.FechaRecibidoCNFV" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                                    <ValidationMessage For=@(() => Data.FechaRecibidoCNFV) />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>
                                                                @languageContainerService.Keys["Fecha Entrega a Evaluador"]
                                                            </label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <RadzenDatePicker Max="DateTime.Today" Min="Data.FechaRecibidoCNFV" TValue="DateTime?" @bind-Value="Data.FechaEntregaEva" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                                    <ValidationMessage For=@(() => Data.FechaEntregaEva) />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="password">@languageContainerService.Keys["Evaluator"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.EvaluadorId
                                                                                    AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                                    Data=@lEvaluators TextProperty="NombreCompleto" ValueProperty="Id"
                                                                                    Change=@(args => {OnEvaluatorChange((args!=null?(long)args:null));}) />

                                                                    <ValidationMessage For=@(() => Data.EvaluadorId) />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <h5>@languageContainerService.Keys["Procedencia de la Notificación"]</h5>
                                                    <div class="row clearfix">

                                                        <div class="col-sm-4">
                                                            <label for="password">
                                                                @languageContainerService.Keys["Tipo de Notificador"]
                                                            </label>
                                                            <div class="form-group">
                                                                <InputSelect @bind-Value="Data.TipoNotificacion" class="form-control">
                                                                    @foreach (enumFMV_RAMNotificationType dt in Enum.GetValues(typeof(enumFMV_RAMNotificationType)))
                                                                    {
                                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                    }
                                                                </InputSelect>
                                                                <ValidationMessage For=@(() => Data.TipoNotificacion) />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>@languageContainerService.Keys["Notificador"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputText class="form-control" @bind-Value="Data.Notificador" />
                                                                    <ValidationMessage For=@(() => Data.Notificador) />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="password">
                                                                @languageContainerService.Keys["Tipo de Organización"]
                                                            </label>
                                                            <div class="form-group">
                                                                <div class="form-line">                                                               
                                                                    <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.TipoInstitucionId
                                                                                    AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                                    Data=@lTipoInstitucion TextProperty="Nombre" ValueProperty="Id"
                                                                                    Change=@(args => {OnChangeTipoInstitucion((args!=null?(long)args:null));}) />
                                                                    <ValidationMessage For=@(() => Data.TipoInstitucionId) />
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>@languageContainerService.Keys["Provincia"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    @*<InputText class="form-control" @bind-Value="Data.ProvRegionOrigen" />*@
                                                                    <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.ProvinciaId
                                                                                    AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                                    Data=@lProvincias TextProperty="Nombre" ValueProperty="Id"
                                                                                    Change=@(args => {OnChangeProvincia((args!=null?(long)args:null));}) />
                                                                    <ValidationMessage For=@(() => Data.ProvinciaId) />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>@languageContainerService.Keys["Organización"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    @*<InputText class="form-control" @bind-Value="Data.NombreOrgInst" />*@
                                                                    <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.InstitucionId
                                                                                    AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                                    Data=@lInstitucionDestino TextProperty="Nombre" ValueProperty="Id" />
                                                                    <ValidationMessage For=@(() => Data.InstitucionId) />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="tab-pane" id="patient" role="tabpanel">

                                                    <h5>@languageContainerService.Keys["Paciente"]</h5>
                                                    <div class="row clearfix">

                                                        <div class="col-sm-8">
                                                            <label>@languageContainerService.Keys["Nombre Completo de la Persona"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputText class="form-control" @bind-Value="Data.NombreCompletoPersona" />
                                                                    <ValidationMessage For=@(() => Data.NombreCompletoPersona) />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>@languageContainerService.Keys["Iniciales de Paciente"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputText class="form-control" @bind-Value="Data.InicialesPersona" />
                                                                    <ValidationMessage For=@(() => Data.InicialesPersona) />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-3">
                                                            <label>@languageContainerService.Keys["Cedula"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputText class="form-control" @bind-Value="Data.Cedula" />
                                                                    <ValidationMessage For=@(() => Data.Cedula) />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-3">
                                                            <label>@languageContainerService.Keys["Sexo"]</label>
                                                            <div class="form-group">
                                                                <InputSelect @bind-Value="Data.Sexo" class="form-control">
                                                                    @foreach (enumSexo dt in Enum.GetValues(typeof(enumSexo)))
                                                                    {
                                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                    }
                                                                </InputSelect>
                                                                <ValidationMessage For=@(() => Data.Sexo) />
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-3">
                                                            <label>@languageContainerService.Keys["Edad"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputText class="form-control" @bind-Value="Data.Edad" />
                                                                    <ValidationMessage For=@(() => Data.Edad) />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            <label>@languageContainerService.Keys["Historia Clínica"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputTextArea rows="8" class="form-control" @bind-Value="Data.HistoriaClinica" />
                                                                    <ValidationMessage For=@(() => Data.HistoriaClinica) />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            <label>@languageContainerService.Keys["Otros Diagnosticos"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputTextArea rows="8" class="form-control" @bind-Value="Data.OtrosDiagnosticos" />
                                                                    <ValidationMessage For=@(() => Data.OtrosDiagnosticos) />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="farmacos" role="tabpanel">

                                                    <div class="row clearfix">
                                                         <div class="col-6" style="text-align:left;">
                                                            <h5>@languageContainerService.Keys["Vacunas Sospechosas"]</h5>
                                                        </div>
                                                        <div class="col-6" style="text-align:right;">
                                                            <button type="button" @onclick="(e)=>{OpenFarmaco();}" class="btn btn-sm btn-outline-primary waves-effect">
                                                                @languageContainerService.Keys["Add"]
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!--begin::Section-->
                                                    <div class="kt-section">
                                                        <div class="table-responsive">
                                                            <table class="table rounded table-striped">
                                                                <thead class=thead-light>
                                                                    <tr>
                                                                        <th>@languageContainerService.Keys["Nombre Comercial"]</th>
                                                                        <th>@languageContainerService.Keys["Tipo de Vacuna"]</th>
                                                                        <th>@languageContainerService.Keys["Fabricante"]</th>
                                                                        <th>@languageContainerService.Keys["Lote"]</th>
                                                                        <th>@languageContainerService.Keys["Fecha Exp."]</th>
                                                                        <th>@languageContainerService.Keys["Reg. Sanitario"]</th>
                                                                        <th>@languageContainerService.Keys["Fecha Vacunación"]</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Data != null && Data.LVacunas?.Count>0)
                                                                    {
                                                                        @foreach (var dt in Data.LVacunas)
                                                                        {
                                                                            <tr>
                                                                                <td scope="row">@dt.VacunaComercial</td>
                                                                                <td>@(dt.TipoVacuna?.Nombre??"")</td>
                                                                                <td>@(dt.Laboratorio?.Nombre??"")</td>
                                                                                <td>@dt.Lote</td>
                                                                                <td>@(dt.FechaExp?.ToString("dd/MM/yyyy"))</td>
                                                                                <td>@dt.RegSanitario</td>
                                                                                <td>@(dt.FechaVacunacion?.ToString("dd/MM/yyyy"))</td>
                                                                                <td style="text-align:right">
                                                                                    <div class="btn-group">
                                                                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@languageContainerService.Keys["Actions"]</button>
                                                                                        <div class="dropdown-menu">
                                                                                            <a class="dropdown-item" href="javascript:void(0)" @onclick="() => OpenFarmaco(dt)" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>@languageContainerService.Keys["Edit"]</a>
                                                                                            <a class="dropdown-item" href="javascript:void(0)" @onclick="() => RemoveFarmaco(dt)"><i class="fa fa-trash"></i>@languageContainerService.Keys["Delete"]</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="tab-pane" id="concominantes" role="tabpanel">
                                                    <div class="row clearfix">
                                                        <div class="col-6" style="text-align:left;">
                                                            <h5>@languageContainerService.Keys["Fármacos Concomitantes"]</h5>
                                                        </div>
                                                        <div class="col-6" style="text-align:right;">
                                                            <button type="button" @onclick="(e)=>{OpenConcominante();}" class="btn btn-sm btn-outline-primary waves-effect">
                                                                @languageContainerService.Keys["Add"]
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!--begin::Section-->
                                                    <div class="kt-section">
                                                        <div class="table-responsive">
                                                            <table class="table rounded table-striped">
                                                                <thead class=thead-light>
                                                                    <tr>
                                                                        <th>@languageContainerService.Keys["Medicamento"]</th>
                                                                        <th>@languageContainerService.Keys["Dosis, Frec., Vía Administ."]</th>
                                                                        <th>@languageContainerService.Keys["Fecha de Tratamineto"]</th>
                                                                        <th>@languageContainerService.Keys["Indicación"]</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Data != null && Data.Concominantes != null && Data.Concominantes.LProductos != null)
                                                                    {
                                                                        @foreach (var dt in Data.Concominantes.LProductos)
                                                                        {
                                                                            <tr>
                                                                                <td scope="row">@dt.Nombre</td>
                                                                                <td>@dt.ViaAdministracion</td>                                                                                
                                                                                <td>@(dt.FechaTratamiento?.ToString("dd/MM/yyyy")??"")</td>
                                                                                <td>@dt.Indicacion</td>
                                                                                <td style="text-align:right">
                                                                                    <div class="btn-group">
                                                                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@languageContainerService.Keys["Actions"]</button>
                                                                                        <div class="dropdown-menu">
                                                                                            <a class="dropdown-item" href="javascript:void(0)" @onclick="() => OpenConcominante(dt)" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>@languageContainerService.Keys["Edit"]</a>
                                                                                            <a class="dropdown-item" href="javascript:void(0)" @onclick="() => RemoveConcominante(dt)"><i class="fa fa-trash"></i>@languageContainerService.Keys["Delete"]</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tab-pane" id="rams" role="tabpanel">
                                                    <div class="row clearfix">
                                                        <div class="col-6" style="text-align:left;">
                                                            <h5>@languageContainerService.Keys["ESAVI "]</h5>
                                                        </div>
                                                        <div class="col-6" style="text-align:right;">
                                                            <button type="button" @onclick="(e)=>{OpenFarmacoRam();}" class="btn btn-sm btn-outline-primary waves-effect">
                                                                @languageContainerService.Keys["Add"]
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!--begin::Section-->
                                                    <div class="kt-section">
                                                        <div class="table-responsive">
                                                            <table class="table rounded table-striped">
                                                                <thead class=thead-light>
                                                                    <tr>
                                                                        <th>@languageContainerService.Keys["Vacuna Sospechosa"]</th>
                                                                        <th>@languageContainerService.Keys["ESAVI "]</th>
                                                                        <th>@languageContainerService.Keys["Hay ESAVI?"]</th>
                                                                        <th>@languageContainerService.Keys["Fecha de ESAVI"]</th>
                                                                        <th>@languageContainerService.Keys["Descenlace"]</th>
                                                                        <th>@languageContainerService.Keys["SOC"]</th>
                                                                        <th>@languageContainerService.Keys["Término MedDRA"]</th>
                                                                        <th>@languageContainerService.Keys["Intensidad de la ESAVI"]</th>
                                                                        <th>@languageContainerService.Keys["Gravedad"]</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Data != null && Data.LVacunas?.Count > 0)
                                                                    {
                                                                        @foreach (var dt in Data.LVacunas)
                                                                        {
                                                                            @if (dt.LEsavis?.Count>0)
                                                                            {
                                                                                @foreach (var ram in dt.LEsavis)
                                                                                {
                                                                                     <tr>
                                                                                        <td scope="row">
                                                                                            @(ram.EsaviVacuna?.VacunaComercial??"")<br/>
                                                                                            @(ram.EsaviVacuna?.TipoVacuna?.Nombre?? "")
                                                                                        </td>
                                                                                        <td>@ram.EsaviDescripcion</td>
                                                                                        <td>@(DataModel.Helper.Helper.GetDescription(ram.HayEsavi))</td>
                                                                                        <td>@(ram.FechaEsavi?.ToString("dd/MM/yyyy") ?? "")</td>
                                                                                        <td>@(DataModel.Helper.Helper.GetDescription(ram.Desenlace))</td>
                                                                                        <td>@ram.Soc</td>
                                                                                        <td>@ram.TerWhoArt</td>
                                                                                        <td>@(ram.IntensidadEsavi?.Nombre??"")</td>
                                                                                        <td>@ram.Gravedad</td>
                                                                                        <td style="text-align:right">
                                                                                            <div class="btn-group">
                                                                                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@languageContainerService.Keys["Actions"]</button>
                                                                                                <div class="dropdown-menu">
                                                                                                    <a class="dropdown-item" href="javascript:void(0)" @onclick="() => OpenFarmacoRam(ram)" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>@languageContainerService.Keys["Edit"]</a>
                                                                                                    <a class="dropdown-item" href="javascript:void(0)" @onclick="() => RemoveFarmacoRam(ram)"><i class="fa fa-trash"></i>@languageContainerService.Keys["Delete"]</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                }
                                                                            } 
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tab-pane" id="labs" role="tabpanel">

                                                    <h5>@languageContainerService.Keys["Datos de Laboratorio"]</h5>
                                                    <div class="row clearfix">

                                                        <div class="col-sm-12">
                                                            <label>@languageContainerService.Keys["Datos de Laboratorio"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputTextArea rows="10" id="active_principles" class="form-control" @bind-Value="Data.DatosLab" />
                                                                    <ValidationMessage For=@(() => Data.DatosLab) />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="evaluac" role="tabpanel">
                                                    <div class="row clearfix">
                                                        <h5>@languageContainerService.Keys["Evaluación de la Causalidad"]</h5>
                                                        @*<div class="col-6" style="text-align:left;">
                                                            <h5>@languageContainerService.Keys["Evaluación de la Causalidad"]</h5>
                                                        </div>
                                                        <div class="col-6" style="text-align:right;">
                                                            <button type="button" @onclick="(e)=>{OpenFarmacoRamEval();}" class="btn btn-sm btn-outline-primary waves-effect">
                                                                @languageContainerService.Keys["Add"]
                                                            </button>
                                                        </div>*@
                                                    </div>
                                                    <!--begin::Section-->
                                                    <div class="kt-section">
                                                        <div class="table-responsive">
                                                            <table class="table rounded table-striped">
                                                                <thead class=thead-light>
                                                                    <tr>
                                                                        <th>@languageContainerService.Keys["Vacuna Sospechosa"]</th>
                                                                        <th>@languageContainerService.Keys["ESAVI "]</th>
                                                                        <th>@languageContainerService.Keys["Gravedad"]</th>
                                                                        <th>@languageContainerService.Keys["Inves. y Detalles del Caso"]</th>
                                                                        <th>@languageContainerService.Keys["Otros Criterios de Selec."]</th>
                                                                        <th>@languageContainerService.Keys["Elegibilidad por Gravedad"]</th>
                                                                        <th>@languageContainerService.Keys["Elegibilidad por Otro Criterio"]</th>
                                                                        <th>@languageContainerService.Keys["Elegibe para Eval. de Causalidad"]</th>
                                                                        <th>@languageContainerService.Keys["Prob. de Asosia. Causal con la Inmunización"]</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Data != null && Data.LVacunas?.Count > 0)
                                                                    {
                                                                        @foreach (var dt in Data.LVacunas)
                                                                        {
                                                                            @if (dt.LEsavis?.Count>0)
                                                                            {
                                                                                @foreach (var ram in dt.LEsavis)
                                                                                {
                                                                                    <tr>
                                                                                        <td scope="row">
                                                                                            @(ram.EsaviVacuna?.VacunaComercial ?? "")<br />
                                                                                            @(ram.EsaviVacuna?.TipoVacuna?.Nombre ?? "")
                                                                                        </td>
                                                                                        <td>@ram.EsaviDescripcion</td>
                                                                                        <td>@ram.Gravedad</td>
                                                                                        <td>@(DataModel.Helper.Helper.GetDescription(ram.InvDetalleCaso))</td>
                                                                                        <td>@(DataModel.Helper.Helper.GetDescription(ram.OtrosCriterios))</td>
                                                                                        <td>@ram.ElegibilidadGravedad</td>
                                                                                        <td>@ram.ElegibilidadOtroCriterio</td>
                                                                                        <td>@ram.ElegibleEvaluacionCausal</td>
                                                                                        <td>@(DataModel.Helper.Helper.GetDescription(ram.ProbabilidadAsociacion))</td>
                                                                                        <td style="text-align:right">
                                                                                            <div class="btn-group">
                                                                                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@languageContainerService.Keys["Actions"]</button>
                                                                                                <div class="dropdown-menu">
                                                                                                    <a class="dropdown-item" href="javascript:void(0)" @onclick="() => OpenFarmacoRamEval(ram)" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>@languageContainerService.Keys["Edit"]</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>

                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tab-pane" id="procNotifica" role="tabpanel">
                                                    <h5>@languageContainerService.Keys["Estatus"]</h5>

                                                    <div class="row clearfix">

                                                        <div class="col-sm-4">
                                                            <label>
                                                                @languageContainerService.Keys["Fecha de Evaluación"]
                                                            </label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="Data.FechaEvalua" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                                    <ValidationMessage For=@(() => Data.FechaEvalua) />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label for="password">
                                                                @languageContainerService.Keys["Estatus"]
                                                            </label>
                                                            <div class="form-group">
                                                                <InputSelect @bind-Value="Data.Estatus" class="form-control">
                                                                    @foreach (enumFMV_RAMStatus dt in Enum.GetValues(typeof(enumFMV_RAMStatus)))
                                                                    {
                                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                    }
                                                                </InputSelect>
                                                                <ValidationMessage For=@(() => Data.Estatus) />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <label>@languageContainerService.Keys["Observaciones"]</label>
                                                            <div class="form-group">
                                                                <div class="form-line">
                                                                    <InputTextArea rows="8" class="form-control" @bind-Value="Data.Observaciones" />
                                                                    <ValidationMessage For=@(() => Data.Observaciones) />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="tab-pane" id="attachments" role="tabpanel">
                                                    <h5>@languageContainerService.Keys["Attachments"]</h5>
                                                    <div class="row clearfix">
                                                        <div class="col-9" style="text-align:left;">
                                                        </div>
                                                        <div class="col-3" style="text-align:right;">
                                                            <button type="button" @onclick="(e)=>{OpenAttachment();}"
                                                                    class="btn btn-sm btn-outline-primary waves-effect">
                                                                @languageContainerService.Keys["Add"]
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!--begin::Section-->
                                                    <div class="kt-section">
                                                        <div class="table-responsive">
                                                            <table class="table rounded table-striped">
                                                                <thead class=thead-light>
                                                                    <tr>
                                                                        <th>@languageContainerService.Keys["Description"]</th>
                                                                        <th>@languageContainerService.Keys["File"]</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Data != null && Data.Adjunto != null)
                                                                    {
                                                                        @foreach (var dt in Data.Adjunto.LAttachments)
                                                                        {
                                                                            <tr>
                                                                                <td scope="row">@dt.Description</td>
                                                                                <td>
                                                                                    <NavLink href="@dt.Url" target="_blank">@languageContainerService.Keys["ViewAttachemnt"]</NavLink>
                                                                                </td>
                                                                                <td style="text-align:right">
                                                                                    <button type="button" class="btn btn-danger" @onclick="(e)=>{RemoveAttachment(dt);}">@languageContainerService.Keys["Delete"]</button>

                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <br>
                                            <div class="modal-footer">

                                                <button type="submit" @onclick="(e)=>{Exit=true;}"
                                                        class="btn btn-success waves-effect">
                                                    @languageContainerService.Keys["SaveExit"]
                                                </button>

                                                <button type="submit"
                                                        class="btn btn-info waves-effect">
                                                    @languageContainerService.Keys["Save"]
                                                </button>

                                                <button type="button" class="btn btn-danger waves-effect"
                                                @onclick="(e)=>{Cancel();}">
                                                    @languageContainerService.Keys["Cancel"]
                                                </button>
                                            </div>

                                        </EditForm>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@if (OpenAddEditFarmaco)
{
    <Vacuna Data="@Vacuna"></Vacuna>
}
@if (OpenAddEditFarmacoRam && Data?.LVacunas?.Count > 0)
{
    <Esavi Data="@EsaviVacunaEsavi" LVacunas="@Data.LVacunas"></Esavi>
}
@if (OpenAddEditFarmacoRamEval && EsaviVacunaEsavi != null)
{
    <EvaCausalidad Data="@EsaviVacunaEsavi"></EvaCausalidad>
}
@if (OpenAddEditConcominante)
{
    <Aig.FarmacoVigilancia.Components.Ram2.Concominante Data="@FarmacoConcominante"></Aig.FarmacoVigilancia.Components.Ram2.Concominante>
}
@if (openAttachment)
{
    <Aig.FarmacoVigilancia.Components.Attachments.AddEditAttachment attachment="@attachment"></Aig.FarmacoVigilancia.Components.Attachments.AddEditAttachment>
}