@using DataModel.Helper;
@implements IDisposable

@if (Inspeccion?.InspRetiroRetencion?.DatosAtendidosPor != null)
{
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    @(Inspeccion != null && Inspeccion.Id > 0 ? "ACTA: " + Inspeccion.NumActa : @languageContainerService.Keys["NewInspection"]) - @(DataModel.Helper.Helper.GetDescription(Inspeccion.TipoActa))
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-actions">
                                    <button type="button" class="btn btn-danger btn-sm btn-bold"
                                        @onclick="(e)=>{Cancel();}">
                                        @languageContainerService.Keys["Cerrar"]
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit">
                            <div class="row">
                                <div class="col-12">
                                    <div class="kt-portlet__body">
                                        <EditForm OnValidSubmit="SaveData" EditContext="@editContext">
                                            <DataAnnotationsValidator />
                                            <div class="row clearfix">
                                                <div class="col-12">
                                                    <h5>@languageContainerService.Keys["Productos Retirados"]</h5>
                                                </div>
                                            </div>                                            
                                            <!--begin::Section-->
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["InspectionType"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputSelect @bind-Value="Inspeccion.InspRetiroRetencion.RetiroRetencionType" class="form-control">
                                                                @foreach (enum_InspRetiroRetencionType dt in Enum.GetValues(typeof(enum_InspRetiroRetencionType)))
                                                                {
                                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                }
                                                            </InputSelect>
                                                            <ValidationMessage For=@(() => Inspeccion.InspRetiroRetencion.RetiroRetencionType) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="kt-section">
                                                        <div class="table-responsive">
                                                            <table class="table rounded table-striped">
                                                                <thead class=thead-light>
                                                                    <tr>
                                                                        <th style="text-align:left;">@languageContainerService.Keys["ProductName"]</th>
                                                                        <th style="text-align:left;">@languageContainerService.Keys["CommercialPresentation"]</th>
                                                                        <th style="text-align:left;">@languageContainerService.Keys["Manufacturer"]</th>
                                                                        <th style="text-align:left;">@languageContainerService.Keys["CountryOfManufacture"]</th>
                                                                        <th style="text-align:left;">@languageContainerService.Keys["Lot"]</th>
                                                                        <th style="text-align:left;">@languageContainerService.Keys["ExpDate"]</th>
                                                                        <th style="text-align:left;">@languageContainerService.Keys["AmountWithheld"]</th>
                                                                        <th style="text-align:left;">@languageContainerService.Keys["AmountWithdrawal"]</th>
                                                                        <th style="text-align:left;">@languageContainerService.Keys["ProductDestiny"]</th>
                                                                        <th style="text-align:right;">
                                                                            <button type="button" @onclick="(e)=>{OpenProduct();}"
                                                                                    class="btn btn-sm btn-outline-primary waves-effect">
                                                                                @languageContainerService.Keys["Add"]
                                                                            </button>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Inspeccion != null && Inspeccion.InspRetiroRetencion.LProductos != null)
                                                                    {
                                                                        @foreach (var dt in Inspeccion.InspRetiroRetencion.LProductos)
                                                                        {
                                                                            <tr>
                                                                                <td scope="row">@dt.Nombre</td>
                                                                                <td>@dt.PresentacionComercial</td>
                                                                                <td>@dt.Fabricante</td>
                                                                                <td>@dt.Pais</td>
                                                                                <td>@dt.Lote</td>
                                                                                <td>@(dt.FechaExp?.ToString("dd/MM/yyyy") ?? "")</td>
                                                                                <td>@dt.CantidadRetenida</td>
                                                                                <td>@dt.CantidadRetirada</td>
                                                                                <td>@dt.Destino</td>
                                                                                <td style="text-align:right">
                                                                                    <div class="btn-group">
                                                                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@languageContainerService.Keys["Actions"]</button>
                                                                                        <div class="dropdown-menu">
                                                                                            <a class="dropdown-item" href="javascript:void(0)" @onclick="(e)=>{OpenProduct(dt);}" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>@languageContainerService.Keys["Edit"]</a>
                                                                                            <a class="dropdown-item" href="javascript:void(0)" @onclick="(e)=>{RemoveProduct(dt);}"><i class="fa fa-trash"></i>@languageContainerService.Keys["Delete"]</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            
                                            <br><br>

                                            <div class="kt-portlet__foot" style="text-align:right;">
                                                <div class="kt-form__actions">

                                                    <button type="submit" @onclick="(e)=>{exit=true;}"
                                                            class="btn btn-success waves-effect">
                                                        @languageContainerService.Keys["SaveExit"]
                                                    </button>

                                                    <button type="submit"
                                                            class="btn btn-info waves-effect">
                                                        @languageContainerService.Keys["Save"]
                                                    </button>

                                                    <button type="button" class="btn btn-danger waves-effect"
                                                        @onclick="(e)=>{Cancel();}">
                                                        @languageContainerService.Keys["Cerrar"]
                                                    </button>

                                                </div>
                                            </div>


                                        </EditForm>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (showProducts)
    {
        <Aig.Auditoria.Components.RetiredProduct.AddEditProductComponent Product="@product"></Aig.Auditoria.Components.RetiredProduct.AddEditProductComponent>
    }
}
