@using Aig.Farmacoterapia.Infrastructure.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (SignInManager.IsSignedIn(User))
{
    <div class="kt-header__topbar">
        <div class="kt-header__topbar-item kt-header__topbar-item--user">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
                <div class="kt-header__topbar-user">
                    <span class="kt-header__topbar-welcome kt-hidden-mobile">Hola,</span>
                    <span class="kt-header__topbar-username kt-hidden-mobile">
                        @*@User.Identity?.Name *@
                        @(User.FindFirst("fullName")?.Value)
                    </span>
                    @if (!string.IsNullOrEmpty(User.FindFirst("avatar")?.Value))
                    {
                        <img src="@User.FindFirst("avatar")?.Value" />
                    }
                    else
                    {
                        <span class="kt-badge kt-badge--username kt-badge--unified-danger kt-badge--lg kt-badge--rounded kt-badge--bold">
                            @User.Identity?.Name?[..1]?.ToUpper()
                        </span>
                    }

                </div>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">

                <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(assets/media/misc/bg-1.jpg)">
                    <div class="kt-user-card__avatar">
                        <img class="kt-hidden" alt="Pic" src="assets/media/users/300_25.jpg" />
                        <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-danger">
                            @User.Identity?.Name?[..1]?.ToUpper()
                        </span>
                    </div>
                    <div class="kt-user-card__name">
                        @User.Identity?.Name
                    </div>
                   
                </div>

                <div class="kt-notification">
                  
                    <a href="/users/profile"class="kt-notification__item">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon2-calendar-3 kt-font-success"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                Perfil
                            </div>
                        </div>
                    </a>

                    <div class="kt-notification__custom kt-space-between">
                        <a href="/logout" target="_blank"
                       class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
