@using DataModel.Helper;
@implements IDisposable

@if (Inspeccion?.InspRutinaVigFarmacia?.DatosRegente != null )
{
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    @(Inspeccion != null && Inspeccion.Id > 0 ? "ACTA: " + Inspeccion.NumActa : @languageContainerService.Keys["NewInspection"]) - @(DataModel.Helper.Helper.GetDescription(Inspeccion.TipoActa))
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-actions">
                                    <button type="button" class="btn btn-danger btn-sm btn-bold"
                                        @onclick="(e)=>{Cancel();}">
                                        @languageContainerService.Keys["Cerrar"]
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit">                            
                            <div class="row">
                                <div class="col-12">
                                    <div class="kt-portlet__body">
                                        <EditForm OnValidSubmit="SaveData" EditContext="@editContext">
                                            <DataAnnotationsValidator />
                                            <div class="row clearfix">
                                                <div class="col-12">
                                                    <h5>@languageContainerService.Keys["Datos sobre el Regente Farmacéutico de la Empresa, Farmacéutico de turno y Técnico en Farmacia"]</h5>
                                                </div>
                                            </div>
                                                <div class="row clearfix">
                                                    <div class="col-sm-8">
                                                        <label>@languageContainerService.Keys["FullName"]</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <InputText class="form-control" @bind-Value="Inspeccion.InspRutinaVigFarmacia.DatosRegente.Nombre" />
                                                                <ValidationMessage For=@(() => Inspeccion.InspRutinaVigFarmacia.DatosRegente.Nombre) />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>@languageContainerService.Keys["SuitabilityRegistrationNumber"]</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <InputText class="form-control" @bind-Value="Inspeccion.InspRutinaVigFarmacia.DatosRegente.NumRegistro" />
                                                                <ValidationMessage For=@(() => Inspeccion.InspRutinaVigFarmacia.DatosRegente.NumRegistro) />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>@languageContainerService.Keys["IdentificationCard"]</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <InputText class="form-control" @bind-Value="Inspeccion.InspRutinaVigFarmacia.DatosRegente.Cedula" />
                                                                <ValidationMessage For=@(() => Inspeccion.InspRutinaVigFarmacia.DatosRegente.Cedula) />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>@languageContainerService.Keys["Email"]</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <InputText class="form-control" @bind-Value="Inspeccion.InspRutinaVigFarmacia.DatosRegente.Email" />
                                                                <ValidationMessage For=@(() => Inspeccion.InspRutinaVigFarmacia.DatosRegente.Email) />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>@languageContainerService.Keys["MobilePhone"]</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <InputText class="form-control" @bind-Value="Inspeccion.InspRutinaVigFarmacia.DatosRegente.TelefonoMovil" />
                                                                <ValidationMessage For=@(() => Inspeccion.InspRutinaVigFarmacia.DatosRegente.TelefonoMovil) />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>@languageContainerService.Keys["Se encontraba presente al momento de la inspección?"]</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                            <InputSelect @bind-Value="Inspeccion.InspRutinaVigFarmacia.DatosRegente.PresenteEnInspeccion" class="form-control">
                                                                    @foreach (enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(enumAUD_TipoSeleccion)))
                                                                    {
                                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                    }
                                                                </InputSelect>
                                                            <ValidationMessage For=@(() => Inspeccion.InspRutinaVigFarmacia.DatosRegente.PresenteEnInspeccion) />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <label>@languageContainerService.Keys["Horario declarado en la Licencia de Operación"]</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <InputText class="form-control" @bind-Value="Inspeccion.InspRutinaVigFarmacia.DatosRegente.HorarioRegencia" />
                                                                <ValidationMessage For=@(() => Inspeccion.InspRutinaVigFarmacia.DatosRegente.HorarioRegencia) />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            <div class="row clearfix">
                                                <div class="col-12">
                                                    <h5>@languageContainerService.Keys["Información del Farmacéutico de Turno"]</h5>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Cuenta con Farmacéutico de Turno"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputSelect @bind-Value="Inspeccion.InspRutinaVigFarmacia.DatosFarmaceutico.CuentaConFarmaceutico" class="form-control">
                                                                @foreach (enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(enumAUD_TipoSeleccion)))
                                                                {
                                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                }
                                                            </InputSelect>
                                                            <ValidationMessage For=@(() => Inspeccion.InspRutinaVigFarmacia.DatosFarmaceutico.CuentaConFarmaceutico) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>@languageContainerService.Keys["Horario declarado en la Licencia de Operación"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRutinaVigFarmacia.DatosFarmaceutico.Horario" />
                                                            <ValidationMessage For=@(() => Inspeccion.InspRutinaVigFarmacia.DatosFarmaceutico.Horario) />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Cuenta con Personal (Técnico en Farmacia)"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputSelect @bind-Value="Inspeccion.InspRutinaVigFarmacia.DatosFarmaceutico.CuentaConPersonalTecnico" class="form-control">
                                                                @foreach (enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(enumAUD_TipoSeleccion)))
                                                                {
                                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                }
                                                            </InputSelect>
                                                            <ValidationMessage For=@(() => Inspeccion.InspRutinaVigFarmacia.DatosFarmaceutico.CuentaConPersonalTecnico) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>@languageContainerService.Keys["Nombre de Técnico en Farmacia"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRutinaVigFarmacia.DatosFarmaceutico.Nombre" />
                                                            <ValidationMessage For=@(() => Inspeccion.InspRutinaVigFarmacia.DatosFarmaceutico.Nombre) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>@languageContainerService.Keys["Registro"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText class="form-control" @bind-Value="Inspeccion.InspRutinaVigFarmacia.DatosFarmaceutico.NumRegistro" />
                                                            <ValidationMessage For=@(() => Inspeccion.InspRutinaVigFarmacia.DatosFarmaceutico.NumRegistro) />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <br><br>

                                            <div class="kt-portlet__foot" style="text-align:right;">
                                                <div class="kt-form__actions">@if (!disabledBtns)
                                                    {
                                                        <button type="submit" @onclick="(e)=>{exit=true;}"
                                                                class="btn btn-success waves-effect">
                                                            @languageContainerService.Keys["SaveExit"]
                                                        </button>

                                                        <button type="submit"
                                                                class="btn btn-info waves-effect">
                                                            @languageContainerService.Keys["Save"]
                                                        </button>                                                        
                                                    }<button type="button" class="btn btn-danger waves-effect"
                                                    @onclick="(e)=>{Cancel();}">
                                                        @languageContainerService.Keys["Cerrar"]
                                                    </button>

                                                </div>
                                            </div>


                                        </EditForm>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
}
