@if (Inspeccion != null && Inspeccion.Inspeccion != null)
{
    <EditForm Model="@Inspeccion.Inspeccion" OnValidSubmit="Save">
        <DataAnnotationsValidator />
        <MudCard Elevation="25">
            <MudCardHeader>
                @*  <CardHeaderAvatar>
            <MudAvatar Color="Color.Secondary">I</MudAvatar>
            </CardHeaderAvatar> *@
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">@(Inspeccion.Inspeccion.NumActa) - @(DataModel.Helper.Helper.GetDescription(Inspeccion.Inspeccion.TipoActa))</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                        <MudMenuItem Icon="@Icons.Material.Outlined.Save" OnTouch="@((e)=> Save())" OnClick="@((e)=> Save())">Guardar</MudMenuItem>
                        <MudMenuItem Icon="@Icons.Material.Filled.Logout" OnClick="@((e)=> Cancel())" OnTouch="@((e)=> Cancel())">Salir</MudMenuItem>
                    </MudMenu>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudDatePicker type PickerVariant="PickerVariant.Dialog" Margin="Margin.Dense" @bind-Date="@(Inspeccion.Inspeccion.FechaInicioTemp)" For="@(() => Inspeccion.Inspeccion.FechaInicioTemp)" DateFormat="dd/MM/yyyy" Variant="Variant.Outlined" Label="Fecha de Evaluación" />
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudTextField Margin="Margin.Dense" @bind-Value="Inspeccion.Inspeccion.DatosEstablecimiento.Nombre" Label="Nombre del Establecimineto" Variant="Variant.Outlined" For="@(() => Inspeccion.Inspeccion.DatosEstablecimiento.Nombre)" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Margin="Margin.Dense" @bind-Value="Inspeccion.Inspeccion.DatosEstablecimiento.NumLicencia" Label="No. Licencia" Variant="Variant.Outlined" For="@(() => Inspeccion.Inspeccion.DatosEstablecimiento.NumLicencia)" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Margin="Margin.Dense" @bind-Value="Inspeccion.Inspeccion.DatosEstablecimiento.AvisoOperaciones" Label="Aviso de Operaciones" Variant="Variant.Outlined" For="@(() => Inspeccion.Inspeccion.DatosEstablecimiento.AvisoOperaciones)" />
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudTextField Margin="Margin.Dense" @bind-Value="Inspeccion.Inspeccion.DatosEstablecimiento.ReciboPago" Label="Recibo de Pago" Variant="Variant.Outlined" For="@(() => Inspeccion.Inspeccion.DatosEstablecimiento.ReciboPago)" />
                    </MudItem>
                </MudGrid>
                 <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudSelect Margin="Margin.Dense" T="DataModel.ProvinciaTB" For="@(() => Inspeccion.Inspeccion.DatosEstablecimiento.Provincia)" Label="Provincia" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="Inspeccion.Inspeccion.DatosEstablecimiento.Provincia" SelectedValuesChanged="@((e) => { OnProvinciaChanged(e?.FirstOrDefault()??null);})" ToStringFunc="@(e=> e==null?null : e.Nombre)">
                            @if (LProvincias?.Count > 0)
                            {
                                @foreach (var part in LProvincias)
                                {
                                    <MudSelectItem Value="@part">@part.Nombre</MudSelectItem>
                                }
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect Margin="Margin.Dense" T="DataModel.DistritoTB" For="@(() => Inspeccion.Inspeccion.DatosEstablecimiento.Distrito)" Label="Distrito" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="Inspeccion.Inspeccion.DatosEstablecimiento.Distrito" SelectedValuesChanged="@((e) => { OnDistritoChanged(e?.FirstOrDefault()??null);})" ToStringFunc="@(e=> e==null?null : e.Nombre)">
                            @if (LDistritos?.Count > 0)
                            {
                                @foreach (var part in LDistritos)
                                {
                                    <MudSelectItem Value="@part">@part.Nombre</MudSelectItem>
                                }
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudSelect Margin="Margin.Dense" T="DataModel.CorregimientoTB" For="@(() =>Inspeccion.Inspeccion.DatosEstablecimiento.Corregimiento)" Label="Corregimiento" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="Inspeccion.Inspeccion.DatosEstablecimiento.Corregimiento" ToStringFunc="@(e=> e==null?null : e.Nombre)">
                            @if (LCorregimientos?.Count > 0)
                            {
                                @foreach (var part in LCorregimientos)
                                {
                                    <MudSelectItem Value="@part">@part.Nombre</MudSelectItem>
                                }
                            }
                        </MudSelect>
                    </MudItem>
                 </MudGrid>
            </MudCardContent>
            <MudCardActions Class="pt-4 pl-4">
                <div style="text-align:right;" class="ml-auto">
                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="ma-1" OnClick="@((e)=> SaveExit())" StartIcon="@Icons.Material.Filled.Save">Guardar y Salir</MudButton>
                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="ma-1" OnClick="@((e)=> Save())" EndIcon="@Icons.Material.Filled.SaveAs">Guardar</MudButton>
                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium" Class="ma-1" OnClick="Cancel" StartIcon="@Icons.Material.Filled.Logout">Salir</MudButton>
                </div>
            </MudCardActions>
        </MudCard>

    </EditForm>


    



}
