@page "/medicationroute/list"
@*@layout null*@
@using Aig.Farmacoterapia.Admin.Components
@using Aig.Farmacoterapia.Admin.Components.MedicationRoute
@using Aig.Farmacoterapia.Application.Medicament.Model
@using Aig.Farmacoterapia.Domain.Common
@using Aig.Farmacoterapia.Domain.Entities.Enums
@using System.Linq
@using Aig.Farmacoterapia.Domain.Entities
@using Aig.Farmacoterapia.Domain.Interfaces
@using System.Globalization
@attribute [Authorize]
@inject IUnitOfWork _unitOfWork;
@inject ISystemLogger _systemLogger;
@inject IMedicationRouteRepository _repository;
@inject IJSRuntime JS

<div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
         <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24" />
                <path d="M5,5 L5,15 C5,15.5948613 5.25970314,16.1290656 5.6719139,16.4954176 C5.71978107,16.5379595 5.76682388,16.5788906 5.81365532,16.6178662 C5.82524933,16.6294602 15,7.45470952 15,7.45470952 C15,6.9962515 15,6.17801499 15,5 L5,5 Z M5,3 L15,3 C16.1045695,3 17,3.8954305 17,5 L17,15 C17,17.209139 15.209139,19 13,19 L7,19 C4.790861,19 3,17.209139 3,15 L3,5 C3,3.8954305 3.8954305,3 5,3 Z" fill="#000000" fill-rule="nonzero" transform="translate(10.000000, 11.000000) rotate(-315.000000) translate(-10.000000, -11.000000) " />
                <path d="M20,22 C21.6568542,22 23,20.6568542 23,19 C23,17.8954305 22,16.2287638 20,14 C18,16.2287638 17,17.8954305 17,19 C17,20.6568542 18.3431458,22 20,22 Z" fill="#000000" opacity="0.3" />
            </g>
        </svg>
        </span>
        <h3 class="kt-portlet__head-title">
           Vías de administración
        </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
            <div class="kt-portlet__head-actions">
                <button  disabled="@(loading)" href="#" class="btn btn-outline-brand btn-square" @onclick="() => OnEdit(0)" data-toggle="modal" data-target="#modal_createedit">
                    <i class="la la-plus"></i>
                    Nueva
                </button>
            </div>
        </div>
    </div>
</div>

<div class="kt-portlet__body">

  
    <EditForm Model="this" OnValidSubmit="OnSearch" class="kt-form kt-form--fit kt-margin-b-20">

        <div class="row kt-margin-b-20">
            <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                <label>Nombre:</label>
                <input type="text" @bind-value="searchString" class="form-control kt-input" placeholder="" data-col-index="0">
            </div>
          
            <div class="col-lg-5 kt-margin-b-10-tablet-and-mobile">
                <div class="row" style="margin-top: 23px;">
                    <div class="col-lg-12" style="margin-top: 3px;">
                        <button  disabled="@(loading)" type="submit" class="btn btn-outline-brand btn-square" style="padding: 5px 10px 5px 10px;">
                            <span>
                                <i class="la la-search"></i>
                                <span>Buscar</span>
                            </span>
                        </button>
                        &nbsp;&nbsp;
                        <button  disabled="@(loading)" type="button" @onclick="() => OnReset()" class="btn btn-outline-brand btn-square" style="padding: 5px 10px 5px 10px;">
                            <span>
                                <i class="la la-close"></i>
                                <span>Eliminar</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>

 <div class="table-responsive">
        <MudTable @ref="table" Striped="true"  LoadingProgressColor="Color.Primary" Dense="true" Hover="true" ServerData="@(new Func<TableState, Task<TableData<AigViaAdministracion>>>(DoFetchData))" Breakpoint="Breakpoint.Sm">

            <HeaderContent>
                <MudTh style="width:200px;"><MudTableSortLabel Enabled="true" InitialDirection="SortDirection.Ascending" SortLabel="name" T="AigViaAdministracion">Nombre</MudTableSortLabel></MudTh>
                <MudTh style="width:10px;"><MudTableSortLabel T="AigViaAdministracion" SortLabel="status">Estado</MudTableSortLabel></MudTh>
                <MudTh style="width:20px;">Creado</MudTh>
                <MudTh style="width:20px;">Creado por</MudTh>
                <MudTh style="width:20px;">Última modificación</MudTh>
                <MudTh style="width:20px;">Modificado por</MudTh>
                <MudTh style="width:5px;"></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
                <MudTd DataLabel="Estado">@context.Estado</MudTd>
                <MudTd DataLabel="Creado">@(string.Format("{0:dd/MM/yyyy}",context.Created))</MudTd>
                <MudTd DataLabel="Creado por">@context.CreatedBy</MudTd>
                <MudTd DataLabel="Última modificación">@(context.LastModified!=null ?string.Format("{0:dd/MM/yyyy}",context.LastModified) : "-")</MudTd>
                <MudTd DataLabel="Modificado por">@(context.LastModifiedBy!=null ? context.LastModifiedBy : "-")</MudTd>
                <MudTd>
                    <span class="dropdown">
                        <button  disabled="@(loading)" href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                           <i class="flaticon-more-1 kt-font-brand"></i>
                        </button>
                        <span class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" @onclick="() => OnEdit(context.Id)" data-toggle="modal" data-target="#modal_createedit" >
                                <i class="la la-edit"></i> Editar
                            </a> 
                            <a class="dropdown-item" href="#" @onclick="() => OnDelete(context)" data-toggle="modal">
                                <i class="la la-trash"></i> 
                                Eliminar
                            </a> 
                        </span>
                    </span>
                </MudTd>
            </RowTemplate>
           
            <NoRecordsContent>
                <MudText>No se encontraron elementos</MudText>
            </NoRecordsContent>
             <LoadingContent>
            <MudText>Cargando...</MudText>
        </LoadingContent>
            <PagerContent>
                <MudTablePager HorizontalAlignment="HorizontalAlignment.Center" Class="primary" InfoFormat="{first_item}-{last_item} de {all_items}" PageSizeOptions="new int[] {10, 25, 50, 100, 250 }" RowsPerPageString="Filas" />
            </PagerContent>
        </MudTable>
    </div>

</div>

@if (addEditDialogIsOpen)
{
    <AddEdit ModelData="@modelData" OnClose="@OnEventAddEditClose"></AddEdit>
}

@if(deleteDialogIsOpen)
{
   <DeleteConfirmDialog Caption="Eliminar"
                   Message="¿Confirma que desea de eliminar el artículo?"
                   OnClose="@OnDeleteDialogClose">
    </DeleteConfirmDialog>
}
@code {

    private MudTable<AigViaAdministracion> table;
    private static IEnumerable<AigViaAdministracion> List { get; set; }
    private string searchString;
    protected AigViaAdministracion modelData;
    protected bool addEditDialogIsOpen = false;
    protected bool deleteDialogIsOpen = false;
    protected bool loading = false;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            searchString= string.Empty;
        }
        catch (Exception ex)
        {
            _systemLogger.Error(ex.Message);
        }

        base.OnInitialized();
    }

     private async Task RefresView()
    {
        await this.InvokeAsync(StateHasChanged);
        await Bus.Publish<bool>(loading);
    }
    private async Task<TableData<AigViaAdministracion>> DoFetchData(TableState state)
    {
        var result = new TableData<AigViaAdministracion>();
        try
        {

            loading = true;
            await RefresView();
            var sorting = new List<SortingOption>();
            var filters = new List<FilteringOption>();
            if (state.SortDirection != SortDirection.None)
            {
                var sortDirection = state.SortDirection == SortDirection.Descending ? SortingDirection.DESC : SortingDirection.ASC;
                sorting = new() { new SortingOption { Field = state.SortLabel, Direction = sortDirection } };
            }
            if (!string.IsNullOrEmpty(searchString))
                filters.Add(new FilteringOption { Field = "term", Operator = FilteringOperator.Contains, Value = searchString.Trim() });

            var args = new PageSearchArgs()
                {
                    PageIndex = state.Page + 1,
                    PageSize = state.PageSize,
                    SortingOptions = sorting,
                    FilteringOptions = filters
                };
            var paginatedResult = await _repository.ListAsync(args);
            List = paginatedResult.Data;
            return new TableData<AigViaAdministracion>() { TotalItems = paginatedResult.TotalCount, Items = paginatedResult.Data };

        }
        catch (Exception ex)
        {
            _systemLogger.Error(ex.Message);
        }
        finally { loading = false; await RefresView(); }
        return result;

    }
 
    private void OnSearch(string text)
    {
        table.ReloadServerData();
    }
    private void OnSearch()
    {
        table.ReloadServerData();
    }
    private void OnReset()
    {
        searchString = string.Empty;
        table.ReloadServerData();
    }

       private async Task OnEdit(long id)
    {
        var result = await _unitOfWork.Repository<AigViaAdministracion>().GetByIdAsync(id);
        if (result == null)
            result = new AigViaAdministracion();

        modelData = result;
        addEditDialogIsOpen = true;
        StateHasChanged();
    }

    private async Task OnEventAddEditClose(long id)
    {
        addEditDialogIsOpen = false;
        if (id>0)
            table.ReloadServerData();
    }
    private async Task OnDelete(AigViaAdministracion data)
    {
        modelData = data;
        deleteDialogIsOpen = true;
    }
    private async Task OnDeleteDialogClose(bool isOk)
    {        
        if (isOk)
        {
            await _unitOfWork.Repository<AigViaAdministracion>().DeleteAsync(modelData);
            if (_unitOfWork.Commit()){
                await JS.InvokeVoidAsync("ShowMessage", "Elemento eliminado correctamente");
                await JS.InvokeVoidAsync("OpenCloseModal", "#btnCloseDeleteModal");
                await table.ReloadServerData();
            }
            else
               await JS.InvokeVoidAsync("ShowError", "DataDeleteError");
        }
        deleteDialogIsOpen = false;
    }


}