@using DataModel.Helper;

@if (User != null)
{
    <div class="modal fade show" id="exampleModal" tabindex="-1" style="display: block;overflow-y: auto;" aria-modal="true" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">@languageContainerService.Keys["Cambiar Contraseña"]</h5>
                    <button type="button" class="close" @onclick="(e)=>{Cancel();}"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <EditForm Model="@User" OnValidSubmit="SaveData">
                        <DataAnnotationsValidator />
                        <h4>@languageContainerService.Keys["Información de la Cuenta"]</h4>
                        <div class="row clearfix">
                            
                            <div class="col-sm-6">
                                <label>@languageContainerService.Keys["Nueva Contraseña"]</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <InputText class="form-control" @bind-Value="User.Password" type="password" />
                                        <ValidationMessage For=@(() => User.Password) />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label>@languageContainerService.Keys["Confirmar Contraseña"]</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <InputText class="form-control" @bind-Value="User.PasswordConfirm" type="password" />
                                        <ValidationMessage For=@(() => User.PasswordConfirm) />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="modal-footer">

                            <button type="submit"
                                    class="btn btn-info waves-effect">
                                @languageContainerService.Keys["Save"]
                            </button>

                            <button type="button" class="btn btn-danger waves-effect"
                            @onclick="(e)=>{Cancel();}">
                                @languageContainerService.Keys["Cancel"]
                            </button>
                        </div>


                    </EditForm>

                </div>


            </div>
        </div>
    </div>

}

<div class="modal-backdrop fade show"></div>
