@inject IJSRuntime JsRuntime
@using Aig.Farmacoterapia.Domain.Common
@using Aig.Farmacoterapia.Domain.Entities
@using Aig.Farmacoterapia.Domain.Entities.Enums
@using Aig.Farmacoterapia.Domain.Interfaces
@using Blazored.FluentValidation
@using System.Globalization
@inject IUnitOfWork _unitOfWork;
@inject IUploadService _uploadService;
@inject ISystemLogger _systemLogger;

<div class="modal show fade" style="display:block;overflow-y:auto!important;" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@(!string.IsNullOrEmpty(ModelData.Id)? "Editar" :"Nuevo")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@Cancel">
                </button>
            </div>
            <div class="modal-body">

                <div class="kt-portlet" style="margin-bottom:0px !important;">

                    <EditForm Model="@ModelData" OnValidSubmit="SaveData" class="kt-form kt-form--label-right">
                        <FluentValidationValidator />

                        <div class="kt-portlet__body">

                            <div class="row">

                                <div class="col-lg-12">

                                    <div class="row">

                                        <div class="col-lg-12">
                                            <div>
                                                <label>Medicamento</label>
                                                <InputText type="text" class="form-control" @bind-Value="ModelData.Medicamento" />
                                                <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.Medicamento)" />
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="row" style="margin-top: 15px;">

                                        <div class="col-lg-4">
                                            <div>
                                                <label>No. Factura</label>
                                                <InputText type="text" class="form-control" @bind-Value="ModelData.Factura" />
                                                <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.Factura)" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div>
                                                <label>Lote</label>
                                                <InputText type="text" class="form-control" @bind-Value="ModelData.Lote" />
                                                <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.Lote)" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-4">
                                            <div>
                                                <label>Cantidad Aprobada</label>
                                                <InputNumber class="form-control" @bind-Value="ModelData.Cantidad" />
                                                <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.Cantidad)" />
                                                </div>
                                            </div>

                                        </div>

                                       

                                    </div>

                                     <div class="row" style="margin-top: 15px;">
                                        
                                         <div class="col-lg-4">
                                            <div>
                                                <MudDatePicker Culture="@CultureInfo.GetCultureInfo("es-Es")" DateFormat="dd/MM/yyyy" Style="border: 1px solid #e2e5ec;padding: 3px 8px 3px 8px;" Label="Fecha de Vencimiento" @bind-Date="ModelData.Vencimiento" />
                                                 <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.Vencimiento)" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div>
                                                <MudDatePicker Culture="@CultureInfo.GetCultureInfo("es-Es")" DateFormat="dd/MM/yyyy" Style="border: 1px solid #e2e5ec;padding: 3px 8px 3px 8px;" Label="Fecha de Asignación" @bind-Date="ModelData.FechaAsignacion" />
                                               <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.FechaAsignacion)" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div>
                                                <MudDatePicker Culture="@CultureInfo.GetCultureInfo("es-Es")" DateFormat="dd/MM/yyyy" Style="border: 1px solid #e2e5ec;padding: 3px 8px 3px 8px;" Label="Fecha de Evaluación" @bind-Date="ModelData.FechaEvaluacion" />
                                               <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.FechaEvaluacion)" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row" style="margin-top: 10px;">
                                       
                                        <div class="col-lg-6">

                                            <div>
                                                <label>Titular</label>
                                                <InputText type="text" class="form-control" @bind-Value="ModelData.Titular" />
                                                <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.Titular)" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-6">
                                            <div>
                                                <label>País del Titular</label>
                                                <InputText type="text" class="form-control" @bind-Value="ModelData.CodigoPaisTitular" />
                                                <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.CodigoPaisTitular)" />
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                    <div class="row" style="margin-top: 10px;">
                                       
                                        <div class="col-lg-6">

                                            <div>
                                                <label>Fabricante</label>
                                                <InputText type="text" class="form-control" @bind-Value="ModelData.Fabricante" />
                                                <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.Fabricante)" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-6">
                                            <div>
                                                <label>País del Fabricante</label>
                                                <InputText type="text" class="form-control" @bind-Value="ModelData.CodigoPaisFabricante" />
                                                <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.CodigoPaisFabricante)" />
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                     <div class="row" style="margin-top: 10px;">
                                       
                                        <div class="col-lg-6">

                                            <div>
                                                <label>Acondicionador</label>
                                                <InputText type="text" class="form-control" @bind-Value="ModelData.Acondicionador" />
                                                <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.Fabricante)" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-6">
                                            <div>
                                                <label>País del Acondicionador</label>
                                                <InputText type="text" class="form-control" @bind-Value="ModelData.CodigoPaisAcondicionador" />
                                                <div class="error invalid-feedback">
                                                    <ValidationMessage For="@(() => ModelData.CodigoPaisAcondicionador)" />
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    

                                      <div class="row" style="margin-top: 5px;">
                                        
                                          <div class="col-lg-6">
                                            <div>
                                                <label>Evaluador(es)</label>
                                                <textarea rows="4" class="form-control" @bind="ModelData.Evaluadores" @bind:event="oninput" />
                                                <p class="invalid"><ValidationMessage For=@(() => ModelData.Evaluadores) /></p>
                                            </div>
                                        </div>

                                         <div class="col-lg-6">
                                            <div>
                                                <label>Notas DNFD</label>
                                                <textarea rows="4" class="form-control" @bind="ModelData.NotasDNFD" @bind:event="oninput" />
                                                <p class="invalid"><ValidationMessage For=@(() => ModelData.NotasDNFD) /></p>
                                            </div>
                                        </div>

                                    </div>

                                     <div class="row" style="margin-top: 10px;">
                                       
                                        <div class="col-lg-12">
                                            <div>
                                                <label>Observaciones</label>
                                                <textarea rows="4" class="form-control" @bind="ModelData.Observacion" @bind:event="oninput" />
                                                <p class="invalid"><ValidationMessage For=@(() => ModelData.Observacion) /></p>
                                            </div>
                                        </div>
                                       

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="kt-portlet__foot" style="padding:10px!important">
                            <div class="kt-form__actions text-right">

                                <button type="button" class="btn btn-secondary" @onclick="@Cancel">Cancelar</button>
                                <button type="submit" class="btn btn-primary btn-square">Guardar</button>

                            </div>
                        </div>
                    </EditForm>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade show"></div>


@code {

    [Parameter] public long Parent { get; set; }
    [Parameter] public AigMedicamentoEstudio ModelData { get; set; }
    [Parameter] public EventCallback<string> OnClose { get; set; }
    private IBrowserFile _file;
    protected bool fileLoading { get; set; } = false;
    private bool showFileInputAlert = false;
    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
    }
   
    private Task Cancel()
    {
        return OnClose.InvokeAsync(string.Empty);
    }

    protected async Task SaveData()
    {
        var result = await _unitOfWork.Repository<AigEstudios>().GetByIdAsync(Parent);
        if (result != null)
        {
            if (string.IsNullOrEmpty(ModelData.Id))
            {
                ModelData.Id = Guid.NewGuid().ToString();
                result.Medicamentos!.Add(ModelData);
            }
            else{ 
                result.Medicamentos!.RemoveAll(p=>p.Id == ModelData.Id);
                result.Medicamentos!.Add(ModelData);
            }
            await _unitOfWork.Repository<AigEstudios>().UpdateAsync(result);
            if (_unitOfWork.Commit()){
                await JsRuntime.InvokeVoidAsync("ShowMessage", "La operación se ha realizado correctamente");
                await OnClose.InvokeAsync(ModelData.Id);
            }
            else
              await JsRuntime.InvokeVoidAsync("ShowError", "Error durante la operación");
        }

    }
}
