@using DataModel.Helper;

@if (Data != null)
{
    <div class="modal fade show" id="exampleModal" tabindex="-1" style="display: block;overflow-y: auto;" aria-modal="true" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">@(Data != null && Data.Id > 0 ? @languageContainerService.Keys["Edit"] : @languageContainerService.Keys["Nueva"]) @languageContainerService.Keys["ESAVI"]</h5>
                    <button type="button" class="close" @onclick="(e)=>{Cancel();}"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <EditForm Model="@Data" OnValidSubmit="SaveData">
                        <DataAnnotationsValidator />
                        <ul class="nav nav-tabs  nav-tabs-line nav-tabs-line-2x nav-tabs-line-primary nav-tabs-bold" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#generalInfo" role="tab">@languageContainerService.Keys["GeneralInfo"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#procNotifica" role="tab">@languageContainerService.Keys["Datos Generales"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#evaCalidadInfo" role="tab">@languageContainerService.Keys["Datos del Medicamento"]</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="generalInfo" role="tabpanel">
                                <h5>@languageContainerService.Keys["GeneralInfo"]</h5>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Origen de la Notificación"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Data.OrigenNotificacion" class="form-control">
                                                @foreach (enumFMV_RAMOrigenType dt in Enum.GetValues(typeof(enumFMV_RAMOrigenType)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Data.OrigenNotificacion) />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Código de Notifacedra"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.CodigoNotiFacedra" />
                                                <ValidationMessage For=@(() => Data.CodigoNotiFacedra) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["ID de Facedra"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.IdFacedra" />
                                                <ValidationMessage For=@(() => Data.IdFacedra) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Código Externo"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.CodExt" />
                                                <ValidationMessage For=@(() => Data.CodExt) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Código del CNFV"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.CodCNFV" />
                                                <ValidationMessage For=@(() => Data.CodCNFV) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fecha de Recibido (CNFV)"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="Data.FechaRecibidoCNFV" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Data.FechaRecibidoCNFV) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fecha Entrega a Evaluador"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker Max="DateTime.Today" Min="Data.FechaRecibidoCNFV" TValue="DateTime?" @bind-Value="Data.FechaEntregaEva" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Data.FechaEntregaEva) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["Evaluator"]</label>
                                        <div class="form-group">
                                            <div class="form-line">                                           
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.EvaluadorId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@lEvaluators TextProperty="NombreCompleto" ValueProperty="Id"
                                                                Change=@(args => {OnEvaluatorChange((args!=null?(long)args:null));}) />

                                                <ValidationMessage For=@(() => Data.EvaluadorId) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Investigación y Detalles del Caso"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Data.InvDetalleCaso" class="form-control">
                                                @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Data.InvDetalleCaso) />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Tipo de Notificador"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Data.TipoNotificacion" class="form-control">
                                                @foreach (enumFMV_RAMNotificationType dt in Enum.GetValues(typeof(enumFMV_RAMNotificationType)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>                                            
                                            <ValidationMessage For=@(() => Data.TipoNotificacion) />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Notificador"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.Notificador" />
                                                <ValidationMessage For=@(() => Data.Notificador) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Tipo de Organización"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                @*<InputSelect @bind-Value="Data.TipoOrgInst" class="form-control">
                                            @foreach (enumFMV_RAMOrganizationType dt in Enum.GetValues(typeof(enumFMV_RAMOrganizationType)))
                                            {
                                            <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                            }
                                            </InputSelect>*@
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.TipoInstitucionId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@lTipoInstitucion TextProperty="Nombre" ValueProperty="Id"
                                                                Change=@(args => {OnChangeTipoInstitucion((args!=null?(long)args:null));}) />
                                                <ValidationMessage For=@(() => Data.TipoInstitucionId) />
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Provincia"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                @*<InputText class="form-control" @bind-Value="Data.ProvRegionOrigen" />*@
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.ProvinciaId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@lProvincias TextProperty="Nombre" ValueProperty="Id"
                                                                Change=@(args => {OnChangeProvincia((args!=null?(long)args:null));}) />
                                                <ValidationMessage For=@(() => Data.ProvinciaId) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Organización"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                @*<InputText class="form-control" @bind-Value="Data.NombreOrgInst" />*@
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.InstitucionId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@lInstitucionDestino TextProperty="Nombre" ValueProperty="Id" />
                                                <ValidationMessage For=@(() => Data.InstitucionId) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Otros Diagnosticos"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="6" class="form-control" @bind-Value="Data.OtrosDiagnosticos" />
                                                <ValidationMessage For=@(() => Data.OtrosDiagnosticos) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Sexo"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Data.Sexo" class="form-control">
                                                @foreach (enumSexo dt in Enum.GetValues(typeof(enumSexo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Data.Sexo) />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Edad"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputNumber class="form-control" @bind-Value="Data.Edad" />
                                                <ValidationMessage For=@(() => Data.Edad) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Historia Clínica"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="6" class="form-control" @bind-Value="Data.HistoriaClinica" />
                                                <ValidationMessage For=@(() => Data.HistoriaClinica) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Datos del Laboratorio"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="3" class="form-control" @bind-Value="Data.DatosLab" />
                                                <ValidationMessage For=@(() => Data.DatosLab) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <label>@languageContainerService.Keys["Nombre Completo de la Persona"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText  class="form-control" @bind-Value="Data.NombreCompletoPersona" />
                                                <ValidationMessage For=@(() => Data.NombreCompletoPersona) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Iniciales de Paciente"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.InicialesPersona" />
                                                <ValidationMessage For=@(() => Data.InicialesPersona) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Cedula"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.Cedula" />
                                                <ValidationMessage For=@(() => Data.Cedula) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Medicamentos Concominante"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.MedicamentoContaminante" />
                                                <ValidationMessage For=@(() => Data.MedicamentoContaminante) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Detalles del Caso"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Data.DetallesCaso" class="form-control">
                                                @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Data.DetallesCaso) />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fecha de Evaluación"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="Data.FechaEvalua" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Data.FechaEvalua) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Estatus"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Data.Estatus" class="form-control">
                                                @foreach (enumFMV_RAMStatus dt in Enum.GetValues(typeof(enumFMV_RAMStatus)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Data.Estatus) />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Observaciones"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="8" class="form-control" @bind-Value="Data.Observaciones" />
                                                <ValidationMessage For=@(() => Data.Observaciones) />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="procNotifica" role="tabpanel">
                                <h5>@languageContainerService.Keys["Datos Generales"]</h5>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Hay ESAVI?"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Data.HayEsavi" class="form-control">
                                                @foreach (enumFMV_EsaviClasificacion dt in Enum.GetValues(typeof(enumFMV_EsaviClasificacion)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Data.HayEsavi) />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fecha de ESAVI"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="Data.FechaEsavi" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Data.FechaEsavi) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Desenlace"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Data.Desenlace" class="form-control">
                                                @foreach (enumFMV_RAMDesenlace dt in Enum.GetValues(typeof(enumFMV_RAMDesenlace)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Data.Desenlace) />
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <label>@languageContainerService.Keys["ESAVI"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.EsaviDescripcion" />
                                                <ValidationMessage For=@(() => Data.EsaviDescripcion) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Termino WhoArt (LLC)"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.TerminoWhoArt" />
                                                <ValidationMessage For=@(() => Data.TerminoWhoArt) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["SOC"]
                                        </label>
                                        <div class="form-group">
                                            @*<InputSelect @bind-Value="Notification.SOC" class="form-control">
                                        @foreach (enumFMV_EsaviSOC dt in Enum.GetValues(typeof(enumFMV_EsaviSOC)))
                                        {
                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                        }
                                        </InputSelect>
                                        <ValidationMessage For=@(() => Notification.SOC) />*@
                                            <div class="form-line">
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.SocId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@lSoc TextProperty="Nombre" ValueProperty="Id"
                                                                Change=@(args => {OnSocChange((args!=null?(long)args:null));}) />

                                                <ValidationMessage For=@(() => Data.SocId) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Intensidad de la ESAVI"]</label>
                                        <div class="form-group">
                                            @*<div class="form-line">
                                        <InputText class="form-control" @bind-Value="Notification.Intensidad" />
                                        <ValidationMessage For=@(() => Notification.Intensidad) />
                                        </div>*@
                                            <div class="form-line">
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.IntensidadEsaviId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@lintensidad TextProperty="FullName" ValueProperty="Id"
                                                                Change=@(args => {OnIntensidadChange((args!=null?(long)args:null));}) />
                                                <ValidationMessage For=@(() => Data.IntensidadEsaviId) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Gravedad"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.Gravedad" />
                                                <ValidationMessage For=@(() => Data.Gravedad) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Otros Criterios de Selección"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Data.OtrosCriterios" class="form-control">
                                                @foreach (enumFMV_EsaviOtroCriterio dt in Enum.GetValues(typeof(enumFMV_EsaviOtroCriterio)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Data.OtrosCriterios) />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Elegibilidad por Gravedad"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.ElegibilidadGravedad" />
                                                <ValidationMessage For=@(() => Data.ElegibilidadGravedad) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Elegibilidad por Otro Criterio"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.ElegibilidadOtroCriterio" />
                                                <ValidationMessage For=@(() => Data.ElegibilidadOtroCriterio) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Elegibilidad por Evaluacion de Causalidad"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.ElegibleEvaluacionCausal" />
                                                <ValidationMessage For=@(() => Data.ElegibleEvaluacionCausal) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Probabilidad de Asosiación Causal con la Inmunización"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Data.ProbabilidadAsociacion" class="form-control">
                                                @foreach (enumFMV_EsaviProbabilidadAsociacion dt in Enum.GetValues(typeof(enumFMV_EsaviProbabilidadAsociacion)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Data.ProbabilidadAsociacion) />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="evaCalidadInfo" role="tabpanel">
                                <h5>@languageContainerService.Keys["Datos del Medicamento"]</h5>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Vacuna Sospechosa (Comercial)"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.VacunaComercial" />
                                                <ValidationMessage For=@(() => Data.VacunaComercial) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <label>@languageContainerService.Keys["Tipo de Vacuna"]</label>
                                        <div class="form-group">
                                            @* <div class="form-line">
                                        <InputText class="form-control" @bind-Value="Notification.DescripVacuna" />
                                        <ValidationMessage For=@(() => Notification.DescripVacuna) />
                                        </div>*@
                                            <div class="form-line">
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.TipoVacunaId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@ltipoVacuna TextProperty="Nombre" ValueProperty="Id"
                                                                Change=@(args => {OnTipoVacunaChange((args!=null?(long)args:null));}) />
                                                <ValidationMessage For=@(() => Data.TipoVacunaId) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Fabricante"]</label>
                                        <div class="form-group">
                                            @* <div class="form-line">
                                        <InputText class="form-control" @bind-Value="Notification.DescripVacuna" />
                                        <ValidationMessage For=@(() => Notification.DescripVacuna) />
                                        </div>*@
                                            <div class="form-line">
                                                <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Data.LaboratorioId
                                                                AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                Data=@lLaboratorios TextProperty="Nombre" ValueProperty="Id"
                                                                Change=@(args => {OnLaboratorioChange((args!=null?(long)args:null));}) />
                                                <ValidationMessage For=@(() => Data.LaboratorioId) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Lote"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.Lote" />
                                                <ValidationMessage For=@(() => Data.Lote) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Expira"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="Data.FechaExp" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Data.FechaExp) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Reg. Sanitario"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Data.RegSanitario" />
                                                <ValidationMessage For=@(() => Data.RegSanitario) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fecha de Vacunación"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="Data.FechaVacunacion" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Data.FechaVacunacion) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Indicaciones"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="6" class="form-control" @bind-Value="Data.Indicaciones" />
                                                <ValidationMessage For=@(() => Data.Indicaciones) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Dosis y Via de Administración"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="6" class="form-control" @bind-Value="Data.DosisViaAdmin" />
                                                <ValidationMessage For=@(() => Data.DosisViaAdmin) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Dosis en que se presenta el ESAVI"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="6" class="form-control" @bind-Value="Data.DosisEsavi" />
                                                <ValidationMessage For=@(() => Data.DosisEsavi) />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            @*<div class="tab-pane" id="products" role="tabpanel">
                                <h5>@languageContainerService.Keys["Notificaciones"]</h5>
                                <div class="row clearfix">
                                    <div class="col-9" style="text-align:left;">
                                    </div>
                                    <div class="col-3" style="text-align:right;">
                                        <button type="button" @onclick="(e)=>{OpenProduct();}"
                                                class="btn btn-sm btn-outline-primary waves-effect">
                                            @languageContainerService.Keys["Add"]
                                        </button>
                                    </div>
                                </div>
                                <!--begin::Section-->
                                <div class="kt-section">
                                    <div class="table-responsive">
                                        <table class="table rounded table-striped">
                                            <thead class=thead-light>
                                                <tr>
                                                    <th>@languageContainerService.Keys["Hay Esavi?"]</th>
                                                    <th>@languageContainerService.Keys["Fecha Esavi"]</th>
                                                    <th>@languageContainerService.Keys["Desenlace"]</th>
                                                    <th>@languageContainerService.Keys["ESAVI"]</th>
                                                    <th>@languageContainerService.Keys["Termino"]</th>
                                                    <th>@languageContainerService.Keys["SOC"]</th>
                                                    <th>@languageContainerService.Keys["Intensidad de la ESAVI"]</th>
                                                    <th>@languageContainerService.Keys["Gravedad"]</th>
                                                    <th>@languageContainerService.Keys["Otros Criterios de Selección"]</th>
                                                    <th>@languageContainerService.Keys["Elegibilidad por Gravedad"]</th>
                                                    <th>@languageContainerService.Keys["Elegibilidad por otros Criterios"]</th>
                                                    <th>@languageContainerService.Keys["Elegible para evaluación de causalidad"]</th>
                                                    <th>@languageContainerService.Keys["Probabilidad de Asosiación Causal con la Inmunización"]</th>
                                                    <th>@languageContainerService.Keys["Vacuna Sospechosa (Comercial)"]</th>
                                                    <th>@languageContainerService.Keys["Descripción de Vacuna"]</th>
                                                    <th>@languageContainerService.Keys["Fabricante"]</th>
                                                    <th>@languageContainerService.Keys["Lote"]</th>
                                                    <th>@languageContainerService.Keys["Fecha Exp."]</th>
                                                    <th>@languageContainerService.Keys["Reg. Sanitario"]</th>
                                                    <th>@languageContainerService.Keys["Fecha de Vacunación"]</th>
                                                    <th>@languageContainerService.Keys["Indicación"]</th>
                                                    <th>@languageContainerService.Keys["Dosis y Vía de Administración"]</th>
                                                    <th>@languageContainerService.Keys["Dosis en que se presenta el ESAVI"]</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Data != null && Data.LNotificaciones != null)
                                                {
                                                    @foreach (var dt in Data.LNotificaciones)
                                                    {
                                                        <tr>
                                                            <td scope="row">@DataModel.Helper.Helper.GetDescription(dt.HayEsavi)</td>
                                                            <td>@(dt.FechaEsavi?.ToString("dd/MM/yyyy"))</td>
                                                            <td>@DataModel.Helper.Helper.GetDescription(dt.Desenlace)</td>
                                                            <td>@dt.EsaviDescripcion</td>
                                                            <td>@dt.TerminoWhoArt</td>
                                                            <td>@dt.Soc</td>
                                                            <td>@(string.Format("{0} {1}", dt.IntensidadEsavi?.Nombre ?? "", dt.IntensidadEsavi?.Gravedad ?? ""))</td>
                                                            <td>@dt.Gravedad</td>
                                                            <td>@DataModel.Helper.Helper.GetDescription(dt.OtrosCriterios)</td>
                                                            <td>@dt.ElegibilidadGravedad</td>
                                                            <td>@dt.ElegibilidadOtroCriterio</td>
                                                            <td>@dt.ElegibleEvaluacionCausal</td>
                                                            <td>@DataModel.Helper.Helper.GetDescription(dt.ProbabilidadAsociacion)</td>
                                                            <td>@dt.VacunaComercial</td>
                                                            <td>@(dt.TipoVacuna?.Nombre??"")</td>
                                                            <td>@(dt.Laboratorio?.Nombre??"")</td>
                                                            <td>@dt.Lote</td>
                                                            <td>@(dt.FechaExp?.ToString("dd/MM/yyyy"))</td>
                                                            <td>@dt.RegSanitario</td>
                                                            <td>@(dt.FechaVacunacion?.ToString("dd/MM/yyyy"))</td>
                                                            <td>@dt.Indicaciones</td>
                                                            <td>@dt.DosisViaAdmin</td>
                                                            <td>@dt.DosisEsavi</td>
                                                            <td style="text-align:right">
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@languageContainerService.Keys["Actions"]</button>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item" href="javascript:void(0)" @onclick="() => OpenProduct(dt)" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>@languageContainerService.Keys["Edit"]</a>
                                                                        <a class="dropdown-item" href="javascript:void(0)" @onclick="() => RemoveProduct(dt)"><i class="fa fa-trash"></i>@languageContainerService.Keys["Delete"]</a>
                                                                    </div>
                                                                </div>
                                                                <!-- /btn-group -->
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        *@
                        </div>

                        <br>
                        <div class="modal-footer">

                            <button type="submit"
                                    class="btn btn-info waves-effect">
                                @languageContainerService.Keys["Save"]
                            </button>

                            <button type="button" class="btn btn-danger waves-effect"
                            @onclick="(e)=>{Cancel();}">
                                @languageContainerService.Keys["Cancel"]
                            </button>
                        </div>


                    </EditForm>

                </div>


            </div>
        </div>
    </div>

}


@if (OpenAddEditNotification)
{
    <AddEditNotification Notification="@Notificacion"></AddEditNotification>
}

<div class="modal-backdrop fade show"></div>
