@implements IDisposable



@switch (selectedChapter)
{
    case DataModel.Helper.enumSelectedChapter.None:
        {
            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">
                                            @(Inspeccion != null && Inspeccion.Id > 0 ? "ACTA: " + Inspeccion.NumActa : @languageContainerService.Keys["NewInspection"]) - @(DataModel.Helper.Helper.GetDescription(Inspeccion.TipoActa))
                                        </h3>                                       
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-actions">
                                            <button type="button" class="btn btn-danger btn-sm btn-bold"
                                        @onclick="(e)=>{Cancel();}">
                                                @languageContainerService.Keys["Cerrar"]
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="kt-section">
                                                <div class="table-responsive">
                                                    <table class="table rounded table-striped">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th colspan="2">
                                                                    <h5>
                                                                        @languageContainerService.Keys["Seleccione el Capítulo a Desarrollar"]
                                                                    </h5>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td scope="row">1. @languageContainerService.Keys["Información General"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{ SelectChapter(DataModel.Helper.enumSelectedChapter.Cap01);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">2. @languageContainerService.Keys["Información del Solicitante"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap02);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">3. @languageContainerService.Keys["Información del Regente"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap03);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">4. @languageContainerService.Keys["Condiciones y Características del Establecimiento"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap04);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">5. @languageContainerService.Keys["Área Administrativa"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap05);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">6. @languageContainerService.Keys["Área de Recepción de Productos"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap06);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">7. @languageContainerService.Keys["Área de Almacenamiento"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap07);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">8. @languageContainerService.Keys["Área de Productos Devueltos y Vencidos"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap08);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">9. @languageContainerService.Keys["Área de Productos Retirados del Mercado"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap09);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">10. @languageContainerService.Keys["Área de Despacho de Productos"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap10);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">11. @languageContainerService.Keys["Área de Almacenamiento de Productos que Requieren Cadena de Frío"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap11);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">12. @languageContainerService.Keys["Área de Almacenamiento de Productos Volátiles"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap12);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">13. @languageContainerService.Keys["Área de Almacenamiento de Plaguicidas de Uso Doméstico y de Salud Pública"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap13);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">14. @languageContainerService.Keys["Área de Almacenamiento de Materias Primas para la Indústria Farmacéutica"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap14);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">15. @languageContainerService.Keys["Área de Almacenamiento de Productos Sujetos a Control"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap15);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">16. @languageContainerService.Keys["Área de Desperdicios que se Generan y no pueden ser colocados en el Área de Almacenamiento"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap16);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">17. @languageContainerService.Keys["Procedimientos"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap17);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">18. @languageContainerService.Keys["Actividades"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap18);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">19. @languageContainerService.Keys["Productos"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap19);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">20. @languageContainerService.Keys["Conclusiones"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap20);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="row">21. @languageContainerService.Keys["Firmas"]</td>
                                                                <td style="text-align:right">
                                                                    <button type="button" class="btn btn-info" @onclick="(e)=>{SelectChapter(DataModel.Helper.enumSelectedChapter.Cap21);}">@languageContainerService.Keys["Select"]</button>
                                                                    <!-- /btn-group -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap01:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap01 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap01>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap02:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap02 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap02>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap03:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap03 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap03>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap04:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap04 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap04>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap05:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap05 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap05>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap06:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap06 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap06>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap07:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap07 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap07>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap08:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap08 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap08>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap09:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap09 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap09>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap10:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap10 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap10>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap11:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap11 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap11>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap12:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap12 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap12>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap13:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap13 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap13>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap14:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap14 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap14>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap15:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap15 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap15>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap16:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap16 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap16>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap17:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap17 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap17>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap18:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap18 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap18>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap19:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap19 Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.Cap19>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap20:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.CapConclusion Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.CapConclusion>
            break;
        }
    case DataModel.Helper.enumSelectedChapter.Cap21:
        {
            <Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.CapFirmas Id="@Inspeccion.Id"></Aig.Auditoria.Components.Inspections._2_AperturaUbicacionAgencia.CapFirmas>
            break;
        }
}

@if (showSelectEstablecimiento)
{
    <Aig.Auditoria.Components.Inspections.SeleccionarEstablecimiento Data="@Inspeccion.DatosEstablecimiento"></Aig.Auditoria.Components.Inspections.SeleccionarEstablecimiento>
}