@page "/ips"
@using DataModel.Helper;
@layout BackendLayout
@attribute [Authorize]

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    @*<div class="kt-subheader  kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <NavLink href='/dashboard' class="kt-subheader__breadcrumbs-link">
						@languageContainerService.Keys["Dashboard"]
                    </NavLink>
                </h3>
            </div>
        </div>
    </div>*@

    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                @languageContainerService.Keys["IPS"]
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="dropdown dropdown-inline">
                                <button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="flaticon-more"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="javascript:void(0)" class="dropdown-item" @onclick="() => ExportToExcel()"><i class="fa fa-file-excel"></i>@languageContainerService.Keys["Export"]</a>
                                    <a href="javascript:void(0)" class="dropdown-item" @onclick="() => FetchData()"><i class="fa fa-random"></i>@languageContainerService.Keys["Update"]</a>
                                    <a href="javascript:void(0)" class="dropdown-item" @onclick="() => OnEdit(0)"><i class="fa fa-plus"></i>@languageContainerService.Keys["New"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <div class="row">
                            <div class="col-12">
                                <div class="kt-portlet__body">
                                    <EditForm Model="@dataModel" OnValidSubmit="OnFilter" class="kt-form kt-form--label-right">
                                        <DataAnnotationsValidator />
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>@languageContainerService.Keys["Search"]</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" @bind="dataModel.Filter" name="Filter" />
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>@languageContainerService.Keys["From"] @languageContainerService.Keys["ReceptionDate"]</label>
                                                <div class="form-line">
                                                    <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="dataModel.FromDate" ShowTime="false" DateFormat="dd/MM/yyyy" Change=@(args => {OnFilter();}) />
                                                    <ValidationMessage For=@(() => dataModel.FromDate) />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>@languageContainerService.Keys["To"] @languageContainerService.Keys["ReceptionDate"]</label>
                                                <div class="form-line">
                                                    <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="dataModel.ToDate" ShowTime="false" DateFormat="dd/MM/yyyy" Change=@(args => {OnFilter();}) />
                                                    <ValidationMessage For=@(() => dataModel.ToDate) />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">                                            
                                            <div class="col-sm-3">
                                                <label>@languageContainerService.Keys["Evaluator"]</label>
                                                <div class="form-line">
                                                    @*<InputSelect class="form-control" @bind-Value="dataModel.EvaluatorId" @oninput="(e)=>{ try{dataModel.EvaluatorId = long.Parse((string)e.Value);}catch{dataModel.EvaluatorId =null;} OnFilter();}">
                                                        <option value="">@languageContainerService.Keys["All"]</option>
                                                    @if (lPersons != null)
                                                    {
                                                        foreach (var dt in lPersons.Where(x=>x.Evaluador))
                                                        {
                                                            <option value="@dt.Id">@dt.NombreCompleto</option>
                                                        }
                                                    }
                                                </InputSelect>*@
                                                    <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@dataModel.EvaluatorId
                                                                    AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                    Data=@(lPersons.Where(x=>x.Evaluador)) TextProperty="NombreCompleto" ValueProperty="Id" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>@languageContainerService.Keys["Register"]</label>
                                                <div class="form-line">
                                                    @*<InputSelect class="form-control" @bind-Value="dataModel.RegisterId" @oninput="(e)=>{ try{dataModel.RegisterId = long.Parse((string)e.Value);}catch{dataModel.RegisterId = null;} OnFilter();}">
                                                        <option value="">@languageContainerService.Keys["All"]</option>
                                                        @if (lPersons != null)
                                                        {
                                                            foreach (var dt in lPersons.Where(x => x.Registrador))
                                                            {
                                                                <option value="@dt.Id">@dt.NombreCompleto</option>
                                                            }
                                                        }
                                                    </InputSelect>*@
                                                    <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@dataModel.RegisterId
                                                                    AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                    Data=@(lPersons.Where(x=>x.Registrador)) TextProperty="NombreCompleto" ValueProperty="Id" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>@languageContainerService.Keys["Prioridad"]</label>
                                                <div class="form-line">
                                                    <InputSelect @bind-Value="dataModel.Priority" class="form-control" @onclick="OnFilter">
                                                        <option value="">@languageContainerService.Keys["All"]</option>
                                                        <option value="0">No</option>
                                                        <option value="1">Si</option>
                                                    </InputSelect>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>@languageContainerService.Keys["Status"]</label>
                                                <div class="form-line">
                                                    <InputSelect @bind-Value="dataModel.IpsStatusRevision" class="form-control" @onclick="OnFilter">
                                                        <option value="">@languageContainerService.Keys["All"]</option>
                                                        @foreach (enumFMV_IpsStatusRevision dt in Enum.GetValues(typeof(enumFMV_IpsStatusRevision)))
                                                        {
                                                            <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                        }
                                                    </InputSelect>
                                                </div>
                                            </div>

                                        </div>
                                  
                                    </EditForm>
                                </div>

                                @if (dataModel != null && dataModel.Ldata != null && dataModel.Ldata.Count > 0)
                                {
                                         <div class="kt-portlet__body">
                                    <!--begin::Section-->
                                    <div class="kt-section">
                                    <div class="table-responsive">
                                    <table class="table rounded table-striped">
                                    <thead class=thead-light>
                                        <tr>
                                                            <th>@languageContainerService.Keys["ReceptionDateCNFV"]</th>
                                                            <th>@languageContainerService.Keys["Register"]</th>
                                                            <th>@languageContainerService.Keys["CommercialName"]</th>
                                                            <th>@languageContainerService.Keys["ActivePrinciple"]</th>
                                            <th>@languageContainerService.Keys["Laboratory"]</th>
                                                            <th>@languageContainerService.Keys["NumberOfHealthRegister"]</th>
                                                            <th>@languageContainerService.Keys["Período"]</th>
                                                            <th>@languageContainerService.Keys["Prioridad"]</th>
                                                            <th>@languageContainerService.Keys["Asignación a Evaluador"]</th>
                                                            <th>@languageContainerService.Keys["Evaluator"]</th>
                                                            <th>@languageContainerService.Keys["ReviewDate"]</th>
                                            <th>@languageContainerService.Keys["Status"]</th>
                                                            <th>@languageContainerService.Keys["ReportNumber"]</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                                @foreach (var dt in dataModel.Ldata)
                                                {
                                                    <tr>
                                                        <td scope="row">@(dt.FechaRecepcion?.ToString("dd/MM/yyyy") ?? "")</td>
                                                        <td>@(dt.Registrador?.NombreCompleto ?? "")</td>
                                                        <td>@(dt.NomComercial)</td>
                                                        <td>@(dt.PrincActivo)</td>
                                                        <td>@(dt.Laboratorio?.Nombre ?? "")</td>
                                                        <td>@(dt.RegSanitario)</td>
                                                                <td>@(dt.IpsData?.PeriodoIni?.ToString("dd/MM/yyyy"))<br/>@(dt.IpsData?.PeriodoFin?.ToString("dd/MM/yyyy"))</td>
                                                                <td>@(dt.Prioridad ? "Si" : "No")</td>
                                                                <td>@(dt.FechaAsigEva?.ToString("dd/MM/yyyy") ?? "")</td>
                                                                <td>@(dt.Evaluador?.NombreCompleto ?? "")</td>
                                                        <td>@(dt.FechaRev?.ToString("dd/MM/yyyy") ?? "")</td>
                                                        <td>@(DataModel.Helper.Helper.GetDescription(dt.StatusRevision))</td>
                                                        <td>@(dt.NoInforme)</td>
                                                        <td style="text-align:right">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@languageContainerService.Keys["Actions"]</button>
                                                        <div class="dropdown-menu">
                                                                            @if (dt.Adjunto?.LAttachments?.Count > 0)
                                                                            {
                                                                                <a class="dropdown-item" href="javascript:void(0)" @onclick="() => DownloadPdf(dt.Id)"><i class="fa fa-file-pdf"></i>@languageContainerService.Keys["Download"]</a>
                                                                            }
                                                        <a class="dropdown-item" href="javascript:void(0)" @onclick="() => OnEdit(dt.Id)" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>@languageContainerService.Keys["Edit"]</a>
                                                        <a class="dropdown-item" href="javascript:void(0)" @onclick="() => OnDelete(dt)"><i class="fa fa-trash"></i>@languageContainerService.Keys["Delete"]</a>
                                                    </div>
                                                    </div>
                                                <!-- /btn-group -->
                                                </td>
                                            </tr>
                                                }
                                        </tbody>
                                    </table>
                                    </div>
                                    </div>
                                    <!--end::Section-->
                                    </div>
                                        <div class="kt-portlet__foot">
                                            <BlazorPager CurrentPage="@(dataModel.PagIdx + 1)"
                                                 PageCount="@dataModel.PagesCount"
                                                 VisiblePages="@(dataModel.PagesCount>3?4:dataModel.PagesCount)"
                                                 ShowFirstLast="true"
                                                 ShowPageNumbers="true"
                                                 FirstText="<<"
                                                 LastText=">>"
                                                 NextText=">"
                                                 PreviousText="<"
                                                 OnPageChanged="(async e => {
						                     if (dataModel.PagesCount < e)
							                    return;
						                    dataModel.PagIdx = e - 1;
						                    await FetchData();})">
                                            </BlazorPager>
                                        </div>

                                }
                                <!--end::Form-->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@if (OpenAddEditDialog)
{
    <Aig.FarmacoVigilancia.Components.IPS.AddEditIps Ips="@dataModel.Data"></Aig.FarmacoVigilancia.Components.IPS.AddEditIps>
}

<Aig.FarmacoVigilancia.Components.DeleteConfirmDialog></Aig.FarmacoVigilancia.Components.DeleteConfirmDialog>