@using DataModel.Helper;


<!-- Modal Creat/Edit -->
@if (Establecimiento != null && OpenDialog)
{
    <div class="modal fade show" id="exampleModal" tabindex="-1" style="display: block;overflow-y: auto;" aria-modal="true" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">@(Establecimiento != null && Establecimiento.Id > 0 ? @languageContainerService.Keys["EditEstablishments"] : @languageContainerService.Keys["NewEstablishments"])</h5>
                    <button type="button" class="close" @onclick="(e)=>{Cancel();}"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <EditForm Model="@Establecimiento" OnValidSubmit="SaveData">
                        <DataAnnotationsValidator />
                        <ul class="nav nav-tabs  nav-tabs-line nav-tabs-line-2x nav-tabs-line-primary nav-tabs-bold" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#cap1" role="tab">@languageContainerService.Keys["GeneralInfo"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#cap2" role="tab">@languageContainerService.Keys["Farmaceuticos"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#cap3" role="tab">@languageContainerService.Keys["Representante Legal"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#cap4" role="tab">@languageContainerService.Keys["Regente Farmacéutico"]</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="cap1" role="tabpanel">
                                <h5>@languageContainerService.Keys["GeneralInfo"]</h5>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Type"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Establecimiento.TipoEstablecimiento" class="form-control">
                                                    @foreach (enumAUD_TipoEstablecimiento dt in Enum.GetValues(typeof(enumAUD_TipoEstablecimiento)))
                                                    {
                                                        if (dt != enumAUD_TipoEstablecimiento.None)
                                                        {
                                                            <option value="@dt">@DataModel.Helper.Helper.GetDescription(dt)</option>
                                                        }
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Establecimiento.TipoEstablecimiento) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <label>@languageContainerService.Keys["Name"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Nombre" />
                                                <ValidationMessage For=@(() => Establecimiento.Nombre) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["LicNumber"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.NumLicencia" />
                                                <ValidationMessage For=@(() => Establecimiento.NumLicencia) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Licencia Expedida"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker TValue="DateTime?" @bind-Value="Establecimiento.FechaExpedida" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Licencia Expira"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker TValue="DateTime?" @bind-Value="Establecimiento.FechaExpiracion" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["Aviso de Operaciones"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.AvisoOperaciones" />
                                                <ValidationMessage For=@(() => Establecimiento.AvisoOperaciones) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["Recibo de Pago"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.ReciboPago" />
                                                <ValidationMessage For=@(() => Establecimiento.ReciboPago) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Sector"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Establecimiento.Sector" class="form-control">
                                                    @foreach (enumAUD_TipoSector dt in Enum.GetValues(typeof(enumAUD_TipoSector)))
                                                    {
                                                        if (dt != enumAUD_TipoSector.None)
                                                        {
                                                            <option value="@dt">@DataModel.Helper.Helper.GetDescription(dt)</option>
                                                        }
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Establecimiento.Sector) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["Institute"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Institucion" />
                                                <ValidationMessage For=@(() => Establecimiento.Institucion) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["Período"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputNumber class="form-control" @bind-Value="Establecimiento.Periodo" />
                                                <ValidationMessage For=@(() => Establecimiento.Periodo) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Status"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Establecimiento.Status" class="form-control">
                                                    @foreach (enumAUD_StatusEstablecimiento dt in Enum.GetValues(typeof(enumAUD_StatusEstablecimiento)))
                                                    {
                                                        <option value="@dt">@DataModel.Helper.Helper.GetDescription(dt)</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Establecimiento.Status) />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Province"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect class="form-control"
                                                             ValueExpression="@(() => IdProvincia)"
                                                             Value="@IdProvincia"
                                                             ValueChanged="@((long value) => OnProvinceChange(value))">
                                                    @if (LProvincias != null)
                                                    {
                                                        foreach (var dt in LProvincias)
                                                        {
                                                            <option value="@dt.Id">@dt.Nombre</option>
                                                        }
                                                    }
                                                </InputSelect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["District"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect class="form-control"
                                                             ValueExpression="@(() => IdDistrito)"
                                                             Value="@IdDistrito"
                                                             ValueChanged="@((long value) => OnDistrictChange(value))">
                                                    @if (LDistritos != null)
                                                    {
                                                        foreach (var dt in LDistritos)
                                                        {
                                                            <option value="@dt.Id">@dt.Nombre</option>
                                                        }
                                                    }
                                                </InputSelect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Corregimiento"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect class="form-control"
                                                             ValueExpression="@(() => IdCorregimiento)"
                                                             Value="@IdCorregimiento"
                                                             ValueChanged="@((long value) => OnCorregimientoChange(value))">
                                                    @if (LCorregimiento != null)
                                                    {
                                                        foreach (var dt in LCorregimiento)
                                                        {
                                                            <option value="@dt.Id">@dt.Nombre</option>
                                                        }
                                                    }
                                                </InputSelect>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <label for="password">@languageContainerService.Keys["Ubication"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Ubicacion" />
                                                <ValidationMessage For=@(() => Establecimiento.Ubicacion) />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <label for="password">@languageContainerService.Keys["Horario"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.HorariosEstablecimiento" />
                                                <ValidationMessage For=@(() => Establecimiento.HorariosEstablecimiento) />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["PhoneNumber"] 1</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Telefono1" />
                                                <ValidationMessage For=@(() => Establecimiento.Telefono1) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["PhoneNumber"] 2</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Telefono2" />
                                                <ValidationMessage For=@(() => Establecimiento.Telefono2) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["Email"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Email" />
                                                <ValidationMessage For=@(() => Establecimiento.Email) />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-8">
                                        <label for="password">@languageContainerService.Keys["Representante Legal"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.RepLegalNombre" />
                                                <ValidationMessage For=@(() => Establecimiento.RepLegalNombre) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["Identificación"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.RepLegalCedula" />
                                                <ValidationMessage For=@(() => Establecimiento.RepLegalCedula) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <label for="password">@languageContainerService.Keys["Nombre de Sociedad"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.NombreSociedad" />
                                                <ValidationMessage For=@(() => Establecimiento.NombreSociedad) />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="cap2" role="tabpanel">
                                <h5>@languageContainerService.Keys["Farmacéuticos"]</h5>
                                <div class="row clearfix">
                                    <div class="col-12" style="text-align:right;">
                                        <button type="button" @onclick="(e)=>{OpenFarmaceutico();}"
                                                class="btn btn-sm btn-outline-primary waves-effect">
                                            @languageContainerService.Keys["Add"]
                                        </button>
                                    </div>
                                </div>
                                <!--begin::Section-->
                                <div class="kt-section">
                                    <div class="table-responsive">
                                        <table class="table rounded table-striped">
                                            <thead class=thead-light>
                                                <tr>
                                                    <th>@languageContainerService.Keys["Nombre"]</th>
                                                    <th>@languageContainerService.Keys["Cédula"]</th>
                                                    <th>@languageContainerService.Keys["No.Reg"]</th>
                                                    <th>@languageContainerService.Keys["Folio"]</th>
                                                    <th>@languageContainerService.Keys["Provincia"]</th>
                                                    <th>@languageContainerService.Keys["Distrito"]</th>
                                                    <th>@languageContainerService.Keys["Corregimiento"]</th>
                                                    <th>@languageContainerService.Keys["Dirección"]</th>
                                                    <th>@languageContainerService.Keys["Telefono"]</th>
                                                    <th>@languageContainerService.Keys["Horario"]</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Establecimiento?.FarmaceuticoTablas?.LFarmaceuticos?.Count > 0)
                                                {
                                                    @foreach (var dt in Establecimiento.FarmaceuticoTablas.LFarmaceuticos)
                                                    {
                                                        <tr>
                                                            <td scope="row">@dt.NombreCompleto</td>
                                                            <td>@dt.Cedula</td>
                                                            <td>@dt.NumReg</td>
                                                            <td>@dt.Folio</td>
                                                            <td>@dt.Provincia</td>
                                                            <td>@dt.Distrito</td
                                                            <td>@dt.Corregimiento</td>
                                                            <td>@dt.Direccion</td>
                                                            <td>@dt.Telefono</td>
                                                            <td>@dt.Horario</td>
                                                            <td style="text-align:right">
                                                                        <div class="btn-group">
                                                                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@languageContainerService.Keys["Actions"]</button>
                                                                            <div class="dropdown-menu">
                                                                                 <a class="dropdown-item" href="javascript:void(0)" @onclick="() => OpenFarmaceutico(dt)" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>@languageContainerService.Keys["Edit"]</a>
                                                                                <a class="dropdown-item" href="javascript:void(0)" @onclick="() => RemoveFarmaceutico(dt)"><i class="fa fa-trash"></i>@languageContainerService.Keys["Delete"]</a>
                                                                            </div>
                                                                        </div>
                                                                        <!-- /btn-group -->
                                                                    </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane active" id="cap3" role="tabpanel">
                                <h5>@languageContainerService.Keys["Representante Legal"]</h5>
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <label>@languageContainerService.Keys["Primer Nombre"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.RepresentanteLegal.PrimerNombre" />
                                                <ValidationMessage For=@(() => Establecimiento.RepresentanteLegal.PrimerNombre) />
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-6">
                                        <label>@languageContainerService.Keys["Segundo Nombre"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.RepresentanteLegal.SegundoNombre" />
                                                <ValidationMessage For=@(() => Establecimiento.RepresentanteLegal.SegundoNombre) />
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-6">
                                        <label>@languageContainerService.Keys["Primer Apellido"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.RepresentanteLegal.PrimerApellido" />
                                                <ValidationMessage For=@(() => Establecimiento.RepresentanteLegal.PrimerApellido) />
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-6">
                                        <label>@languageContainerService.Keys["Segundo Apellido"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.RepresentanteLegal.SegundoApellido" />
                                                <ValidationMessage For=@(() => Establecimiento.RepresentanteLegal.SegundoApellido) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["No. Identificación"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.RepresentanteLegal.Identificacion" />
                                                <ValidationMessage For=@(() => Establecimiento.RepresentanteLegal.Identificacion) />
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["No. Idoneidad"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.RepresentanteLegal.NumIdoneidad" />
                                                <ValidationMessage For=@(() => Establecimiento.RepresentanteLegal.NumIdoneidad) />
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["Correo"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.RepresentanteLegal.Correo" />
                                                <ValidationMessage For=@(() => Establecimiento.RepresentanteLegal.Correo) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["Teléfono"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.RepresentanteLegal.Telefono" />
                                                <ValidationMessage For=@(() => Establecimiento.RepresentanteLegal.Telefono) />
                                            </div>
                                        </div>
                                    </div>
                               </div>
                            </div>
                            <div class="tab-pane active" id="cap4" role="tabpanel">
                                <h5>@languageContainerService.Keys["Regente Farmacéutico"]</h5>
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <label>@languageContainerService.Keys["Primer Nombre"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Regente.PrimerNombre" />
                                                <ValidationMessage For=@(() => Establecimiento.Regente.PrimerNombre) />
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-6">
                                        <label>@languageContainerService.Keys["Segundo Nombre"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Regente.SegundoNombre" />
                                                <ValidationMessage For=@(() => Establecimiento.Regente.SegundoNombre) />
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-6">
                                        <label>@languageContainerService.Keys["Primer Apellido"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Regente.PrimerApellido" />
                                                <ValidationMessage For=@(() => Establecimiento.Regente.PrimerApellido) />
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-6">
                                        <label>@languageContainerService.Keys["Segundo Apellido"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Regente.SegundoApellido" />
                                                <ValidationMessage For=@(() => Establecimiento.Regente.SegundoApellido) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["No. Identificación"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Regente.Identificacion" />
                                                <ValidationMessage For=@(() => Establecimiento.Regente.Identificacion) />
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["Correo"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Regente.Correo" />
                                                <ValidationMessage For=@(() => Establecimiento.Regente.Correo) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">@languageContainerService.Keys["Teléfono"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Establecimiento.Regente.Telefono" />
                                                <ValidationMessage For=@(() => Establecimiento.Regente.Telefono) />
                                            </div>
                                        </div>
                                    </div>
                               </div>
                                
                            </div>
                           </div>

                        <br>
                        <div class="modal-footer">
                            <button type="submit"
                                class="btn btn-info waves-effect">
                                @languageContainerService.Keys["Save"]
                            </button>
                            <button type="button" class="btn btn-danger waves-effect"
                                @onclick="(e)=>{Cancel();}">
                                @languageContainerService.Keys["Cancel"]
                            </button>
                        </div>


                    </EditForm>

                </div>


            </div>
        </div>
    </div>

    <div class="modal-backdrop fade show"></div>
}


@if (showFarmaceutico)
{
    <Aig.Auditoria.Components.Farmaceutico.AddEdit Farmaceutico="@farmaceutico"></Aig.Auditoria.Components.Farmaceutico.AddEdit>
}