@page "/"
@*@layout MainLayout*@
@using Aig.Farmacoterapia.Admin.Components.Product
@using System.Linq
@using Aig.Farmacoterapia.Application.Dashboard.Model
@using Aig.Farmacoterapia.Domain.Entities
@using Aig.Farmacoterapia.Domain.Interfaces
@using System.Globalization
@attribute [Authorize]
@inject IMedicamentRepository _repository;
@inject IUnitOfWork _unitOfWork;

<div class="kt-portlet">

	<div class="kt-portlet__body  kt-portlet__body--fit">
		<div class="row row-no-padding row-col-separator-lg">
			
			<div class="col-md-12 col-lg-6 col-xl-4">
				<div class="kt-widget24">
					<div class="kt-widget24__details">
						<div class="kt-widget24__info">
							<h4 class="kt-widget24__title info">
								Medicamentos
							</h4>
							<span class="kt-widget24__desc">
							
							</span>
						</div>
						<span class="kt-widget24__stats kt-font-success">
							@modelData.MedicamentCount
						</span>
					</div>
					<div class="progress progress--sm">
						<div class="progress-bar kt-bg-success" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="kt-widget24__action">
						<span class="kt-widget24__change">						
						</span>
						<span class="kt-widget24__number">							
						</span>
					</div>
				</div>
			</div>

			
			<div class="col-md-12 col-lg-6 col-xl-4">
				<div class="kt-widget24">
					<div class="kt-widget24__details">
						<div class="kt-widget24__info">
							<h4 class="kt-widget24__title success">
								De Referencias
							</h4>
							<span class="kt-widget24__desc">
							
							</span>
						</div>
						<span class="kt-widget24__stats kt-font-success">
							@modelData.ReferenceCount
						</span>
					</div>
					<div class="progress progress--sm">
						<div class="progress-bar kt-bg-success" role="progressbar" style="width: @(modelData.ReferencePercent)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="kt-widget24__action">
						<span class="kt-widget24__change">						
						</span>
						<span class="kt-widget24__number">	
							@modelData.ReferencePercent
						</span>
					</div>
				</div>
			</div>

			  <div class="col-md-12 col-lg-6 col-xl-4">				
				<div class="kt-widget24">
					<div class="kt-widget24__details">
						<div class="kt-widget24__info">
							<h4 class="kt-widget24__title">
						   	Intercambiables 
							</h4>
							<span class="kt-widget24__desc">
							</span>
						</div>
						<span class="kt-widget24__stats kt-font-success">
							@modelData.InterchangeableCount
						</span>
					</div>
					<div class="progress progress--sm">
						<div class="progress-bar kt-bg-success" role="progressbar" style="width: @(modelData.InterchangeablePercent)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="kt-widget24__action">
						<span class="kt-widget24__change">
						</span>
						<span class="kt-widget24__number">
							@modelData.InterchangeablePercent
						</span>
					</div>
				</div>
			</div>

		   

		</div>
	</div>

	<div class="kt-portlet__body  kt-portlet__body--fit">
		<div class="row row-no-padding row-col-separator-lg">
			
			<div class="col-md-12 col-lg-6 col-xl-4">
				<div class="kt-widget24">
					<div class="kt-widget24__details">
						<div class="kt-widget24__info">
							<h4 class="kt-widget24__title">
								Con Prescripción
							</h4>
							<span class="kt-widget24__desc">
							
							</span>
						</div>
						<span class="kt-widget24__stats kt-font-warning">
							@modelData.PrescriptionCount
						</span>
					</div>
					<div class="progress warning--sm">
						<div class="progress-bar kt-bg-warning" role="progressbar" style="width: @(modelData.PrescriptionPercent)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="kt-widget24__action">
						<span class="kt-widget24__change">						
						</span>
						<span class="kt-widget24__number">
							@modelData.PrescriptionPercent
						</span>
					</div>
				</div>
			</div>

			<div class="col-md-12 col-lg-6 col-xl-4">
				<div class="kt-widget24">
					<div class="kt-widget24__details">
						<div class="kt-widget24__info">
							<h4 class="kt-widget24__title">
								Sin Prescripción
							</h4>
							<span class="kt-widget24__desc">
							
							</span>
						</div>
						<span class="kt-widget24__stats kt-font-warning">
							@modelData.NotPrescriptionCount
						</span>
					</div>
					<div class="progress progress--sm">
						<div class="progress-bar kt-bg-warning" role="progressbar" style="width: @(modelData.NotPrescriptionPercent)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="kt-widget24__action">
						<span class="kt-widget24__change">						
						</span>
						<span class="kt-widget24__number">	
							@modelData.NotPrescriptionPercent
						</span>
					</div>
				</div>
			</div>

			  <div class="col-md-12 col-lg-6 col-xl-4">				
				<div class="kt-widget24">
					<div class="kt-widget24__details">
						<div class="kt-widget24__info">
							<h4 class="kt-widget24__title">
						   	Uso Hospitalario 
							</h4>
							<span class="kt-widget24__desc">
							</span>
						</div>
						<span class="kt-widget24__stats kt-font-warning">
							@modelData.HospitalUseCount
						</span>
					</div>
					<div class="progress progress--sm">
						<div class="progress-bar kt-bg-warning" role="progressbar" style="width: @(modelData.HospitalUsePercent)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="kt-widget24__action">
						<span class="kt-widget24__change">
						</span>
						<span class="kt-widget24__number">
							@modelData.HospitalUsePercent
						</span>
					</div>
				</div>
			</div>

		</div>
	</div>
	
	<div class="kt-portlet__body  kt-portlet__body--fit">
		<div class="row row-no-padding row-col-separator-lg">
			
			
		    <div class="col-md-12 col-lg-6 col-xl-4">				
				<div class="kt-widget24">
					<div class="kt-widget24__details">
						<div class="kt-widget24__info">
							<h4 class="kt-widget24__title">
						   	Venta Popular
							</h4>
							<span class="kt-widget24__desc">
							</span>
						</div>
						<span class="kt-widget24__stats kt-font-warning">
							@modelData.PopularSaleCount
						</span>
					</div>
					<div class="progress progress--sm">
						<div class="progress-bar kt-bg-warning" role="progressbar" style="width: @(modelData.PopularSalePercent)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="kt-widget24__action">
						<span class="kt-widget24__change">
						</span>
						<span class="kt-widget24__number">
							@modelData.PopularSalePercent
						</span>
					</div>
				</div>
			</div>


			  <div class="col-md-12 col-lg-6 col-xl-4">				
				<div class="kt-widget24">
					<div class="kt-widget24__details">
						<div class="kt-widget24__info">
							<h4 class="kt-widget24__title">
						   	Vigentes 
							</h4>
							<span class="kt-widget24__desc">
							</span>
						</div>
						<span class="kt-widget24__stats kt-font-info">
							@modelData.ActiveCount
						</span>
					</div>
					<div class="progress progress--sm">
						<div class="progress-bar kt-bg-info" role="progressbar" style="width: @(modelData.ActivePercent)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="kt-widget24__action">
						<span class="kt-widget24__change">
						</span>
						<span class="kt-widget24__number">
							@modelData.ActivePercent
						</span>
					</div>
				</div>
			 </div>

			 <div class="col-md-12 col-lg-6 col-xl-4">
				<div class="kt-widget24">
					<div class="kt-widget24__details">
						<div class="kt-widget24__info">
							<h4 class="kt-widget24__title info">
								Suspendidos
							</h4>
							<span class="kt-widget24__desc">
							
							</span>
						</div>
						<span class="kt-widget24__stats kt-font-danger">
						   @modelData.NotActiveCount
						</span>
					</div>
					<div class="progress progress--sm">
						<div class="progress-bar kt-bg-danger" role="progressbar" style="width:@(modelData.NotActivePercent)" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="kt-widget24__action">
						<span class="kt-widget24__change">						
						</span>
						<span class="kt-widget24__number">
							 @modelData.NotActivePercent
						</span>
					</div>
				</div>
			</div>


		</div>
	</div>

</div>

@code {

	protected DashboardModel modelData=new DashboardModel();
	protected async override Task OnInitializedAsync()
	{
		try
		{  
			var repository=_unitOfWork.Repository<AigMedicamento>();
			modelData.MedicamentCount=await repository.CountAsync();
			if (modelData.MedicamentCount == 0) return;
			modelData.ReferenceCount=repository.GetAll().Where(p => p.TipoEquivalencia == "R").Count();
			if (modelData.ReferenceCount > 0){
				var percentage = ((decimal)modelData.ReferenceCount / (decimal)modelData.MedicamentCount) * 100;
				modelData.ReferencePercent=$"{Math.Round(percentage,2)}%";
		   }
		    modelData.InterchangeableCount=repository.GetAll().Where(p => p.TipoEquivalencia == "I").Count();
			if (modelData.InterchangeableCount > 0){
				var percentage = ((decimal)modelData.InterchangeableCount / (decimal)modelData.MedicamentCount) * 100;
				modelData.InterchangeablePercent=$"{Math.Round(percentage,2)}%";
		   }
		    modelData.PrescriptionCount=repository.GetAll().Where(p => p.CondicionVenta == "CP").Count();
			if (modelData.PrescriptionCount > 0){
				var percentage = ((decimal)modelData.PrescriptionCount / (decimal)modelData.MedicamentCount) * 100;
				modelData.PrescriptionPercent=$"{Math.Round(percentage,2)}%";
		   }
		    modelData.NotPrescriptionCount=repository.GetAll().Where(p => p.CondicionVenta == "SP").Count();
			if (modelData.NotPrescriptionCount > 0){
				var percentage = ((decimal)modelData.NotPrescriptionCount / (decimal)modelData.MedicamentCount) * 100;
				modelData.NotPrescriptionPercent=$"{Math.Round(percentage,2)}%";
		   }
		    modelData.HospitalUseCount=repository.GetAll().Where(p => p.CondicionVenta == "UH").Count();
			if (modelData.HospitalUseCount > 0){
				var percentage = ((decimal)modelData.HospitalUseCount / (decimal)modelData.MedicamentCount) * 100;
				modelData.HospitalUsePercent=$"{Math.Round(percentage,2)}%";
		   }
		     modelData.PopularSaleCount=repository.GetAll().Where(p => p.CondicionVenta == "VP").Count();
			if (modelData.PopularSaleCount > 0){
				var percentage = ((decimal)modelData.PopularSaleCount / (decimal)modelData.MedicamentCount) * 100;
				modelData.PopularSalePercent=$"{Math.Round(percentage,2)}%";
		   }
			
		    modelData.ActiveCount=repository.GetAll().Where(p => p.Vigente).Count();
			if (modelData.ActiveCount > 0){
				var percentage = ((decimal)modelData.ActiveCount / (decimal)modelData.MedicamentCount) * 100;
				modelData.ActivePercent=$"{Math.Round(percentage,2)}%";
		   }

		    modelData.NotActiveCount=modelData.MedicamentCount-modelData.ActiveCount;
			if (modelData.NotActiveCount > 0){
				var percentage = ((decimal)modelData.NotActiveCount / (decimal)modelData.MedicamentCount) * 100;
				modelData.NotActivePercent=$"{Math.Round(percentage,2)}%";
		   }
	 }
    catch (Exception exc)
    {
        ;
    }
    base.OnInitialized();
}
}