@page "/esavi"
@layout BackendLayout
@attribute [Authorize]
@implements IDisposable

@if (!OpenAddEditDialog)
{

    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        @*<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
    <h3 class="kt-subheader__title">
    <NavLink href='/dashboard' class="kt-subheader__breadcrumbs-link">
    @languageContainerService.Keys["Dashboard"]
    </NavLink>
    </h3>
    </div>
    </div>
    </div>*@

        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    @languageContainerService.Keys["ESAVI"]
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="dropdown dropdown-inline">
                                    <button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="flaticon-more"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="javascript:void(0)" class="dropdown-item" @onclick="() => ExportToExcel()"><i class="fa fa-file-excel"></i>@languageContainerService.Keys["Export"]</a>
                                        <a href="javascript:void(0)" class="dropdown-item" @onclick="() => FetchData()"><i class="fa fa-random"></i>@languageContainerService.Keys["Update"]</a>
                                        <a href="javascript:void(0)" class="dropdown-item" @onclick="() => OnEdit(0)"><i class="fa fa-plus"></i>@languageContainerService.Keys["New"]</a>
                                        <a href="javascript:void(0)" class="dropdown-item" @onclick="() => ImportarToExcel()"><i class="fa fa-file-upload"></i>@languageContainerService.Keys["Importar"]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit">
                            <div class="row">
                                <div class="col-12">
                                    <div class="kt-portlet__body">
                                        <EditForm Model="@dataModel" OnValidSubmit="OnFilter" class="kt-form kt-form--label-right">
                                            <DataAnnotationsValidator />
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>@languageContainerService.Keys["Search"]</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" @bind="dataModel.Filter" name="Filter" />
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label>@languageContainerService.Keys["From"] @languageContainerService.Keys["EntryDate"]</label>
                                                    <div class="form-line">
                                                        <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="dataModel.FromDate" ShowTime="false" DateFormat="dd/MM/yyyy" Change=@(args => {OnFilter();}) />
                                                        <ValidationMessage For=@(() => dataModel.FromDate) />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label>@languageContainerService.Keys["To"] @languageContainerService.Keys["EntryDate"]</label>
                                                    <div class="form-line">
                                                        <RadzenDatePicker Max="DateTime.Today" TValue="DateTime?" @bind-Value="dataModel.ToDate" ShowTime="false" DateFormat="dd/MM/yyyy" Change=@(args => {OnFilter();}) />
                                                        <ValidationMessage For=@(() => dataModel.ToDate) />
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label>@languageContainerService.Keys["Evaluator"]</label>
                                                    <div class="form-line">
                                                        <RadzenDropDown AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@dataModel.EvaluatorId
                                                                        AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                        Data=@lPersons TextProperty="NombreCompleto" ValueProperty="Id"
                                                                        Change=@(args => {OnFilter();}) />
                                                    </div>
                                                </div>
                                            </div>
                                        </EditForm>
                                    </div>

                                    @if (dataModel != null && dataModel.Ldata != null && dataModel.Ldata.Count > 0)
                                    {
                                        <div class="kt-portlet__body">
                                            <!--begin::Section-->
                                            <div class="kt-section">
                                                <div class="table-responsive">
                                                    <table class="table rounded">
                                                        <thead class=thead-light>
                                                            <tr>
                                                                <th>@languageContainerService.Keys["Código CNFV"]</th>
                                                                <th>@languageContainerService.Keys["Código Noti-Facedra"]</th>
                                                                <th>@languageContainerService.Keys["ID Facedra"]</th>
                                                                <th>@languageContainerService.Keys["Cod. Externo"]</th>
                                                                <th>@languageContainerService.Keys["Evaluator"]</th>
                                                                <th>@languageContainerService.Keys["Fecha de Recibido (CNFV)"]</th>
                                                                <th>@languageContainerService.Keys["Fecha Entrega al Evaluador"]</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var dt in dataModel.Ldata)
                                                            {
                                                                <tr>
                                                                    <td>@dt.CodCNFV</td>
                                                                    <td>@dt.CodigoNotiFacedra</td>
                                                                    <td>@dt.IdFacedra</td>
                                                                    <td>@dt.CodExt</td>
                                                                    <td>@(dt.Evaluador?.NombreCompleto ?? "")</td>
                                                                    <td>@(dt.FechaRecibidoCNFV?.ToString("dd/MM/yyyy") ?? "")</td>
                                                                    <td>@(dt.FechaEntregaEva?.ToString("dd/MM/yyyy") ?? "")</td>
                                                                    <td style="text-align:right">
                                                                        <div class="btn-group">
                                                                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@languageContainerService.Keys["Actions"]</button>
                                                                            <div class="dropdown-menu">
                                                                                <a class="dropdown-item" href="javascript:void(0)" @onclick="() =>dt.ViewDetail=!dt.ViewDetail"><i class="fa fa-eye"></i>@languageContainerService.Keys["Detalle"]</a>
                                                                                <a class="dropdown-item" href="javascript:void(0)" @onclick="() => OnEdit(dt.Id)" data-toggle="modal" data-target="#modal_createedit" data-ktportlet-tool="edit"><i class="fa fa-edit"></i>@languageContainerService.Keys["Edit"]</a>
                                                                                <a class="dropdown-item" href="javascript:void(0)" @onclick="() => OnDelete(dt)"><i class="fa fa-trash"></i>@languageContainerService.Keys["Delete"]</a>
                                                                            </div>
                                                                        </div>
                                                                        <!-- /btn-group -->
                                                                    </td>
                                                                </tr>
                                                                @if (dt.LVacunas?.Count > 0 && dt.ViewDetail)
                                                                {
                                                                    <tr class="table-warning">
                                                                        <td colspan="8" style="padding:0px!important;">
                                                                            <table class="table">
                                                                                    <thead class=thead-light>
                                                                                        <tr>
                                                                                            <th>@languageContainerService.Keys["Vacuna Sospechosa"]</th>
                                                                                            <th>@languageContainerService.Keys["ESAVI"]</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        @foreach (var vacun in dt.LVacunas)
                                                                                        {
                                                                                            <tr>
                                                                                                <td>
                                                                                                <table class="table table-borderless">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                            <th>@languageContainerService.Keys["Vacuna Sospechosa"]</th>
                                                                                                            <td>@(vacun.VacunaComercial)</td>
                                                                                                            </tr>
                                                                                                        <tr>
                                                                                                            <th>@languageContainerService.Keys["Tipo de Vacuna"]</th>
                                                                                                            <td>@(vacun.TipoVacuna?.Nombre ?? "")</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <th>@languageContainerService.Keys["Fabricante"]</th>
                                                                                                            <td>@(vacun.Laboratorio?.Nombre??"")</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <th>@languageContainerService.Keys["Lote"]</th>
                                                                                                            <td>@(vacun.Lote)</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <th>@languageContainerService.Keys["Fecha de Exp"]</th>
                                                                                                            <td>@(vacun.FechaExp?.ToString("dd/MM/yyyy") ?? "")</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <th>@languageContainerService.Keys["Reg. Sanitario"]</th>
                                                                                                            <td>@(vacun.RegSanitario)</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <th>@languageContainerService.Keys["Fecha de Vacunación"]</th>
                                                                                                            <td>@(vacun.FechaVacunacion)</td>
                                                                                                        </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                                <td style="vertical-align:top!important;">
                                                                                                    @if (vacun.LEsavis?.Count > 0)
                                                                                                    {
                                                                                                    <table class="table table-borderless table-striped">
                                                                                                            <thead class=thead-light>
                                                                                                                <tr>
                                                                                                                    <th>@languageContainerService.Keys["Hay ESAVI?"]</th>
                                                                                                                    <th>@languageContainerService.Keys["ESAVI "]</th>
                                                                                                                    <th>@languageContainerService.Keys["Fecha de ESAVI"]</th>
                                                                                                                    <th>@languageContainerService.Keys["Desenlace"]</th>
                                                                                                                    <th>@languageContainerService.Keys["SOC"]</th>
                                                                                                                    <th>@languageContainerService.Keys["Término MedDRA"]</th>
                                                                                                                    <th>@languageContainerService.Keys["Intensidad"]</th>
                                                                                                                    <th>@languageContainerService.Keys["Gravedad"]</th>
                                                                                                                </tr>
                                                                                                            </thead>
                                                                                                            <tbody>
                                                                                                                @foreach (var esavi in vacun.LEsavis)
                                                                                                                {
                                                                                                                    <tr>
                                                                                                                        <td scope="row">@(DataModel.Helper.Helper.GetDescription(esavi.HayEsavi))</td>
                                                                                                                        <td>@(esavi.EsaviDescripcion)</td>
                                                                                                                        <td>@(esavi.FechaEsavi)</td>
                                                                                                                        <td>@(DataModel.Helper.Helper.GetDescription(esavi.Desenlace))</td>
                                                                                                                        <td>@(esavi.Soc)</td>
                                                                                                                        <td>@(esavi.TerWhoArt)</td>
                                                                                                                        <td>@(esavi.IntensidadEsavi?.Nombre ?? "")</td>
                                                                                                                        <td>@(esavi.Gravedad)</td>
                                                                                                                    </tr>
                                                                                                                }
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    }
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                    </tbody>
                                                                                </table>  
                                                                        </td>
                                                                    </tr>


                                                                    @*<tr>
                                                                        <td colspan="9">
                                                                            <table class="table rounded">
                                                                                <thead class=thead-light>
                                                                                    <tr>
                                                                                        <th>@languageContainerService.Keys["Vacuna Sospechosa"]</th>
                                                                                        <th>@languageContainerService.Keys["Tipo de Vacuna"]</th>
                                                                                        <th>@languageContainerService.Keys["Fabricante"]</th>
                                                                                        <th>@languageContainerService.Keys["Lote"]</th>
                                                                                        <th>@languageContainerService.Keys["Fecha de Exp."]</th>
                                                                                        <th>@languageContainerService.Keys["Reg. Sanitario"]</th>
                                                                                        <th>@languageContainerService.Keys["Fecha de Vacunación"]</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @foreach (var vacun in dt.LVacunas)
                                                                                    {
                                                                                        <tr>
                                                                                            <td scope="row">@(vacun.VacunaComercial)</td>
                                                                                            <td>@(vacun.TipoVacuna?.Nombre??"")</td>
                                                                                            <td>@(vacun.Laboratorio?.Nombre??"")</td>
                                                                                            <td>@(vacun.Lote)</td>
                                                                                            <td>@(vacun.FechaExp?.ToString("dd/MM/yyyy") ?? "")</td>
                                                                                            <td>@(vacun.RegSanitario)</td>
                                                                                            <td>@(vacun.FechaVacunacion?.ToString("dd/MM/yyyy") ?? "")</td>
                                                                                        </tr>
                                                                                        @if (vacun.LEsavis?.Count > 0)
                                                                                        {                                                                                           
                                                                                            <tr>
                                                                                                <td colspan="7">
                                                                                                    <table class="table rounded">
                                                                                                        <thead class=thead-light>
                                                                                                            <tr>
                                                                                                                <th>@languageContainerService.Keys["Hay ESAVI?"]</th>
                                                                                                                <th>@languageContainerService.Keys["ESAVI "]</th>
                                                                                                                <th>@languageContainerService.Keys["Fecha de ESAVI"]</th>
                                                                                                                <th>@languageContainerService.Keys["Desenlace"]</th>
                                                                                                                <th>@languageContainerService.Keys["SOC"]</th>
                                                                                                                <th>@languageContainerService.Keys["Término MedDRA"]</th>
                                                                                                                <th>@languageContainerService.Keys["Intensidad"]</th>
                                                                                                                <th>@languageContainerService.Keys["Gravedad"]</th>
                                                                                                            </tr>
                                                                                                        </thead>
                                                                                                        <tbody>
                                                                                                            @foreach (var esavi in vacun.LEsavis)
                                                                                                            {
                                                                                                                <tr>
                                                                                                                    <td scope="row">@(DataModel.Helper.Helper.GetDescription(esavi.HayEsavi))</td>
                                                                                                                    <td>@(esavi.EsaviDescripcion)</td>
                                                                                                                    <td>@(esavi.FechaEsavi?.ToString("dd/MM/yyyy") ?? "")</td>
                                                                                                                    <td>@(DataModel.Helper.Helper.GetDescription(esavi.Desenlace))</td>
                                                                                                                    <td>@(esavi.Soc)</td>
                                                                                                                    <td>@(esavi.TerWhoArt)</td>
                                                                                                                    <td>@(esavi.IntensidadEsavi?.Nombre??"")</td>
                                                                                                                    <td>@(esavi.Gravedad)</td>
                                                                                                                </tr>
                                                                                                            }
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                *@
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--end::Section-->
                                        </div>
                                        <div class="kt-portlet__foot">
                                            <BlazorPager CurrentPage="@(dataModel.PagIdx + 1)"
                                                         PageCount="@dataModel.PagesCount"
                                                         VisiblePages="@(dataModel.PagesCount>3?4:dataModel.PagesCount)"
                                                         ShowFirstLast="true"
                                                         ShowPageNumbers="true"
                                                         FirstText="<<"
                                                         LastText=">>"
                                                         NextText=">"
                                                         PreviousText="<"
                                                         OnPageChanged="(async e => {
						                     if (dataModel.PagesCount < e)
							                    return;
						                    dataModel.PagIdx = e - 1;
						                    await FetchData();})">
                                            </BlazorPager>
                                        </div>

                                    }
                                    <!--end::Form-->


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

}
else
{
    <Aig.FarmacoVigilancia.Components.ESAVI2.AddEdit Data="@dataModel.Data"></Aig.FarmacoVigilancia.Components.ESAVI2.AddEdit>
}
@if (DeleteDialog)
{
    <Aig.FarmacoVigilancia.Components.DeleteConfirmDialog2></Aig.FarmacoVigilancia.Components.DeleteConfirmDialog2>
}

@if (openAttachment)
{
    <Aig.FarmacoVigilancia.Components.Attachments.AddEditAttachment attachment="@attachment"></Aig.FarmacoVigilancia.Components.Attachments.AddEditAttachment>
}
