@using DataModel.Helper;


<!-- Modal Creat/Edit -->
@if (Notification != null)
{
    <div class="modal fade show" id="exampleModal" tabindex="-1" style="display: block;overflow-y: auto;" aria-modal="true" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">@(Notification != null && Notification.Id > 0 ? @languageContainerService.Keys["Edit"] : @languageContainerService.Keys["New"]) @languageContainerService.Keys["Notification"]</h5>
                    <button type="button" class="close" @onclick="(e)=>{Cancel();}"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <EditForm Model="@Notification" OnValidSubmit="SaveData">
                        <DataAnnotationsValidator />
                        <ul class="nav nav-tabs  nav-tabs-line nav-tabs-line-2x nav-tabs-line-primary nav-tabs-bold" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#procNotifica" role="tab">@languageContainerService.Keys["Procedencia de Notificación"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#evaCalidadInfo" role="tab">@languageContainerService.Keys["Falla Reportada"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#evaCausalidadInfo" role="tab">@languageContainerService.Keys["Evaluación de Causalidad"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#obsInfoNotif" role="tab">@languageContainerService.Keys["Observaciones"]</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="procNotifica" role="tabpanel">
                                <h5>@languageContainerService.Keys["Procedencia de Notificación"]</h5>
                                <div class="row clearfix">                                   
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Presentación"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.Presentacion" />
                                                <ValidationMessage For=@(() => Notification.Presentacion) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["ATC"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.Atc" />
                                                <ValidationMessage For=@(() => Notification.Atc) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Sub-grupo Terapéutico"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.SubGrupoTer" />
                                                <ValidationMessage For=@(() => Notification.SubGrupoTer) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fabricante"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.Fabricante" />
                                                <ValidationMessage For=@(() => Notification.Fabricante) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Lote"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.Lote" />
                                                <ValidationMessage For=@(() => Notification.Lote) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fecha de Expira"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker TValue="DateTime?" @bind-Value="Notification.Expira" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Notification.Expira) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Registro Sanitario"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.RegSanitario" />
                                                <ValidationMessage For=@(() => Notification.RegSanitario) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Tipo de Notificador"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Notification.TipoNotificador" class="form-control">
                                                @foreach (enumFMV_RAMNotificationType dt in Enum.GetValues(typeof(enumFMV_RAMNotificationType)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Notification.TipoNotificador) />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="password">
                                            @languageContainerService.Keys["Tipo de Organización/Institución"]
                                        </label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Notification.TipoOrgInst" class="form-control">
                                                @foreach (enumFMV_RAMOrganizationType dt in Enum.GetValues(typeof(enumFMV_RAMOrganizationType)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() => Notification.TipoOrgInst) />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Provincia/Región/Origen"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.ProvRegionOrigen" />
                                                <ValidationMessage For=@(() => Notification.ProvRegionOrigen) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Nombre de Organización/Institución"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.NombreOrgInst" />
                                                <ValidationMessage For=@(() => Notification.NombreOrgInst) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Notificador"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.Notificador" />
                                                <ValidationMessage For=@(() => Notification.Notificador) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Incidendia de Caso"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Notification.IncidenciaCaso" class="form-control">
                                                    @foreach (enumFMV_FfTipoIncidenciaCaso dt in Enum.GetValues(typeof(enumFMV_FfTipoIncidenciaCaso)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Notification.IncidenciaCaso) />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="evaCalidadInfo" role="tabpanel">
                                <h5>@languageContainerService.Keys["Falla Reportada"]</h5>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Número de Ingreso a Vigiflow"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.FallaReportada.NumIngresoVigiflow" />
                                                <ValidationMessage For=@(() => Notification.FallaReportada.NumIngresoVigiflow) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Revisión de RS"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Notification.FallaReportada.RevisionRs" class="form-control">
                                                    @foreach (enumFMV_FfAcciones dt in Enum.GetValues(typeof(enumFMV_FfAcciones)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Notification.FallaReportada.RevisionRs) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Monitoreo"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Notification.FallaReportada.Monitoreo" class="form-control">
                                                    @foreach (enumFMV_FfAcciones dt in Enum.GetValues(typeof(enumFMV_FfAcciones)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Notification.FallaReportada.Monitoreo) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Notificacion al RFV"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Notification.FallaReportada.NotificacionRFV" class="form-control">
                                                    @foreach (enumFMV_FfAcciones dt in Enum.GetValues(typeof(enumFMV_FfAcciones)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Notification.FallaReportada.NotificacionRFV) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Control de Calidad"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Notification.FallaReportada.ControlCalidad" class="form-control">
                                                    @foreach (enumFMV_FfAcciones dt in Enum.GetValues(typeof(enumFMV_FfAcciones)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Notification.FallaReportada.ControlCalidad) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Resultados de Control de Calidad"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Notification.FallaReportada.ResultControlCalidad" class="form-control">
                                                    @foreach (enumFMV_FfResultControlCal dt in Enum.GetValues(typeof(enumFMV_FfResultControlCal)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Notification.FallaReportada.ResultControlCalidad) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Investigación de Campo"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Notification.FallaReportada.InvestCampo" class="form-control">
                                                    @foreach (enumFMV_FfAcciones dt in Enum.GetValues(typeof(enumFMV_FfAcciones)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Notification.FallaReportada.InvestCampo) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Investigación al DAC"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Notification.FallaReportada.InvestDAC" class="form-control">
                                                    @foreach (enumFMV_FfAcciones dt in Enum.GetValues(typeof(enumFMV_FfAcciones)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Notification.FallaReportada.InvestDAC) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Acciones Regulatorias Recomendadas"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Notification.FallaReportada.AccRegRecomendada" class="form-control">
                                                    @foreach (enumFMV_FfRecomendAccRegulat dt in Enum.GetValues(typeof(enumFMV_FfRecomendAccRegulat)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Notification.FallaReportada.AccRegRecomendada) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Grado"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputNumber class="form-control" @bind-Value="Notification.FallaReportada.Grado" />
                                                <ValidationMessage For=@(() => Notification.FallaReportada.Grado) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Iniciales de Paciente"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.FallaReportada.InicialesPaciente" />
                                                <ValidationMessage For=@(() => Notification.FallaReportada.InicialesPaciente) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Sexo"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Notification.FallaReportada.Sexo" class="form-control">
                                                    @foreach (enumSexo dt in Enum.GetValues(typeof(enumSexo)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Notification.FallaReportada.Sexo) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Edad"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputNumber class="form-control" @bind-Value="Notification.FallaReportada.Edad" />
                                                <ValidationMessage For=@(() => Notification.FallaReportada.Edad) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Historia Clínica"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="8" class="form-control" @bind-Value="Notification.FallaReportada.HistClinica" />
                                                <ValidationMessage For=@(() => Notification.FallaReportada.HistClinica) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Fecha de Tratamiento (Inicial)"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker TValue="DateTime?" @bind-Value="Notification.FallaReportada.FechaTratInicial" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Notification.FallaReportada.FechaTratInicial) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Fecha de Tratamiento (Final)"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker TValue="DateTime?" @bind-Value="Notification.FallaReportada.FechaTratFinal" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Notification.FallaReportada.FechaTratFinal) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Fecha FT"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker TValue="DateTime?" @bind-Value="Notification.FallaReportada.FechaFT" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Notification.FallaReportada.FechaFT) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <label>@languageContainerService.Keys["Indicación"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.FallaReportada.Indicacion" />
                                                <ValidationMessage For=@(() => Notification.FallaReportada.Indicacion) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Dosis, vía de administración"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputText class="form-control" @bind-Value="Notification.FallaReportada.ViaAdministracion" />
                                                <ValidationMessage For=@(() => Notification.FallaReportada.ViaAdministracion) />
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Concomitantes"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="6" class="form-control" @bind-Value="Notification.FallaReportada.Concomitantes" />
                                                <ValidationMessage For=@(() => Notification.FallaReportada.Concomitantes) />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="evaCausalidadInfo" role="tabpanel">
                                <h5>@languageContainerService.Keys["Evaluación de Causalidad"]</h5>
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["Fármaco con cinética compleja?"]</label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Notification.EvaluacionCausalidad.FarmCinCompleja" class="form-control">
                                                @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() =>Notification.EvaluacionCausalidad.FarmCinCompleja) />
                                        </div>
                                    </div>
                                     <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["Condiciones clínicas que alteran la farmacocinética?"]</label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Notification.EvaluacionCausalidad.CondClinicas" class="form-control">
                                                @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() =>Notification.EvaluacionCausalidad.CondClinicas) />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["El medicamento se prescribió de manera inadecuada?"]</label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Notification.EvaluacionCausalidad.Preescrito" class="form-control">
                                                @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() =>Notification.EvaluacionCausalidad.Preescrito) />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["El medicamento se usó de manera inadecuada?"]</label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Notification.EvaluacionCausalidad.UsoInad" class="form-control">
                                                @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() =>Notification.EvaluacionCausalidad.UsoInad) />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["Tiene un método específico de administración que requiere entrenamiento en el paciente?"]</label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Notification.EvaluacionCausalidad.EntrenamientoPaciente" class="form-control">
                                                @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() =>Notification.EvaluacionCausalidad.EntrenamientoPaciente) />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["Existen potenciales interacciones?"]</label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Notification.EvaluacionCausalidad.PotInteracciones" class="form-control">
                                                @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() =>Notification.EvaluacionCausalidad.PotInteracciones) />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["La notificación de FT se refiere explícitamente al uso de un medicamento genérico o una marca comercial específica?"]</label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Notification.EvaluacionCausalidad.NotificacionFT" class="form-control">
                                                @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() =>Notification.EvaluacionCausalidad.NotificacionFT) />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["Existe algún problema biofarmacéutico estudiado?"]</label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Notification.EvaluacionCausalidad.ProBiofarmaceutico" class="form-control">
                                                @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() =>Notification.EvaluacionCausalidad.ProBiofarmaceutico) />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["Existen deficiencias en los sistemas de almacenamiento del medicamento?"]</label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Notification.EvaluacionCausalidad.Deficiencias" class="form-control">
                                                @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() =>Notification.EvaluacionCausalidad.Deficiencias) />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="password">@languageContainerService.Keys["Existen otros factores asociados que pudieran explicar el FT?"]</label>
                                        <div class="form-group">
                                            <InputSelect @bind-Value="Notification.EvaluacionCausalidad.FactAsociados" class="form-control">
                                                @foreach (enumOpcionSiNo dt in Enum.GetValues(typeof(enumOpcionSiNo)))
                                                {
                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For=@(() =>Notification.EvaluacionCausalidad.FactAsociados) />
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="tab-pane" id="obsInfoNotif" role="tabpanel">
                                <h5>@languageContainerService.Keys["Observaciones"]</h5>
                                <div class="row clearfix">
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fecha de Trámite"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker TValue="DateTime?" @bind-Value="Notification.FechaTramite" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Notification.FechaTramite) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>
                                            @languageContainerService.Keys["Fecha de Evaluación"]
                                        </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <RadzenDatePicker TValue="DateTime?" @bind-Value="Notification.FechaEvalua" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                <ValidationMessage For=@(() => Notification.FechaEvalua) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>@languageContainerService.Keys["Estatus"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputSelect @bind-Value="Notification.Estatus" class="form-control">
                                                    @foreach (enumFMV_RAMStatus dt in Enum.GetValues(typeof(enumFMV_RAMStatus)))
                                                    {
                                                        <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                    }
                                                </InputSelect>
                                                <ValidationMessage For=@(() => Notification.Estatus) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Resoluciones Emitidas"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="6" class="form-control" @bind-Value="Notification.ResolEmitidas" />
                                                <ValidationMessage For=@(() => Notification.ResolEmitidas) />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>@languageContainerService.Keys["Observaciones"]</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <InputTextArea rows="6" class="form-control" @bind-Value="Notification.Observaciones" />
                                                <ValidationMessage For=@(() => Notification.Observaciones) />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br>
                        <div class="modal-footer">
                            <button type="submit"
                                    class="btn btn-info waves-effect">
                                @languageContainerService.Keys["Save"]
                            </button>
                            <button type="button" class="btn btn-danger waves-effect"
                            @onclick="(e)=>{Cancel();}">
                                @languageContainerService.Keys["Cancel"]
                            </button>
                        </div>


                    </EditForm>

                </div>


            </div>
        </div>
    </div>


}

