@if (Inspeccion?.Inspeccion?.InspGuiBPMFabNatMedicina?.UbicacionDisenoConstruc != null
&& Inspeccion?.Inspeccion?.InspGuiBPMFabNatMedicina?.Almacenes != null
&& Inspeccion?.Inspeccion?.InspGuiBPMFabNatMedicina?.AreaRecepLimpieza != null
&& Inspeccion?.Inspeccion?.InspGuiBPMFabNatMedicina?.AreaSecadoMolienda != null
&& Inspeccion?.Inspeccion?.InspGuiBPMFabNatMedicina?.AreaDispensadoMatPrima != null
&& Inspeccion?.Inspeccion?.InspGuiBPMFabNatMedicina?.AreaProduccion != null
&& Inspeccion?.Inspeccion?.InspGuiBPMFabNatMedicina?.AreaEnvasadoEmpaque != null
&& Inspeccion?.Inspeccion?.InspGuiBPMFabNatMedicina?.AreaAuxiliares != null
&& Inspeccion?.Inspeccion?.InspGuiBPMFabNatMedicina?.AreaControlCalidad != null)
{
    <EditForm Model="@Inspeccion.Inspeccion" OnValidSubmit="Save">
        <DataAnnotationsValidator />
        <MudCard Elevation="25">
            <MudCardHeader>
                @*  <CardHeaderAvatar>
            <MudAvatar Color="Color.Secondary">I</MudAvatar>
            </CardHeaderAvatar> *@
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">@(Inspeccion.Inspeccion.NumActa) - @(DataModel.Helper.Helper.GetDescription(Inspeccion.Inspeccion.TipoActa))</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                        <MudMenuItem Icon="@Icons.Material.Outlined.Save" OnTouch="@((e)=> Save())" OnClick="@((e)=> Save())">Guardar</MudMenuItem>
                        <MudMenuItem Icon="@Icons.Material.Filled.Logout" OnClick="@((e)=> Cancel())" OnTouch="@((e)=> Cancel())">Salir</MudMenuItem>
                    </MudMenu>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6" Color="Color.Dark">Capítulo 7</MudText>
                </CardHeaderContent>
            </MudCardHeader>

           @*  <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6" Color="Color.Dark">Requisitos Legales</MudText>
                </CardHeaderContent>
            </MudCardHeader> *@
            <MudCardContent>               
                <MudGrid>
                     <MudItem xs="12">
                        <MudSimpleTable Style="overflow-x: auto;">
                            <thead>
                                <tr>
                                    <th width="5%">Capítulo</th>
                                    <th width="5%">Artículo</th>
                                    <th width="30%">Título</th>
                                    <th width="5%">Criterio</th>
                                    <th width="5%">Evaluación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dt in Inspeccion.Inspeccion.InspGuiBPMFabNatMedicina.UbicacionDisenoConstruc.LContenido)
                                {
                                    @if (dt.IsHeader)
                                    {
                                        <tr>
                                            <th>@dt.Capitulo</th>
                                            <th>@dt.Articulo</th>
                                            <th>@dt.Titulo</th>
                                            <th colspan="3">@dt.Criterio</th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="border-bottom:none!important;">@dt.Capitulo</td>
                                            <td style="border-bottom:none!important;">@dt.Articulo</td>
                                            <td style="border-bottom:none!important;">@dt.Titulo</td>
                                            <td style="border-bottom:none!important;">@dt.Criterio</td>
                                            @foreach (var eva in dt.LEvaluacion)
                                            {
                                                <td style="border-bottom:none!important;">
                                                    @if (!eva.HideEvaluacion)
                                                    {
                                                        <MudSelect Margin="Margin.Dense" T="DataModel.Helper.enumAUD_TipoSeleccion" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="eva.Evaluacion" For="@(() => eva.Evaluacion)">
                                                            @foreach (DataModel.Helper.enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(DataModel.Helper.enumAUD_TipoSeleccion)))
                                                            {
                                                                <MudSelectItem T="DataModel.Helper.enumAUD_TipoSeleccion" Value="dt">@DataModel.Helper.Helper.GetDescription(dt)</MudSelectItem>

                                                            }
                                                        </MudSelect>
                                                    }
                                                </td>
                                            }
                                            <td style="border-bottom:none!important;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="@(dt.LEvaluacion.Count+5)">
                                                <MudTextField Label="Observaciones" Margin="Margin.Dense" @bind-Value="dt.Observaciones" Variant="Variant.Outlined" For="@(() => dt.Observaciones)" Lines="10" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </MudSimpleTable>    
    </MudItem>
                </MudGrid>

            </MudCardContent>

            <MudCardContent>               
                <MudGrid>
                     <MudItem xs="12">
                        <MudSimpleTable Style="overflow-x: auto;">
                            <thead>
                                <tr>
                                    <th width="5%">Capítulo</th>
                                    <th width="5%">Artículo</th>
                                    <th width="30%">Título</th>
                                    <th width="5%">Criterio</th>
                                    <th width="5%">Evaluación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dt in Inspeccion.Inspeccion.InspGuiBPMFabNatMedicina.Almacenes.LContenido)
                                {
                                    @if (dt.IsHeader)
                                    {
                                        <tr>
                                            <th>@dt.Capitulo</th>
                                            <th>@dt.Articulo</th>
                                            <th>@dt.Titulo</th>
                                            <th colspan="3">@dt.Criterio</th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="border-bottom:none!important;">@dt.Capitulo</td>
                                            <td style="border-bottom:none!important;">@dt.Articulo</td>
                                            <td style="border-bottom:none!important;">@dt.Titulo</td>
                                            <td style="border-bottom:none!important;">@dt.Criterio</td>
                                            @foreach (var eva in dt.LEvaluacion)
                                            {
                                                <td style="border-bottom:none!important;">
                                                    @if (!eva.HideEvaluacion)
                                                    {
                                                        <MudSelect Margin="Margin.Dense" T="DataModel.Helper.enumAUD_TipoSeleccion" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="eva.Evaluacion" For="@(() => eva.Evaluacion)">
                                                            @foreach (DataModel.Helper.enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(DataModel.Helper.enumAUD_TipoSeleccion)))
                                                            {
                                                                <MudSelectItem T="DataModel.Helper.enumAUD_TipoSeleccion" Value="dt">@DataModel.Helper.Helper.GetDescription(dt)</MudSelectItem>

                                                            }
                                                        </MudSelect>
                                                    }
                                                </td>
                                            }
                                            <td style="border-bottom:none!important;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="@(dt.LEvaluacion.Count+5)">
                                                <MudTextField Label="Observaciones" Margin="Margin.Dense" @bind-Value="dt.Observaciones" Variant="Variant.Outlined" For="@(() => dt.Observaciones)" Lines="10" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </MudSimpleTable>    
    </MudItem>
                </MudGrid>

            </MudCardContent>

            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12">
                        <MudSimpleTable Style="overflow-x: auto;">
                            <thead>
                                <tr>
                                    <th width="5%">Capítulo</th>
                                    <th width="5%">Artículo</th>
                                    <th width="30%">Título</th>
                                    <th width="5%">Criterio</th>
                                    <th width="5%">Evaluación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dt in Inspeccion.Inspeccion.InspGuiBPMFabNatMedicina.AreaRecepLimpieza.LContenido)
                                {
                                    @if (dt.IsHeader)
                                    {
                                        <tr>
                                            <th>@dt.Capitulo</th>
                                            <th>@dt.Articulo</th>
                                            <th>@dt.Titulo</th>
                                            <th colspan="3">@dt.Criterio</th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="border-bottom:none!important;">@dt.Capitulo</td>
                                            <td style="border-bottom:none!important;">@dt.Articulo</td>
                                            <td style="border-bottom:none!important;">@dt.Titulo</td>
                                            <td style="border-bottom:none!important;">@dt.Criterio</td>
                                            @foreach (var eva in dt.LEvaluacion)
                                            {
                                                <td style="border-bottom:none!important;">
                                                    @if (!eva.HideEvaluacion)
                                                    {
                                                        <MudSelect Margin="Margin.Dense" T="DataModel.Helper.enumAUD_TipoSeleccion" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="eva.Evaluacion" For="@(() => eva.Evaluacion)">
                                                            @foreach (DataModel.Helper.enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(DataModel.Helper.enumAUD_TipoSeleccion)))
                                                            {
                                                                <MudSelectItem T="DataModel.Helper.enumAUD_TipoSeleccion" Value="dt">@DataModel.Helper.Helper.GetDescription(dt)</MudSelectItem>

                                                            }
                                                        </MudSelect>
                                                    }
                                                </td>
                                            }
                                            <td style="border-bottom:none!important;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="@(dt.LEvaluacion.Count+5)">
                                                <MudTextField Label="Observaciones" Margin="Margin.Dense" @bind-Value="dt.Observaciones" Variant="Variant.Outlined" For="@(() => dt.Observaciones)" Lines="10" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                </MudGrid>

            </MudCardContent>

            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12">
                        <MudSimpleTable Style="overflow-x: auto;">
                            <thead>
                                <tr>
                                    <th width="5%">Capítulo</th>
                                    <th width="5%">Artículo</th>
                                    <th width="30%">Título</th>
                                    <th width="5%">Criterio</th>
                                    <th width="5%">Evaluación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dt in Inspeccion.Inspeccion.InspGuiBPMFabNatMedicina.AreaSecadoMolienda.LContenido)
                                {
                                    @if (dt.IsHeader)
                                    {
                                        <tr>
                                            <th>@dt.Capitulo</th>
                                            <th>@dt.Articulo</th>
                                            <th>@dt.Titulo</th>
                                            <th colspan="3">@dt.Criterio</th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="border-bottom:none!important;">@dt.Capitulo</td>
                                            <td style="border-bottom:none!important;">@dt.Articulo</td>
                                            <td style="border-bottom:none!important;">@dt.Titulo</td>
                                            <td style="border-bottom:none!important;">@dt.Criterio</td>
                                            @foreach (var eva in dt.LEvaluacion)
                                            {
                                                <td style="border-bottom:none!important;">
                                                    @if (!eva.HideEvaluacion)
                                                    {
                                                        <MudSelect Margin="Margin.Dense" T="DataModel.Helper.enumAUD_TipoSeleccion" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="eva.Evaluacion" For="@(() => eva.Evaluacion)">
                                                            @foreach (DataModel.Helper.enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(DataModel.Helper.enumAUD_TipoSeleccion)))
                                                            {
                                                                <MudSelectItem T="DataModel.Helper.enumAUD_TipoSeleccion" Value="dt">@DataModel.Helper.Helper.GetDescription(dt)</MudSelectItem>

                                                            }
                                                        </MudSelect>
                                                    }
                                                </td>
                                            }
                                            <td style="border-bottom:none!important;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="@(dt.LEvaluacion.Count+5)">
                                                <MudTextField Label="Observaciones" Margin="Margin.Dense" @bind-Value="dt.Observaciones" Variant="Variant.Outlined" For="@(() => dt.Observaciones)" Lines="10" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                </MudGrid>

            </MudCardContent>

            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12">
                        <MudSimpleTable Style="overflow-x: auto;">
                            <thead>
                                <tr>
                                    <th width="5%">Capítulo</th>
                                    <th width="5%">Artículo</th>
                                    <th width="30%">Título</th>
                                    <th width="5%">Criterio</th>
                                    <th width="5%">Evaluación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dt in Inspeccion.Inspeccion.InspGuiBPMFabNatMedicina.AreaDispensadoMatPrima.LContenido)
                                {
                                    @if (dt.IsHeader)
                                    {
                                        <tr>
                                            <th>@dt.Capitulo</th>
                                            <th>@dt.Articulo</th>
                                            <th>@dt.Titulo</th>
                                            <th colspan="3">@dt.Criterio</th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="border-bottom:none!important;">@dt.Capitulo</td>
                                            <td style="border-bottom:none!important;">@dt.Articulo</td>
                                            <td style="border-bottom:none!important;">@dt.Titulo</td>
                                            <td style="border-bottom:none!important;">@dt.Criterio</td>
                                            @foreach (var eva in dt.LEvaluacion)
                                            {
                                                <td style="border-bottom:none!important;">
                                                    @if (!eva.HideEvaluacion)
                                                    {
                                                        <MudSelect Margin="Margin.Dense" T="DataModel.Helper.enumAUD_TipoSeleccion" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="eva.Evaluacion" For="@(() => eva.Evaluacion)">
                                                            @foreach (DataModel.Helper.enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(DataModel.Helper.enumAUD_TipoSeleccion)))
                                                            {
                                                                <MudSelectItem T="DataModel.Helper.enumAUD_TipoSeleccion" Value="dt">@DataModel.Helper.Helper.GetDescription(dt)</MudSelectItem>

                                                            }
                                                        </MudSelect>
                                                    }
                                                </td>
                                            }
                                            <td style="border-bottom:none!important;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="@(dt.LEvaluacion.Count+5)">
                                                <MudTextField Label="Observaciones" Margin="Margin.Dense" @bind-Value="dt.Observaciones" Variant="Variant.Outlined" For="@(() => dt.Observaciones)" Lines="10" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                </MudGrid>

            </MudCardContent>

            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12">
                        <MudSimpleTable Style="overflow-x: auto;">
                            <thead>
                                <tr>
                                    <th width="5%">Capítulo</th>
                                    <th width="5%">Artículo</th>
                                    <th width="30%">Título</th>
                                    <th width="5%">Criterio</th>
                                    <th width="5%">Evaluación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dt in Inspeccion.Inspeccion.InspGuiBPMFabNatMedicina.AreaProduccion.LContenido)
                                {
                                    @if (dt.IsHeader)
                                    {
                                        <tr>
                                            <th>@dt.Capitulo</th>
                                            <th>@dt.Articulo</th>
                                            <th>@dt.Titulo</th>
                                            <th colspan="3">@dt.Criterio</th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="border-bottom:none!important;">@dt.Capitulo</td>
                                            <td style="border-bottom:none!important;">@dt.Articulo</td>
                                            <td style="border-bottom:none!important;">@dt.Titulo</td>
                                            <td style="border-bottom:none!important;">@dt.Criterio</td>
                                            @foreach (var eva in dt.LEvaluacion)
                                            {
                                                <td style="border-bottom:none!important;">
                                                    @if (!eva.HideEvaluacion)
                                                    {
                                                        <MudSelect Margin="Margin.Dense" T="DataModel.Helper.enumAUD_TipoSeleccion" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="eva.Evaluacion" For="@(() => eva.Evaluacion)">
                                                            @foreach (DataModel.Helper.enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(DataModel.Helper.enumAUD_TipoSeleccion)))
                                                            {
                                                                <MudSelectItem T="DataModel.Helper.enumAUD_TipoSeleccion" Value="dt">@DataModel.Helper.Helper.GetDescription(dt)</MudSelectItem>

                                                            }
                                                        </MudSelect>
                                                    }
                                                </td>
                                            }
                                            <td style="border-bottom:none!important;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="@(dt.LEvaluacion.Count+5)">
                                                <MudTextField Label="Observaciones" Margin="Margin.Dense" @bind-Value="dt.Observaciones" Variant="Variant.Outlined" For="@(() => dt.Observaciones)" Lines="10" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                </MudGrid>

            </MudCardContent>

            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12">
                        <MudSimpleTable Style="overflow-x: auto;">
                            <thead>
                                <tr>
                                    <th width="5%">Capítulo</th>
                                    <th width="5%">Artículo</th>
                                    <th width="30%">Título</th>
                                    <th width="5%">Criterio</th>
                                    <th width="5%">Evaluación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dt in Inspeccion.Inspeccion.InspGuiBPMFabNatMedicina.AreaEnvasadoEmpaque.LContenido)
                                {
                                    @if (dt.IsHeader)
                                    {
                                        <tr>
                                            <th>@dt.Capitulo</th>
                                            <th>@dt.Articulo</th>
                                            <th>@dt.Titulo</th>
                                            <th colspan="3">@dt.Criterio</th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="border-bottom:none!important;">@dt.Capitulo</td>
                                            <td style="border-bottom:none!important;">@dt.Articulo</td>
                                            <td style="border-bottom:none!important;">@dt.Titulo</td>
                                            <td style="border-bottom:none!important;">@dt.Criterio</td>
                                            @foreach (var eva in dt.LEvaluacion)
                                            {
                                                <td style="border-bottom:none!important;">
                                                    @if (!eva.HideEvaluacion)
                                                    {
                                                        <MudSelect Margin="Margin.Dense" T="DataModel.Helper.enumAUD_TipoSeleccion" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="eva.Evaluacion" For="@(() => eva.Evaluacion)">
                                                            @foreach (DataModel.Helper.enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(DataModel.Helper.enumAUD_TipoSeleccion)))
                                                            {
                                                                <MudSelectItem T="DataModel.Helper.enumAUD_TipoSeleccion" Value="dt">@DataModel.Helper.Helper.GetDescription(dt)</MudSelectItem>

                                                            }
                                                        </MudSelect>
                                                    }
                                                </td>
                                            }
                                            <td style="border-bottom:none!important;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="@(dt.LEvaluacion.Count+5)">
                                                <MudTextField Label="Observaciones" Margin="Margin.Dense" @bind-Value="dt.Observaciones" Variant="Variant.Outlined" For="@(() => dt.Observaciones)" Lines="10" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                </MudGrid>

            </MudCardContent>

            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12">
                        <MudSimpleTable Style="overflow-x: auto;">
                            <thead>
                                <tr>
                                    <th width="5%">Capítulo</th>
                                    <th width="5%">Artículo</th>
                                    <th width="30%">Título</th>
                                    <th width="5%">Criterio</th>
                                    <th width="5%">Evaluación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dt in Inspeccion.Inspeccion.InspGuiBPMFabNatMedicina.AreaAuxiliares.LContenido)
                                {
                                    @if (dt.IsHeader)
                                    {
                                        <tr>
                                            <th>@dt.Capitulo</th>
                                            <th>@dt.Articulo</th>
                                            <th>@dt.Titulo</th>
                                            <th colspan="3">@dt.Criterio</th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="border-bottom:none!important;">@dt.Capitulo</td>
                                            <td style="border-bottom:none!important;">@dt.Articulo</td>
                                            <td style="border-bottom:none!important;">@dt.Titulo</td>
                                            <td style="border-bottom:none!important;">@dt.Criterio</td>
                                            @foreach (var eva in dt.LEvaluacion)
                                            {
                                                <td style="border-bottom:none!important;">
                                                    @if (!eva.HideEvaluacion)
                                                    {
                                                        <MudSelect Margin="Margin.Dense" T="DataModel.Helper.enumAUD_TipoSeleccion" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="eva.Evaluacion" For="@(() => eva.Evaluacion)">
                                                            @foreach (DataModel.Helper.enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(DataModel.Helper.enumAUD_TipoSeleccion)))
                                                            {
                                                                <MudSelectItem T="DataModel.Helper.enumAUD_TipoSeleccion" Value="dt">@DataModel.Helper.Helper.GetDescription(dt)</MudSelectItem>

                                                            }
                                                        </MudSelect>
                                                    }
                                                </td>
                                            }
                                            <td style="border-bottom:none!important;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="@(dt.LEvaluacion.Count+5)">
                                                <MudTextField Label="Observaciones" Margin="Margin.Dense" @bind-Value="dt.Observaciones" Variant="Variant.Outlined" For="@(() => dt.Observaciones)" Lines="10" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                </MudGrid>

            </MudCardContent>

            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12">
                        <MudSimpleTable Style="overflow-x: auto;">
                            <thead>
                                <tr>
                                    <th width="5%">Capítulo</th>
                                    <th width="5%">Artículo</th>
                                    <th width="30%">Título</th>
                                    <th width="5%">Criterio</th>
                                    <th width="5%">Evaluación</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dt in Inspeccion.Inspeccion.InspGuiBPMFabNatMedicina.AreaControlCalidad.LContenido)
                                {
                                    @if (dt.IsHeader)
                                    {
                                        <tr>
                                            <th>@dt.Capitulo</th>
                                            <th>@dt.Articulo</th>
                                            <th>@dt.Titulo</th>
                                            <th colspan="3">@dt.Criterio</th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td style="border-bottom:none!important;">@dt.Capitulo</td>
                                            <td style="border-bottom:none!important;">@dt.Articulo</td>
                                            <td style="border-bottom:none!important;">@dt.Titulo</td>
                                            <td style="border-bottom:none!important;">@dt.Criterio</td>
                                            @foreach (var eva in dt.LEvaluacion)
                                            {
                                                <td style="border-bottom:none!important;">
                                                    @if (!eva.HideEvaluacion)
                                                    {
                                                        <MudSelect Margin="Margin.Dense" T="DataModel.Helper.enumAUD_TipoSeleccion" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="eva.Evaluacion" For="@(() => eva.Evaluacion)">
                                                            @foreach (DataModel.Helper.enumAUD_TipoSeleccion dt in Enum.GetValues(typeof(DataModel.Helper.enumAUD_TipoSeleccion)))
                                                            {
                                                                <MudSelectItem T="DataModel.Helper.enumAUD_TipoSeleccion" Value="dt">@DataModel.Helper.Helper.GetDescription(dt)</MudSelectItem>

                                                            }
                                                        </MudSelect>
                                                    }
                                                </td>
                                            }
                                            <td style="border-bottom:none!important;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="@(dt.LEvaluacion.Count+5)">
                                                <MudTextField Label="Observaciones" Margin="Margin.Dense" @bind-Value="dt.Observaciones" Variant="Variant.Outlined" For="@(() => dt.Observaciones)" Lines="10" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudItem>
                </MudGrid>

            </MudCardContent>

            <MudCardActions Class="pt-4 pl-4">
                <div style="text-align:right;" class="ml-auto">
                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="ma-1" OnClick="@((e)=> SaveExit())" StartIcon="@Icons.Material.Filled.Save">Guardar y Salir</MudButton>
                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="ma-1" OnClick="@((e)=> Save())" EndIcon="@Icons.Material.Filled.SaveAs">Guardar</MudButton>
                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium" Class="ma-1" OnClick="@((e)=> Cancel())" StartIcon="@Icons.Material.Filled.Logout">Salir</MudButton>
                </div>
            </MudCardActions>
        </MudCard>

    </EditForm>






}
