@page "/countries/list"
@*@layout null*@
@using Aig.Farmacoterapia.Admin.Components
@using Aig.Farmacoterapia.Admin.Components.Country
@using Aig.Farmacoterapia.Admin.Models
@using Aig.Farmacoterapia.Application.Medicament.Model
@using Aig.Farmacoterapia.Domain.Common
@using Aig.Farmacoterapia.Domain.Entities.Enums
@using System.Linq
@using Aig.Farmacoterapia.Domain.Entities
@using Aig.Farmacoterapia.Domain.Interfaces
@using System.Globalization
@attribute [Authorize]
@inject IUnitOfWork _unitOfWork;
@inject ISystemLogger _systemLogger;
@inject IContryRepository _repository;
@inject IJSRuntime JS

<div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" fill="#000000" />
                    <circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5" />
                </g>
            </svg>
        </span>
        <h3 class="kt-portlet__head-title">
            Países
        </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
            <div class="kt-portlet__head-actions">
                <a href="#" class="btn btn-outline-brand btn-square" @onclick="() => OnEdit(0)" data-toggle="modal" data-target="#modal_createedit">
                    <i class="la la-plus"></i>
                    Nuevo
                </a>
            </div>
        </div>
    </div>
</div>

<div class="kt-portlet__body">

    <EditForm Model="this" OnValidSubmit="OnSearch" class="kt-form kt-form--fit kt-margin-b-20">

        <div class="row kt-margin-b-20">
            <div class="col-lg-4 kt-margin-b-10-tablet-and-mobile">
                <label>Nombre:</label>
                <input type="text" @bind-value="searchString" class="form-control kt-input" placeholder="" data-col-index="0">
            </div>

            <div class="col-lg-5 kt-margin-b-10-tablet-and-mobile">
                <div class="row" style="margin-top: 23px;">
                    <div class="col-lg-12" style="margin-top: 3px;">
                        <button type="submit" class="btn btn-outline-brand btn-square" style="padding: 5px 10px 5px 10px;">
                            <span>
                                <i class="la la-search"></i>
                                <span>Buscar</span>
                            </span>
                        </button>
                        &nbsp;&nbsp;
                        <button type="button" @onclick="() => OnReset()" class="btn btn-outline-brand btn-square" style="padding: 5px 10px 5px 10px;">
                            <span>
                                <i class="la la-close"></i>
                                <span>Eliminar</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>

 <div class="table-responsive">
        <MudTable @ref="table" Striped="true"  LoadingProgressColor="Color.Primary" Dense="true" Hover="true" ServerData="@(new Func<TableState, Task<TableData<AigPais>>>(DoFetchData))" Breakpoint="Breakpoint.Sm">

            <HeaderContent>
                <MudTh style="width:5%;"><MudTableSortLabel SortLabel="iso" T="AigPais">Iso</MudTableSortLabel></MudTh>
                <MudTh style="width:10px;"><MudTableSortLabel InitialDirection="SortDirection.Ascending"  T="AigPais" SortLabel="name">Nombre</MudTableSortLabel></MudTh>
                <MudTh style="width:20px;">Creado</MudTh>
                <MudTh style="width:20px;">Creado por</MudTh>
                <MudTh style="width:20px;">Última modificación</MudTh>
                <MudTh style="width:20px;">Modificado por</MudTh>
                <MudTh style="width:5px;"></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Iso">@context.Iso</MudTd>
                <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
              <MudTd DataLabel="Creado">@(string.Format("{0:dd/MM/yyyy}",context.Created))</MudTd>
                <MudTd DataLabel="Creado por">@context.CreatedBy</MudTd>
                <MudTd DataLabel="Última modificación">@(context.LastModified!=null ?string.Format("{0:dd/MM/yyyy}",context.LastModified) : "-")</MudTd>
                <MudTd DataLabel="Modificado por">@(context.LastModifiedBy!=null ? context.LastModifiedBy : "-")</MudTd>
                <MudTd>
                    <span class="dropdown">
                        <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                            <i class="flaticon-more-1 kt-font-brand"></i>
                        </a>
                        <span class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" @onclick="() => OnEdit(context.Id)" data-toggle="modal" data-target="#modal_createedit" >
                                <i class="la la-edit"></i> Editar
                            </a> 
                            <a class="dropdown-item" href="#" @onclick="() => OnDelete(context)" data-toggle="modal">
                                <i class="la la-trash"></i> 
                                Eliminar
                            </a> 
                        </span>
                    </span>
                </MudTd>
            </RowTemplate>

            <NoRecordsContent>
                <MudText>No se encontraron elementos</MudText>
            </NoRecordsContent>
             <LoadingContent>
            <MudText>Cargando...</MudText>
        </LoadingContent>
            <PagerContent>
                <MudTablePager Class="primary" InfoFormat="{first_item}-{last_item} de {all_items}" PageSizeOptions="new int[] {10, 25, 50, 100, 250 }" RowsPerPageString="Filas" />
            </PagerContent>
        </MudTable>
    </div>

</div>

@if (addEditDialogIsOpen)
{
        <AddEdit ModelData="@modelData" OnClose="@OnEventAddEditClose"></AddEdit>
}

@if (deleteDialogIsOpen)
{
       <DeleteConfirmDialog Caption="Eliminar"
                   Message="¿Confirma que desea de eliminar el artículo?"
                   OnClose="@OnDeleteDialogClose">
        </DeleteConfirmDialog>
}

@code {

    private MudTable<AigPais> table;
    private static IEnumerable<AigPais> List { get; set; }
    private string searchString;
    protected AigPais modelData;
    protected bool addEditDialogIsOpen = false;
    protected bool deleteDialogIsOpen = false;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            searchString = string.Empty;
        }
        catch (Exception ex)
        {
            _systemLogger.Error(ex.Message);
        }

        base.OnInitialized();
    }
    private async Task<TableData<AigPais>> DoFetchData(TableState state)
    {
        StateHasChanged();
        var sorting = new List<SortingOption>();
        var filters = new List<FilteringOption>();
        if (state.SortDirection != SortDirection.None)
        {
            var sortDirection = state.SortDirection == SortDirection.Descending ? SortingDirection.DESC : SortingDirection.ASC;
            sorting = new() { new SortingOption { Field = state.SortLabel, Direction = sortDirection } };
        }
        if (!string.IsNullOrEmpty(searchString))
            filters.Add(new FilteringOption { Field = "term", Operator = FilteringOperator.Contains, Value = searchString });

        var args = new PageSearchArgs()
            {
                PageIndex = state.Page + 1,
                PageSize = state.PageSize,
                SortingOptions = sorting,
                FilteringOptions = filters
            };
        var paginatedResult = await _repository.ListAsync(args);
        List = paginatedResult.Data;
        return new TableData<AigPais>() { TotalItems = paginatedResult.TotalCount, Items = paginatedResult.Data };
    }
    private void OnSearch(string text)
    {
        table.ReloadServerData();
    }
    private void OnSearch()
    {
        table.ReloadServerData();
    }
    private void OnReset()
    {
        searchString = string.Empty;
        table.ReloadServerData();
    }

    private async Task OnEdit(long id)
    {
        var result = await _unitOfWork.Repository<AigPais>().GetByIdAsync(id);
        if (result == null)
            result = new AigPais();

        modelData = result;
        addEditDialogIsOpen = true;
        StateHasChanged();
    }

    private async Task OnEventAddEditClose(long id)
    {
        addEditDialogIsOpen = false;
        if (id > 0)
            table.ReloadServerData();
    }
    private async Task OnDelete(AigPais data)
    {
        modelData = data;
        deleteDialogIsOpen = true;
    }
    private async Task OnDeleteDialogClose(bool isOk)
    {
        if (isOk)
        {
            await _unitOfWork.Repository<AigPais>().DeleteAsync(modelData);
            if (_unitOfWork.Commit())
            {
                await JS.InvokeVoidAsync("ShowMessage", "Elemento eliminado correctamente");
                await JS.InvokeVoidAsync("OpenCloseModal", "#btnCloseDeleteModal");
                await table.ReloadServerData();
            }
            else
                await JS.InvokeVoidAsync("ShowError", "DataDeleteError");
        }
        deleteDialogIsOpen = false;
    }

}