@page "/productosretirados"
@using DataModel.Helper;
@layout BackendLayout
@attribute [Authorize]

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    @*<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
    <h3 class="kt-subheader__title">
    <NavLink href='/dashboard' class="kt-subheader__breadcrumbs-link">
    @languageContainerService.Keys["Dashboard"]
    </NavLink>
    </h3>
    </div>
    </div>
    </div>*@

    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                @languageContainerService.Keys["RecalledProducts"]
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="dropdown dropdown-inline">
                                <button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="flaticon-more"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="javascript:void(0)" class="dropdown-item" @onclick="() => FetchData()"><i class="fa fa-random"></i>@languageContainerService.Keys["Update"]</a>
                                    <a href="javascript:void(0)" class="dropdown-item" @onclick="() => ExportToExcel()"><i class="fa fa-file-excel"></i>@languageContainerService.Keys["Export"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <div class="row">
                            <div class="col-12">
                                <div class="kt-portlet__body">
                                    <EditForm Model="@dataModel" OnValidSubmit="OnFilter" class="kt-form kt-form--label-right">
                                        <DataAnnotationsValidator />
                                        <div class="form-group row">
                                            <div class="col-lg-3">
                                                <label>@languageContainerService.Keys["Search"]</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" @bind="dataModel.Filter" name="Filter" />
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label>@languageContainerService.Keys["Status"]</label>
                                                <div class="form-line">
                                                    <InputSelect @bind-Value="dataModel.StatusInspecciones" class="form-control" @onclick="OnFilter">
                                                        <option value="@enum_StatusInspecciones.None">@languageContainerService.Keys["All"]</option>

                                                        @foreach (enum_StatusInspecciones dt in Enum.GetValues(typeof(enum_StatusInspecciones)))
                                                        {
                                                            if (dt != enum_StatusInspecciones.None)
                                                            {
                                                                <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                            }
                                                        }
                                                    </InputSelect>
                                                </div>

                                            </div>
                                            <div class="col-sm-3">
                                                <label>@languageContainerService.Keys["FromExpDate"]</label>
                                                <div class="form-line">
                                                    <RadzenDatePicker TValue="DateTime?" @bind-Value="dataModel.FromDate" ShowTime="false" DateFormat="dd/MM/yyyy" Change=@(args => {OnFilter();}) />
                                                </div>

                                            </div>
                                            <div class="col-sm-3">
                                                <label>@languageContainerService.Keys["ToExpDate"]</label>
                                                <div class="form-line">
                                                    <RadzenDatePicker TValue="DateTime?" @bind-Value="dataModel.ToDate" ShowTime="false" DateFormat="dd/MM/yyyy" Change=@(args => {OnFilter();}) />
                                                </div>

                                            </div>
                                        </div>
                                    </EditForm>
                                </div>

                                @if (dataModel != null && dataModel.Ldata != null && dataModel.Ldata.Count > 0)
                                {
                                    <div class="kt-portlet__body">
                                        <!--begin::Section-->
                                        <div class="kt-section">
                                            <div class="table-responsive">
                                                <table class="table rounded table-striped">
                                                    <thead class=thead-light>
                                                        <tr>
                                                            <th>@languageContainerService.Keys["Status"]</th>
                                                            <th>@languageContainerService.Keys["InspectionDate"]</th>
                                                            <th>@languageContainerService.Keys["Establishments"]</th>
                                                            <th>@languageContainerService.Keys["LicNumber"]</th>
                                                            <th>@languageContainerService.Keys["ActNumber"]</th>
                                                            <th>@languageContainerService.Keys["Name"]</th>
                                                            <th>@languageContainerService.Keys["NumberOfHealthRegister"]</th>
                                                            <th>@languageContainerService.Keys["CommercialPresentation"]</th>
                                                            <th>@languageContainerService.Keys["Fabricante"]</th>
                                                            <th>@languageContainerService.Keys["Country"]</th>
                                                            <th>@languageContainerService.Keys["Lot"]</th>
                                                            <th>@languageContainerService.Keys["ExpDate"]</th>
                                                            <th>@languageContainerService.Keys["AmountWithheld"]</th>
                                                            <th>@languageContainerService.Keys["AmountWithdrawal"]</th>
                                                            <th>@languageContainerService.Keys["ProductDestiny"]</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (dataModel.Ldata != null)
                                                        {
                                                            @foreach (var dt in dataModel.Ldata)
                                                            {
                                                                <tr>
                                                                    <td>@(DataModel.Helper.Helper.GetDescription(dt.FrmRetiroRetencion?.Inspeccion?.StatusInspecciones ?? enum_StatusInspecciones.None))</td>
                                                                    <td scope="row">@(dt.FrmRetiroRetencion?.Inspeccion?.FechaInicio.ToString("dd/MM/yyyy") ?? "")</td>
                                                                    <td scope="row">@(dt.FrmRetiroRetencion?.Inspeccion?.DatosEstablecimiento?.Nombre ?? "")</td>
                                                                    <td scope="row">@(dt.FrmRetiroRetencion?.Inspeccion?.DatosEstablecimiento?.NumLicencia ?? "")</td>
                                                                    <td scope="row">@(dt.FrmRetiroRetencion?.Inspeccion?.NumActa ?? "")</td>
                                                                    <td scope="row">@dt.Nombre</td>
                                                                    <td scope="row">@(dt.RegSanitario)</td>
                                                                    <td>@dt.PresentacionComercial</td>
                                                                    <td>@dt.Fabricante</td>
                                                                    <td>@dt.Pais</td>
                                                                    <td>@dt.Lote</td>
                                                                    <td>@(dt.FechaExp?.ToString("dd/MM/yyyy") ?? "")</td>
                                                                    <td>@dt.CantidadRetenida</td>
                                                                    <td>@dt.CantidadRetirada</td>
                                                                    <td>@dt.Destino</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--end::Section-->
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <BlazorPager CurrentPage="@(dataModel.PagIdx + 1)"
                                                 PageCount="@dataModel.PagesCount"
                                                 VisiblePages="@(dataModel.PagesCount>3?4:dataModel.PagesCount)"
                                                 ShowFirstLast="true"
                                                 ShowPageNumbers="true"
                                                 FirstText="<<"
                                                 LastText=">>"
                                                 NextText=">"
                                                 PreviousText="<"
                                                 OnPageChanged="(async e => {
						                     if (dataModel.PagesCount < e)
							                    return;
						                    dataModel.PagIdx = e - 1;
						                    await FetchData();})">
                                        </BlazorPager>
                                    </div>

                                }
                                <!--end::Form-->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

</div>

@if (OpenAddEdit && inspeccion != null)
{
    <Aig.Auditoria.Components.Inspections.RetencionRetiroProductos Inspeccion="inspeccion"></Aig.Auditoria.Components.Inspections.RetencionRetiroProductos>
}
<Aig.Auditoria.Components.DeleteConfirmDialog></Aig.Auditoria.Components.DeleteConfirmDialog>