@using Aig.Farmacoterapia.Application.Dashboard.Event
@using Aig.Farmacoterapia.Infrastructure.Application
@using Aig.Farmacoterapia.Public.Components
@using Blazored.FluentValidation
@inherits LayoutComponentBase
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject NavigationManager _navigation;
@inject AppState _appState;
@inject IJSRuntime _jsRuntime
<PageTitle>Medicamentos</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<style>
.product-text h5 {
   
    margin-top: 8px;
}
.product-text h4 a {
    text-decoration: underline !important;
}


#scrollUp {
    margin-bottom: 10px !important;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

#scrollUp:hover {
            background: #ab152a !important;
}
.product-02-tab ul li a {
    border: 1px solid #e4e4e4 !important;
}

.product-03-wrapper .product-text h4 {
    font-size: 17px !important;
}

.mud-typography-body1 {
    margin-left: 3px !important;
}

.product-list-content p {
    margin: 0 !important;
}

.product-text {
    margin: 0 !important;
}

.product-03-wrapper {
    padding: 10px 10px 35px 10px !important;
}

.action-btn {
    height: 30px !important;
    width: 30px !important;
    line-height: 0px !important;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.category-sidebar {
   /*background: #f8f8f8 !important;*/ 
    border: 1px solid #e4e4e4 !important;
}
.header-search-form input {
    background: #fff !important;
  
}

.product-text span {
    /*color: #e4573d;*/
    color: #004b9c !important;
    font-weight: normal !important;
}

.my-mud-icon-button .mud-icon-button {
    padding: 0 !important;
}

.header-02-search .header-search-form button {
    color: #ededed !important;
    right: 2px !important;
    top: 5px !important;
    transition: all 0.3s ease 0s !important;
    cursor: pointer !important;
    height: 40px !important;
    width: 40px !important;
        background: #004b9c !important;
    border-radius: 50% !important;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.header-02-search .header-search-form button:hover {
   background: #ab152a !important;
}

.header-02-search .header-search-form input {
    padding: 20px 60px 20px 20px !important;
    border: 2px solid #d0cece !important;
}

.custom-search {
    color:#fff !important;
    margin: 5px !important;
    height: 30px !important;
    width: 30px !important;
    background: #9b9b9b !important;
    border-radius: 50% !important;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
.custom-search:hover {
    background: #e4573d !important;
}

.filterLabel {
    font-size: 16px;
    color: #848181;
    position: relative;
    font-weight: 400;
    margin: 2px 0 0 5px;
}

.shop-menu ul li a {
    color: #fff !important;
}

.shop-menu ul li a:hover {
    color: #fff !important;
}

.pr-165 {
    padding-left:  50px !important;
    padding-right: 50px !important;
}

    #scrollUp {
        background: #004b9c !important;
    }

    .mud-button-filled.mud-button-filled-info {
        background-color: #004b9c !important;
    }

    .input-search > .mud-input-control-input-container > .mud-input.mud-input-outlined .mud-input-outlined-border {
        border-radius: 40px !important;
        border-width: 2px !important;
    }

    .mud-input.mud-input-outlined:focus-within .mud-input-outlined-border {
        border-width: 2px;
        border-color: #004b9c !important;
    }

    .input-search > .mud-input-control-input-container > .mud-input > .mud-input-adornment .mud-button-root {
        height: 50px;
        width: 50px;
        background: #004b9c;
        border-radius: 50%;
        color: #fff !important;
    }

    .input-search > .mud-input-control-input-container > .mud-input > .mud-input-adornment .mud-button-root:hover {
            height: 50px;
            width: 50px;
            background: #ab152a !important;
            border-radius: 50%;
            color: #fff !important;
        }
    .footer_copyright {
        position: fixed;
        bottom: 8px;
        left: 48%;
        right: 0;
        height: 30px;
        color: #9b9b9b;
    }

    .footer-bottom-area {
        border:none !important;
    }

</style>

<MudLayout>
    <MudAppBar Style="background-color: #004b9c !important;" Elevation="25" Dense="true" Fixed="true">
        <MudSpacer />
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">

                <MudToolBar>
                  <MudButton Href="/"
                           Variant="Variant.Text"
                           StartIcon="@Icons.Material.Filled.Home"
                           Color="Color.Inherit"
                           Style="text-transform:uppercase">
                    Inicio
                </MudButton>
                <MudButton Href="http://notificacentroamerica.net/n/Pages/mapa.aspx#no-back-button"
                           Target="_blank"
                           Variant="Variant.Text"
                           StartIcon="@Icons.Material.Filled.Notifications"
                           Color="Color.Inherit"
                           Style="text-transform:uppercase">
                    Noti-FACEDRA
                </MudButton>
                <MudButton Href="https://www.minsa.gob.pa/informacion-salud/alertas-y-comunicados"
                           Target="_blank"
                           Variant="Variant.Text"
                           StartIcon="@Icons.Material.Filled.Warning"
                           Color="Color.Inherit"
                           Style="text-transform:uppercase">
                    Notas de seguridad
                </MudButton>

                <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="my-6" />

                <MudButton OnClick="() => InvokeModal()"
                           Target="_blank"
                           Variant="Variant.Text"
                           StartIcon="@Icons.Material.Filled.SpeakerNotes"
                           Color="Color.Inherit"
                           Style="text-transform:uppercase">
                    Descargo de Responsabilidad
                </MudButton>
                
                <MudButton OnClick="() => InvokeModal2()"
                           Target="_blank"
                           Variant="Variant.Text"
                           StartIcon="@Icons.Material.Filled.Info"
                           Color="Color.Inherit"
                           Style="text-transform:uppercase">
                    Recomendaciones
                </MudButton>
              </MudToolBar>
           

        
         </MudHidden>
        <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
            <MudMenu Icon="@Icons.Filled.Menu" Color="Color.Inherit" Dense="true">
                <MudMenuItem Icon="@Icons.Material.Filled.Home" Href="/" Target="_blank">Inicio</MudMenuItem>
                <MudDivider DividerType="DividerType.Inset" />
                <MudMenuItem Icon="@Icons.Material.Filled.Notifications" Href="http://notificacentroamerica.net/n/Pages/mapa.aspx#no-back-button" Target="_blank">Noti-FACEDRA</MudMenuItem>
                <MudDivider DividerType="DividerType.Inset" />
                <MudMenuItem Icon="@Icons.Material.Filled.SpeakerNotes" Href="https://www.minsa.gob.pa/informacion-salud/alertas-y-comunicados" Target="_blank">Notas de seguridad</MudMenuItem>
                <MudDivider DividerType="DividerType.Inset" />
                <MudMenuItem Icon="@Icons.Material.Filled.Warning" OnClick="() => InvokeModal()" Target="_blank">Descargo de Responsabilidad</MudMenuItem>
                <MudDivider DividerType="DividerType.Inset" />
                <MudMenuItem Icon="@Icons.Material.Filled.Info" OnClick="() => InvokeModal2()" Target="_blank">Recomendaciones</MudMenuItem>
            </MudMenu>
        </MudHidden>
    </MudAppBar>

    <MudAppBar Elevation="0" Dense="true" Fixed="false" Style="z-index:1299 !important; background-color: transparent !important;margin-top:80px">
        <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
           <MudGrid>
            <MudItem md="4" Style="margin-top: 20px;">
                <span style="color:#ab152a !important;font-size: 18px !important; font-weight:bold !important;text-align: center;display: flex;">
                    SISTEMA DE MONOGRAFÍAS Y PROSPECTOS DE LA DIRECCIÓN NACIONAL DE FARMACIA Y DROGAS
                </span>
            </MudItem>
            <MudItem md="4" Style="margin-top: 5px;">
                
                    <MudTextField Variant="Variant.Outlined"
                                  Class="input-search"
                                  Margin="Margin.Normal"
                                  @bind-Value="_filter.Term"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@Icons.Filled.Search"
                                  AdornmentColor="Color.Info"
                                  OnAdornmentClick="(s=>this.InvokenSearch())"
                                  Clearable="true"
                                  OnClearButtonClick="(s=>this.InvokenSearch())"
                                  Placeholder="No.Registro / Nombre / Principio Activo / Fabricante" />
               
            </MudItem>
            <MudItem md="4">
                <div class="logo" style="margin-top: 20px;">
                    <a href="/"><img src="assets/img/logo/logo.png" alt="" /></a>
                </div>
            </MudItem>
        </MudGrid>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
            <MudGrid>
               
                <MudItem  xs="12" sm="12" xl="12" md="12" lg="12" Style="margin-top: 20px;">

                    <MudTextField Variant="Variant.Outlined"
                                  Class="input-search"
                                  Margin="Margin.None"
                                  @bind-Value="_filter.Term"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@Icons.Filled.Search"
                                  AdornmentColor="Color.Info"
                                  OnAdornmentClick="(s=>this.InvokenSearch())"
                                  Clearable="true"
                                  OnClearButtonClick="(s=>this.InvokenSearch())"
                                  Placeholder="No.Registro / Nombre / Principio Activo / Fabricante" />

                </MudItem>
                
            </MudGrid>
        </MudHidden>
    </MudAppBar>

    <MudMainContent>
            @Body
    </MudMainContent>

    <footer>
        <div class="footer-bottom-area mr-70 ml-70 pt-25 pb-25">
            <div class="container">
                <div class="row">

                    <div class="col-xl-5 col-lg-5 col-md-5">
                      
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <div class="copyright">
                            <p>
                                Copyright
                                <i class="far fa-copyright"></i> @DateTime.Now.Year <a target="_blank" href="https://soaint.com/">SOAINT</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</MudLayout>

@code {

    protected AppFilter _filter { get; set; } = new AppFilter();
    protected async override Task OnInitializedAsync()
    {    
        base.OnInitialized();
    }

    private void InvokenSearch()
    {    
        _filter.Classification = null;
        _filter.SaleCondition = null;
        _filter.Valid = true;
        OnSearch();
    }
    private void OnSearch()
    {  
        var path= _navigation.ToBaseRelativePath(_navigation.Uri).ToLower();
        if (path.Contains("details")||path.Contains("disclaimer")||path.Contains("notfound")) {
            _appState.SetSearchText(_filter,false);
            _navigation.NavigateTo("./");
        }
        else
        {
            _appState.SetSearchText(_filter);
        }

    }

    private void OnSearchChanged()
    {  
        if (string.IsNullOrEmpty(_filter.Term)) {
            _appState.SetSearchText(_filter,false);
        }
    }

    private async Task InvokeModal()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Large, FullWidth = true, DisableBackdropClick = true };
        var dialog = _dialogService.Show<Disclaimer>("DESCARGO DE RESPONSABILIDAD", parameters, options);
        var result = await dialog.Result;
    }

    private async Task InvokeModal2()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, DisableBackdropClick = true };
        var dialog = _dialogService.Show<Info>("RECOMENDACIONES", parameters, options);
        var result = await dialog.Result;
    }

    private async Task InvokeFilterModal()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true };
        var dialog = _dialogService.Show<Search>("FILTRO", parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            var search= result.Data as AppFilter;
            if (search != null){
                _filter = search;
                 _appState.SetSearchText(search,false);
                OnSearch();
            }
        }
    }
}