@page "/contraseña"
@layout AccountLayout
@attribute [AllowAnonymous]

@if(changePswModel == null)
{

	<div class="kt-login__wrapper">
		<div class="kt-login__signin">
			<div class="kt-login__head">
				<h3 class="kt-login__title">@languageContainerService.Keys["ForgetPassword"]</h3>
			</div>
			<div class="kt-login__form">
				<EditForm id="loginform" class="kt-form" OnValidSubmit="OnReqPin" Model="reqPINModel">
					<DataAnnotationsValidator />
					<label>@languageContainerService.Keys["Obtener PIN de seguridad"]</label>
					<div class="form-group">
						<InputText class="form-control" type="text" autocomplete="off" placeholder="@languageContainerService.Keys["Email"]" @bind-Value="reqPINModel.Email" style="background:none!important;background-color:white!important;" />
						<ValidationMessage For="@(() => reqPINModel.Email)" />
					</div>
					<div class="row kt-login__extra">
						@* <div class="col kt-align-left">
					<label class="kt-checkbox">
					<span></span>
					</label>
					</div>
					<div class="col kt-align-right">
					<NavLink href="./login" id="kt_login_forgot" class="kt-link">@languageContainerService.Keys["Login"]</NavLink>
					</div> *@
					</div>
					<div class="kt-login__actions">
						<button class="btn btn-brand btn-pill btn-elevate" type="button" @onclick="(e)=>{BackLogin();}">@languageContainerService.Keys["Back"]</button>
						<button class="btn btn-brand btn-pill btn-elevate" type="submit">@languageContainerService.Keys["SendPin"]</button>
					</div>
				</EditForm>
			</div>
		</div>

	</div>


}
else
{

	<div class="kt-login__wrapper">
		<div class="kt-login__signin">
			<div class="kt-login__head">
				<h3 class="kt-login__title">@languageContainerService.Keys["ForgetPassword"]</h3>
			</div>
			<div class="kt-login__form">
				<EditForm id="loginform" class="kt-form" OnValidSubmit="OnChangePassword" Model="changePswModel">
					<DataAnnotationsValidator />
					<div class="form-group">
						<InputText class="form-control" type="text" autocomplete="off" placeholder="@languageContainerService.Keys["Email"]" @bind-Value="changePswModel.UserName" style="background:none!important;background-color:white!important;" />
						<ValidationMessage For="@(() => changePswModel.UserName)" />
					</div>

					<div class="form-group">
						<InputText class="form-control" type="text" autocomplete="off" placeholder="@languageContainerService.Keys["PINNumber"]" @bind-Value="changePswModel.PinNumber" style="background:none!important;background-color:white!important;" />
						<ValidationMessage For="@(() => changePswModel.PinNumber)" />
					</div>
					<div class="form-group">
						<InputText class="form-control form-control-last" type="password" autocomplete="off" placeholder="@languageContainerService.Keys["NewPassword"]" @bind-Value="changePswModel.Password" style="background:none!important;background-color:white!important;" />
						<ValidationMessage For="@(() => changePswModel.Password)" />
					</div>

					<div class="form-group">
						<InputText class="form-control form-control-last" type="password" autocomplete="off" placeholder="@languageContainerService.Keys["ConfirmPassword"]" @bind-Value="changePswModel.PasswordConfirm" style="background:none!important;background-color:white!important;" />
						<ValidationMessage For="@(() => changePswModel.PasswordConfirm)" />
					</div>
					<div class="row kt-login__extra">
						@* <div class="col kt-align-left">
					<label class="kt-checkbox">
					<span></span>
					</label>
					</div>
					<div class="col kt-align-right">
					<NavLink href="./login" id="kt_login_forgot" class="kt-link">@languageContainerService.Keys["Login"]</NavLink>
					</div> *@
					</div>
					<div class="kt-login__actions">
						<button class="btn btn-brand btn-pill btn-elevate" type="button" @onclick="(e)=>{BackLogin();}">@languageContainerService.Keys["Back"]</button>
						<button class="btn btn-brand btn-pill btn-elevate" type="submit">@languageContainerService.Keys["Submit"]</button>
					</div>
				</EditForm>
			</div>
		</div>

	</div>


}