@using DataModel.Helper;
@using DataModel;


<!-- Modal Creat/Edit -->
@if (Correspondencia != null && OpenDialog)
{

    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">        

        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    @(Correspondencia != null && Correspondencia.Id > 0 ? @languageContainerService.Keys["Edit"] : @languageContainerService.Keys["New"]) @languageContainerService.Keys["Correspondencia"] @Correspondencia.SecNumberStr
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit">
                            <div class="row">
                                <div class="col-12">
                                    <div class="kt-portlet__body">

                                        <EditForm Model="@Correspondencia" OnValidSubmit="SaveData">
                                            <DataAnnotationsValidator />

                                            @*<AuthorizeView Roles="Client"></AuthorizeView>*@

                                            <h5>@languageContainerService.Keys["Datos de Ingreso DNFD"]</h5>
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <label>@languageContainerService.Keys["Fecha de Ingreso"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <RadzenDatePicker Disabled="disabledDatosIngresos" TValue="DateTime?" Max="DateTime.Now" @bind-Value="Correspondencia.FechaIngreso" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                            <ValidationMessage For=@(() => Correspondencia.FechaIngreso) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["No. Documento Recibido"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@disabledDatosIngresos" class="form-control" @bind-Value="Correspondencia.NumDocRecibido" />
                                                            <ValidationMessage For=@(() => Correspondencia.NumDocRecibido) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Desde (Empresa o Institución, Dpto, otros)"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@disabledDatosIngresos" class="form-control" @bind-Value="Correspondencia.Empresa" />
                                                            <ValidationMessage For=@(() => Correspondencia.Empresa) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="password">@languageContainerService.Keys["Asunto"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <RadzenDropDown Disabled=@disabledDatosIngresos AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Correspondencia.CorrespondenciaAsuntoId
                                                                        AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                        Data=@LAsuntos TextProperty="Nombre" ValueProperty="Id" />
                                                            <ValidationMessage For=@(() => Correspondencia.CorrespondenciaAsuntoId) />
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (Correspondencia.CorrespondenciaAsuntoId == null)
                                                {
                                                    <div class="col-sm-6">
                                                        <label for="password">@languageContainerService.Keys["Introduzca Asunto Manualmente"]</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <InputText disabled="@disabledDatosIngresos" class="form-control" @bind-Value="Correspondencia.Asunto" />
                                                                <ValidationMessage For=@(() => Correspondencia.Asunto) />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                
                                                <div class="col-sm-12">
                                                    <label for="password">@languageContainerService.Keys["Detalles: Resoluciones (nombre empresa y licencia, o producto) / Destrucciones (controlados o no) / Materia Prima (reingreso)"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputTextArea disabled="@disabledDatosIngresos" rows="8" class="form-control" @bind-Value="Correspondencia.Detalles" />
                                                            <ValidationMessage For=@(() => Correspondencia.Detalles) />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-9" style="text-align:left;">
                                                    <h5>@languageContainerService.Keys["Adjuntos de Ingresos"]</h5>
                                                </div>
                                                <div class="col-3" style="text-align:right;">
                                                    <button disabled="@disabledDatosIngresos" type="button" @onclick="(e)=>{OpenAttachment();}"
                                                            class="btn btn-sm btn-outline-primary waves-effect">
                                                        @languageContainerService.Keys["Add"]
                                                    </button>
                                                </div>
                                                <div class="col-12" style="text-align:left;">
                                                    <div class="kt-section">
                                                        <div class="table-responsive">
                                                            <table class="table rounded table-striped">
                                                                <thead class=thead-light>
                                                                    <tr>
                                                                        <th>@languageContainerService.Keys["Description"]</th>
                                                                        <th>@languageContainerService.Keys["File"]</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Correspondencia?.AdjuntoIngreso?.LAttachments?.Count > 0)
                                                                    {
                                                                        @foreach (var dt in Correspondencia.AdjuntoIngreso.LAttachments)
                                                                        {
                                                                            <tr>
                                                                                <td scope="row">@dt.Description</td>
                                                                                <td>
                                                                                    <NavLink href="@dt.Url" target="_blank">@languageContainerService.Keys["ViewAttachemnt"]</NavLink>
                                                                                </td>
                                                                                <td style="text-align:right">
                                                                                    <button disabled="@disabledDatosIngresos" type="button" class="btn btn-danger" @onclick="(e)=>{RemoveAttachment(dt);}">@languageContainerService.Keys["Delete"]</button>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!--begin::Section-->
                                            </div>
                                            
                                            <h5>@languageContainerService.Keys["Datos de Revisión"]</h5>                                            
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <label>@languageContainerService.Keys["Fecha de Revision"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <RadzenDatePicker Disabled="disabledDatosRevision" TValue="DateTime?" Max="DateTime.Now" Min="Correspondencia.FechaIngreso" @bind-Value="Correspondencia.FechaRevision" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                            <ValidationMessage For=@(() => Correspondencia.FechaRevision) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Responsable de Revisión"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <RadzenDropDown Context="ResponsableContext" Disabled=@disabledDatosRevision AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Correspondencia.CorrespondenciaResponsableId
                                                                        AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                        Data=@LResponsables ValueProperty="Id">
                                                                        <Template>
                                                                    @(string.Format("{0}-{1}", (ResponsableContext as AUD_CorrespondenciaRespRevisionTB).Nombre, (ResponsableContext as AUD_CorrespondenciaRespRevisionTB).Cargo))
                                                                        </Template>
                                                                    </RadzenDropDown>
                                                            <ValidationMessage For=@(() => Correspondencia.CorrespondenciaResponsableId) />
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (Correspondencia.CorrespondenciaResponsableId == null)
                                                {
                                                    <div class="col-sm-4">
                                                        <label for="password">@languageContainerService.Keys["Especifique Responsable"]</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <InputText disabled="@disabledDatosRevision" class="form-control" @bind-Value="Correspondencia.NombreRevision" />
                                                                <ValidationMessage For=@(() => Correspondencia.NombreRevision) />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                
                                                <div class="col-sm-12">
                                                    <label for="password">@languageContainerService.Keys["Observaciones"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputTextArea disabled="@(disabledDatosRevision)" rows="10" class="form-control" @bind-Value="Correspondencia.Observaciones" />
                                                            <ValidationMessage For=@(() => Correspondencia.Observaciones) />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <h5>@languageContainerService.Keys["Datos de Recepción"]</h5>
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Departamento o Sección Dirigido"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputSelect @bind-Value="Correspondencia.DptoSeccionType" class="form-control">
                                                                @foreach (DataModel.enumUserRoleType dt in Enum.GetValues(typeof(DataModel.enumUserRoleType)))
                                                                {
                                                                    switch (dt)
                                                                    {
                                                                        case DataModel.enumUserRoleType.Admin:
                                                                        case DataModel.enumUserRoleType.SysUser:
                                                                            break;
                                                                        default:
                                                                            {
                                                                                <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                                break;
                                                                            }
                                                                    }                                                                                                                                       
                                                                }
                                                            </InputSelect>
                                                            <ValidationMessage For=@(() => Correspondencia.DptoSeccionType) />
                                                        </div>
                                                    </div>
                                                </div>
                                                @switch (Correspondencia.DptoSeccionType)
                                                {
                                                        case DataModel.enumUserRoleType.None:
                                                        {
                                                            <div class="col-sm-8">
                                                                <label for="password">@languageContainerService.Keys["Especifique Departamento"]</label>
                                                                <div class="form-group">
                                                                    <div class="form-line">
                                                                        <InputText disabled="@(disabledDatosRecepcion)" class="form-control" @bind-Value="Correspondencia.DptoSeccion" />
                                                                        <ValidationMessage For=@(() => Correspondencia.DptoSeccion) />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            break;
                                                        }
                                                }
                                                
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Nombre a quien va Dirigido"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <RadzenDropDown Context="ContactoContext" Disabled=@disabledDatosIngresos AllowClear="true" TValue="long?" Class="form-control" @bind-Value=@Correspondencia.CorrespondenciaContactoId
                                                                        AllowFiltering="true" FilterCaseSensitivity="@Radzen.FilterCaseSensitivity.CaseInsensitive" FilterOperator="@Radzen.StringFilterOperator.Contains"
                                                                        Data=@LContacto ValueProperty="Id">
                                                                        <Template>
                                                                    @(string.Format("{0}-{1}",(ContactoContext as AUD_CorrespondenciaContactoTB).Nombre,(ContactoContext as AUD_CorrespondenciaContactoTB).Email) )
                                                                        </Template>
                                                                    </RadzenDropDown>
                                                            <ValidationMessage For=@(() => Correspondencia.CorrespondenciaContactoId) />
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (Correspondencia.CorrespondenciaContactoId == null)
                                                {
                                                    <div class="col-sm-4">
                                                        <label for="password">@languageContainerService.Keys["Especifique Nombre"]</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <InputText disabled="@(disabledDatosRecepcion)" class="form-control" @bind-Value="Correspondencia.NombreDirigido" />
                                                                <ValidationMessage For=@(() => Correspondencia.NombreDirigido) />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label for="password">@languageContainerService.Keys["Especifique Correo"]</label>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <InputText disabled="@(disabledDatosRecepcion)" class="form-control" @bind-Value="Correspondencia.EmailDirigido" />
                                                                <ValidationMessage For=@(() => Correspondencia.EmailDirigido) />
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                                
                                                <div class="col-sm-4">
                                                    <label>@languageContainerService.Keys["Fecha de Recepción"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <RadzenDatePicker Disabled="disabledDatosRecepcion" TValue="DateTime?" Max="DateTime.Now" Min="Correspondencia.FechaRevision" @bind-Value="Correspondencia.FechaRecibo" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                            <ValidationMessage For=@(() => Correspondencia.FechaRecibo) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label for="password">@languageContainerService.Keys["Nombre de quien Recibe"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@(disabledDatosRecepcion)" class="form-control" @bind-Value="Correspondencia.NombreRecibido" />
                                                            <ValidationMessage For=@(() => Correspondencia.NombreRecibido) />
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="col-sm-12">
                                                    <label>@languageContainerService.Keys["Firma de quien Recibe"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <SignaturePad @ref="signaturePad5" OnSignatureChange="OnSignatureChange5"
                                                                          MinHeight="150" MaxHeight="190" BackgroundColor="#FFFFFF">
                                                                <SignaturePadFooter>
                                                                    <SignaturePadClear>
                                                                        <button type="button" class="btn btn-sm btn-outline-primary waves-effect" @onclick="RemoveSignatureImg5">@languageContainerService.Keys["Clear"]</button>
                                                                    </SignaturePadClear>
                                                                </SignaturePadFooter>
                                                            </SignaturePad>
                                                        </div>
                                                    </div>
                                                </div>
                                                *@
                                            </div>

                                            <h5>@languageContainerService.Keys["Datos del Establecimiento"]</h5>
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Número de Licencia"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@(disabledDatosEstablecimientos)" class="form-control" @bind-Value="Correspondencia.EstablecimientoNumLic" />
                                                            <ValidationMessage For=@(() => Correspondencia.EstablecimientoNumLic) />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-8">
                                                    <label>@languageContainerService.Keys["Nombre"]</label>
                                                    <div class="input-group">
                                                        <InputText disbled class="form-control" @bind-Value="Correspondencia.EstablecimientoNombre" />
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn btn-secondary" @onclick="(e)=>{OpenSearchEstablishment();}"><i class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                    <ValidationMessage For=@(() => Correspondencia.EstablecimientoNombre) />
                                                </div>

                                                @*<div class="col-sm-8">
                                                    <label for="password">@languageContainerService.Keys["Nombre"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@(disabledDatosEstablecimientos)" class="form-control" @bind-Value="Correspondencia.EstablecimientoNombre" />
                                                            <ValidationMessage For=@(() => Correspondencia.EstablecimientoNombre) />
                                                        </div>
                                                    </div>
                                                </div>*@

                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Corregimiento"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@(disabledDatosEstablecimientos)" class="form-control" @bind-Value="Correspondencia.EstablecimientoCorregimiento" />
                                                            <ValidationMessage For=@(() => Correspondencia.EstablecimientoCorregimiento) />
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-sm-8">
                                                    <label>@languageContainerService.Keys["Ubicación"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@(disabledDatosEstablecimientos)" class="form-control" @bind-Value="Correspondencia.EstablecimientoUbicacion" />
                                                            <ValidationMessage For=@(() => Correspondencia.EstablecimientoUbicacion) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <label for="password">@languageContainerService.Keys["Asignado"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@(disabledDatosEstablecimientos)" class="form-control" @bind-Value="Correspondencia.EstablecimientoAsignado" />
                                                            <ValidationMessage For=@(() => Correspondencia.EstablecimientoAsignado) />
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="col-sm-12">
                                            <label>@languageContainerService.Keys["Firma de quien Recibe"]</label>
                                            <div class="form-group">
                                            <div class="form-line">
                                            <SignaturePad @ref="signaturePad5" OnSignatureChange="OnSignatureChange5"
                                            MinHeight="150" MaxHeight="190" BackgroundColor="#FFFFFF">
                                            <SignaturePadFooter>
                                            <SignaturePadClear>
                                            <button type="button" class="btn btn-sm btn-outline-primary waves-effect" @onclick="RemoveSignatureImg5">@languageContainerService.Keys["Clear"]</button>
                                            </SignaturePadClear>
                                            </SignaturePadFooter>
                                            </SignaturePad>
                                            </div>
                                            </div>
                                            </div>
                                            *@
                                            </div>


                                            <h5>@languageContainerService.Keys["Datos de Seguimiento"]</h5>
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <label>@languageContainerService.Keys["Fecha de Seguimiento"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <RadzenDatePicker TValue="DateTime?" Max="DateTime.Now" Min="Correspondencia.FechaRecibo" @bind-Value="Correspondencia.FechaRespuesta" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                            <ValidationMessage For=@(() => Correspondencia.FechaRespuesta) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Tipo de Documento"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputSelect @bind-Value="Correspondencia.TipoCorrespondencia" class="form-control">
                                                                @foreach (DataModel.Helper.enumAUD_TipoCorrespondencia dt in Enum.GetValues(typeof(DataModel.Helper.enumAUD_TipoCorrespondencia)))
                                                                {
                                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                }
                                                            </InputSelect>
                                                            <ValidationMessage For=@(() => Correspondencia.TipoCorrespondencia) />
                                                        </div>
                                                    </div>
                                                </div>
                                                @switch (Correspondencia.TipoCorrespondencia)
                                                {
                                                    case DataModel.Helper.enumAUD_TipoCorrespondencia.Otros:
                                                        {
                                                            <div class="col-sm-4">
                                                                <label for="password">@languageContainerService.Keys["Especifique Tipo de Documento"]</label>
                                                                <div class="form-group">
                                                                    <div class="form-line">
                                                                        <InputText class="form-control" @bind-Value="Correspondencia.DescTipoCorrespondencia" />
                                                                        <ValidationMessage For=@(() => Correspondencia.DescTipoCorrespondencia) />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            break;
                                                        }
                                                }
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Estatus de Documento"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputSelect @bind-Value="Correspondencia.Status" class="form-control">
                                                                @foreach (DataModel.Helper.enumAUD_StatusCorrespondencia dt in Enum.GetValues(typeof(DataModel.Helper.enumAUD_StatusCorrespondencia)))
                                                                {
                                                                    <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                }
                                                            </InputSelect>
                                                            <ValidationMessage For=@(() => Correspondencia.Status) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["No. Documento que da Respuesta a Solicitud"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText class="form-control" @bind-Value="Correspondencia.NumDocRespuesta" />
                                                            <ValidationMessage For=@(() => Correspondencia.NumDocRespuesta) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <label for="password">@languageContainerService.Keys["Seguimiento del caso"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputTextArea rows="8" class="form-control" @bind-Value="Correspondencia.RespuestaCaso" />
                                                            <ValidationMessage For=@(() => Correspondencia.RespuestaCaso) />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-9" style="text-align:left;">
                                                    <h5>@languageContainerService.Keys["Adjuntos de Seguimiento"]</h5>
                                                </div>
                                                <div class="col-3" style="text-align:right;">
                                                    <button type="button" @onclick="(e)=>{OpenAttachment2();}"
                                                            class="btn btn-sm btn-outline-primary waves-effect">
                                                        @languageContainerService.Keys["Add"]
                                                    </button>
                                                </div>
                                                <div class="col-12" style="text-align:left;">
                                                    <div class="kt-section">
                                                        <div class="table-responsive">
                                                            <table class="table rounded table-striped">
                                                                <thead class=thead-light>
                                                                    <tr>
                                                                        <th>@languageContainerService.Keys["Description"]</th>
                                                                        <th>@languageContainerService.Keys["File"]</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (Correspondencia?.AdjuntoSeguimiento?.LAttachments?.Count > 0)
                                                                    {
                                                                        @foreach (var dt in Correspondencia.AdjuntoSeguimiento.LAttachments)
                                                                        {
                                                                            <tr>
                                                                                <td scope="row">@dt.Description</td>
                                                                                <td>
                                                                                    <NavLink href="@dt.Url" target="_blank">@languageContainerService.Keys["ViewAttachemnt"]</NavLink>
                                                                                </td>
                                                                                <td style="text-align:right">
                                                                                    <button type="button" class="btn btn-danger" @onclick="(e)=>{RemoveAttachment2(dt);}">@languageContainerService.Keys["Delete"]</button>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!--begin::Section-->
                                           </div>

                                            <br><br> 
                                            <div class="kt-portlet__foot" style="text-align:right;">
                                                <div class="kt-form__actions">
                                                    <button type="submit"
                                                            class="btn btn-info waves-effect">
                                                        @languageContainerService.Keys["Save"]
                                                    </button>
                                                    <button type="button" class="btn btn-danger waves-effect"
                                                    @onclick="(e)=>{Cancel();}">
                                                        @languageContainerService.Keys["Cancel"]
                                                    </button>
                                                </div>
                                            </div>

                                        </EditForm>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
@if (showSearchEstablishment)
{
    <Aig.Auditoria.Components.Establishments.SearchComponent></Aig.Auditoria.Components.Establishments.SearchComponent>
}
    @if (openAttachment)
    {
        <Aig.Auditoria.Components.Attachments.AddEditAttachment></Aig.Auditoria.Components.Attachments.AddEditAttachment>
    }

}

