@using DataModel.Helper;


<!-- Modal Creat/Edit -->
@if (Correspondencia != null && OpenDialog)
{

    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">        

        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    @(Correspondencia != null && Correspondencia.Id > 0 ? @languageContainerService.Keys["Edit"] : @languageContainerService.Keys["New"]) @languageContainerService.Keys["Correspondencia"]
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                
                            </div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit">
                            <div class="row">
                                <div class="col-12">
                                    <div class="kt-portlet__body">

                                        <EditForm Model="@Correspondencia" OnValidSubmit="SaveData">
                                            <DataAnnotationsValidator />

                                            @*<AuthorizeView Roles="Client"></AuthorizeView>*@

                                            <h5>@languageContainerService.Keys["Datos de Ingreso DNFD"]</h5>
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <label>@languageContainerService.Keys["Fecha de Ingreso"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <RadzenDatePicker Disabled="disabledDatosIngresos" TValue="DateTime?" Max="DateTime.Now" @bind-Value="Correspondencia.FechaIngreso" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                            <ValidationMessage For=@(() => Correspondencia.FechaIngreso) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["No. Documento Recibido"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@disabledDatosIngresos" class="form-control" @bind-Value="Correspondencia.NumDocRecibido" />
                                                            <ValidationMessage For=@(() => Correspondencia.NumDocRecibido) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Desde (Empresa o Institución, Dpto, otros)"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@disabledDatosIngresos" class="form-control" @bind-Value="Correspondencia.Establecimiento" />
                                                            <ValidationMessage For=@(() => Correspondencia.Establecimiento) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <label for="password">@languageContainerService.Keys["Asunto"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputTextArea disabled="@disabledDatosIngresos" rows="4" class="form-control" @bind-Value="Correspondencia.Asunto" />
                                                            <ValidationMessage For=@(() => Correspondencia.Asunto) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <label for="password">@languageContainerService.Keys["Detalles: Resoluciones (nombre empresa y licencia, o producto) / Destrucciones (controlados o no) / Materia Prima (reingreso)"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputTextArea disabled="@disabledDatosIngresos" rows="8" class="form-control" @bind-Value="Correspondencia.Detalles" />
                                                            <ValidationMessage For=@(() => Correspondencia.Detalles) />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <h5>@languageContainerService.Keys["Datos de Revisión"]</h5>
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <label>@languageContainerService.Keys["Fecha de Revision"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <RadzenDatePicker Disabled="disabledDatosRevision" TValue="DateTime?" Max="DateTime.Now" Min="Correspondencia.FechaIngreso" @bind-Value="Correspondencia.FechaRevision" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                            <ValidationMessage For=@(() => Correspondencia.FechaRevision) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label for="password">@languageContainerService.Keys["Responsable de Revisión"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@(disabledDatosRevision)" class="form-control" @bind-Value="Correspondencia.NombreRevision" />
                                                            <ValidationMessage For=@(() => Correspondencia.NombreRevision) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <label for="password">@languageContainerService.Keys["Observaciones"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputTextArea disabled="@(disabledDatosRevision)" rows="8" class="form-control" @bind-Value="Correspondencia.Observaciones" />
                                                            <ValidationMessage For=@(() => Correspondencia.Observaciones) />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <h5>@languageContainerService.Keys["Datos de Recepción"]</h5>
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Departamento o Sección Dirigido"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputSelect @bind-Value="Correspondencia.DptoSeccionType" class="form-control">
                                                                @foreach (DataModel.enumUserRoleType dt in Enum.GetValues(typeof(DataModel.enumUserRoleType)))
                                                                {
                                                                    switch (dt)
                                                                    {
                                                                        case DataModel.enumUserRoleType.Admin:
                                                                        case DataModel.enumUserRoleType.SysUser:
                                                                            break;
                                                                        default:
                                                                            {
                                                                                <option value="@dt">@(DataModel.Helper.Helper.GetDescription(dt))</option>
                                                                                break;
                                                                            }
                                                                    }                                                                                                                                       
                                                                }
                                                            </InputSelect>
                                                            <ValidationMessage For=@(() => Correspondencia.DptoSeccionType) />
                                                        </div>
                                                    </div>
                                                </div>
                                                @switch (Correspondencia.DptoSeccionType)
                                                {
                                                        case DataModel.enumUserRoleType.None:
                                                        {
                                                            <div class="col-sm-4">
                                                                <label for="password">@languageContainerService.Keys["Departamento o Sección Dirigido"]</label>
                                                                <div class="form-group">
                                                                    <div class="form-line">
                                                                        <InputText disabled="@(disabledDatosRecepcion)" class="form-control" @bind-Value="Correspondencia.DptoSeccion" />
                                                                        <ValidationMessage For=@(() => Correspondencia.DptoSeccion) />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            break;
                                                        }
                                                }
                                                
                                                <div class="col-sm-8">
                                                    <label for="password">@languageContainerService.Keys["Nombre a quien va Dirigido"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@(disabledDatosRecepcion)" class="form-control" @bind-Value="Correspondencia.NombreDirigido" />
                                                            <ValidationMessage For=@(() => Correspondencia.NombreDirigido) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label for="password">@languageContainerService.Keys["Correo a quien va Dirigido"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@(disabledDatosRecepcion)" class="form-control" @bind-Value="Correspondencia.EmailDirigido" />
                                                            <ValidationMessage For=@(() => Correspondencia.EmailDirigido) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>@languageContainerService.Keys["Fecha de Recepción"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <RadzenDatePicker Disabled="disabledDatosRecepcion" TValue="DateTime?" Max="DateTime.Now" Min="Correspondencia.FechaRevision" @bind-Value="Correspondencia.FechaRecibo" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                            <ValidationMessage For=@(() => Correspondencia.FechaRecibo) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label for="password">@languageContainerService.Keys["Nombre de quien Recibe"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText disabled="@(disabledDatosRecepcion)" class="form-control" @bind-Value="Correspondencia.NombreRecibido" />
                                                            <ValidationMessage For=@(() => Correspondencia.NombreRecibido) />
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="col-sm-12">
                                                    <label>@languageContainerService.Keys["Firma de quien Recibe"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <SignaturePad @ref="signaturePad5" OnSignatureChange="OnSignatureChange5"
                                                                          MinHeight="150" MaxHeight="190" BackgroundColor="#FFFFFF">
                                                                <SignaturePadFooter>
                                                                    <SignaturePadClear>
                                                                        <button type="button" class="btn btn-sm btn-outline-primary waves-effect" @onclick="RemoveSignatureImg5">@languageContainerService.Keys["Clear"]</button>
                                                                    </SignaturePadClear>
                                                                </SignaturePadFooter>
                                                            </SignaturePad>
                                                        </div>
                                                    </div>
                                                </div>
                                                *@
                                            </div>

                                            <h5>@languageContainerService.Keys["Datos de Seguimiento"]</h5>
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <label>@languageContainerService.Keys["Fecha de Seguimiento"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <RadzenDatePicker TValue="DateTime?" Max="DateTime.Now" Min="Correspondencia.FechaRecibo" @bind-Value="Correspondencia.FechaRespuesta" ShowTime="false" DateFormat="dd/MM/yyyy" />
                                                            <ValidationMessage For=@(() => Correspondencia.FechaRespuesta) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label for="password">@languageContainerService.Keys["No. Documento que da Respuesta a Solicitud"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputText class="form-control" @bind-Value="Correspondencia.NumDocRespuesta" />
                                                            <ValidationMessage For=@(() => Correspondencia.NumDocRespuesta) />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <label for="password">@languageContainerService.Keys["Seguimiento del caso"]</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <InputTextArea rows="8" class="form-control" @bind-Value="Correspondencia.RespuestaCaso" />
                                                            <ValidationMessage For=@(() => Correspondencia.RespuestaCaso) />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <br><br>
                                           

                                            <div class="kt-portlet__foot" style="text-align:right;">
                                                <div class="kt-form__actions">
                                                    <button type="submit"
                                                            class="btn btn-info waves-effect">
                                                        @languageContainerService.Keys["Save"]
                                                    </button>
                                                    <button type="button" class="btn btn-danger waves-effect"
                                                    @onclick="(e)=>{Cancel();}">
                                                        @languageContainerService.Keys["Cancel"]
                                                    </button>
                                                </div>
                                            </div>

                                        </EditForm>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

}

